{% load component_tags %}

<!-- Modal del Profile Card -->
<div class="modal" id="profileModal" tabindex="-1" aria-labelledby="profileModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen-md-down modal-xl modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <input id="userIDModal" type="hidden"></input>
        <h5 class="modal-title" id="modalUserTitle">
          {% if current_user.is_admin %}
            <button class="btn-sm" id="profileModalBtn" onclick="">Ver Perfil</button>
          {% endif %}
          <span class="badge" id="teacherProfile"></span>
        </h5>

        <button type="button" class="btn btn-outline-primary btn-close" data-bs-dismiss="modal" aria-label="Close">
          &times;
        </button>
      </div>
      <!-- <div class="modal-body col-10" style="margin-left: auto; margin-right: auto;"> -->
      <div class="modal-body">
        <!-- The Grid -->
        <div class="w3-row-padding">

          {% information current_user user True %}
          {% schedule current_user True %}
          {% statistics current_user user True %}
          {% notes current_user current_user noteForm %}
          {% levels current_user user True %}

        </div>
        <!-- End Grid -->
        <hr>
        <!-- The Grid -->
        <div class="w3-row-padding">

          {% attendances current_user user True %}

        </div>
        <!-- End Grid -->
      </div>
    </div>
  </div>
</div>

<script>
  //  THIS FUNCTION LOADS USER MODAL PROFILE INFORMATION
  function load_profile_data(userID) {
    studentPastAttendanceCounter = 0;
    allPastAttendancesLoaded = false;
    studentFutureAttendanceCounter = 0;
    allFutureAttendancesLoaded = false;
    noteCounter = 0;
    allNoteLoaded = false;

    document
      .querySelector("#studentNoteButton")
      .style
      .display = "inline-block";
    document
      .querySelector("#showStudentNoteButton")
      .style
      .visibility = "hidden";
    document
      .querySelector("#studentNote")
      .style
      .display = "none";
    document
      .querySelector("#addNote")
      .style
      .display = "none";

    document
      .querySelector("#studentNoteBody")
      .innerHTML = "";

    $("#userIDModal").val(userID);
    $("#inputUserModalSearchAttendance").val(userID);

    const noteCurrentUserID = $("#noteCurrentUserID").attr("value");

    $("#noteForm").attr("action", `/users/create_note/${userID}`);

    document
      .querySelector("#studentNoteButton")
      .setAttribute("onClick", `javascript: studentNote(${userID}, ${noteCurrentUserID});`);

    document
      .querySelector("#loadMoreNote")
      .setAttribute("onClick", `javascript: loadNote(${userID}, ${noteCurrentUserID});`);

    document
      .querySelector("#loadMorePastAttendances")
      .style
      .display = "block";
    document
      .querySelector("#pastAttendancesTableBodyModal")
      .innerHTML = "";

    document
      .querySelector("#loadMoreFutureAttendances")
      .style
      .display = "block";
    document
      .querySelector("#futureAttendancesTableBodyModal")
      .innerHTML = "";

    document
      .querySelector("#studentScheduleBodyModal")
      .innerHTML = "";
    document
      .querySelector("#studentScheduleModal")
      .style
      .display = "none";
    document
      .querySelector("#showScheduleButtonModal")
      .style
      .visibility = "hidden";
    document
      .querySelector("#getScheduleButtonModal")
      .style
      .display = "inline-block";

    document
      .querySelector("#studentAttendanceStatsBodyModal")
      .innerHTML = "";

    let element = document.querySelector("#studentPaymentStatsBodyModal");

    if (typeof element != "undefined" && element != null) {
      document
        .querySelector("#studentPaymentStatsBodyModal")
        .innerHTML = "";
    }

    document
      .querySelector("#showStudentStatisticsButtonModal")
      .style
      .visibility = "hidden";
    document
      .querySelector("#studentStatisticsModal")
      .style
      .display = "none";
    document
      .querySelector("#studentStatisticsButtonModal")
      .style
      .display = "inline-block";

    document
      .querySelector("#levelsDivModal")
      .style
      .display = "none";
    document
      .querySelector("#showLevelsBtnModal")
      .style
      .visibility = "hidden";
    document
      .querySelector("#levelsBtnModal")
      .style
      .display = "inline-block";

    $.ajax({
      type: "GET",
      url: `${mysite}/courses/user_data/`,
      data: {
        userID: userID
      },
      beforeSend: function () {
        // TODO
      },
      error: function (error) {
        console.log("Error!", error);
      },
      success: function (response) {

        document
          .querySelector("#getScheduleButtonModal")
          .setAttribute("onClick", `javascript: getSchedule(${userID}, ${response.user[0].is_admin || response.user[0].is_teacher}, true);`);

        document
          .querySelector("#loadMoreFutureAttendances")
          .setAttribute("onClick", `javascript: load_future_attendances(true, ${response.is_admin});`);

        document
          .querySelector("#loadMorePastAttendances")
          .setAttribute("onClick", `javascript: load_past_attendances(true, ${response.is_admin});`);

        document
          .querySelector("#studentStatisticsButtonModal")
          .setAttribute("onClick", `javascript: studentStatistics(${userID}, true, ${response.is_admin});`);

        document
          .querySelector("#levelsBtnModal")
          .setAttribute("onClick", `javascript: levels(${userID}, ${response.is_staff}, true);`);

        document
          .querySelector("#teacherProfile")
          .innerHTML = response
          .user[0]
          .teacher__username;
        try {
          document
            .querySelector("#profileModalBtn")
            .setAttribute("onClick", `window.location.replace("${mysite}/courses/student/${response.user[0].id}")`);
          document
            .querySelector("#userNote")
            .innerHTML = `<i class="fas fa-sticky-note fa-fw w3-margin-right w3-large w3-text-blue" style="color: steelblue !important;"></i>${response
            .user[0]
            .note}`;
          // document.querySelector("#signature").src = `${mysite}/media/${response.user[0].signature}`;
        } catch  {
          console.log("Es otro fin de mes, sin novedad...");
        }

        document
          .querySelector("#modalImage")
          .src = `${mysite}/media/${response
          .user[0]
          .image}`;

        if (response.user[0].is_admin) {
          document
            .querySelector("#userType")
            .innerHTML = "Admin";
        } else if (response.user[0].is_teacher) {
          document
            .querySelector("#userType")
            .innerHTML = "Profesor";
        } else {
          document
            .querySelector("#userType")
            .innerHTML = "Estudiante";
        }

        document
          .querySelector("#studentName")
          .innerHTML = `${response
          .user[0]
          .first_name} ${response
          .user[0]
          .last_name}`;
        document
          .querySelector("#modalSearchAttendanceLabel")
          .innerHTML = `Buscar clases de ${response
          .user[0]
          .first_name} ${response
          .user[0]
          .last_name}`;

        document
          .querySelector("#userUsername")
          .innerHTML = `@${response
          .user[0]
          .username}`;

        document
          .querySelector("#userDocument")
          .innerHTML = `<i class="fas fa-id-card fa-fw w3-margin-right w3-large w3-text-blue" style="color: steelblue !important;"></i>${response
          .user[0]
          .id_type__id_type}: ${response
          .user[0]
          .identity_document}`;

        document
          .querySelector("#userGender")
          .innerHTML = `<i class="fas fa-venus-mars fa-fw w3-margin-right w3-large w3-text-blue" style="color: steelblue !important;"></i>${response
          .user[0]
          .sex__sex_name}`;

        const ageDate = new Date(Date.now() - new Date(response.user[0].date_birth));

        document
          .querySelector("#userAge")
          .innerHTML = `<i class="fas fa-birthday-cake fa-fw w3-margin-right w3-large w3-text-blue" style="color: steelblue !important;"></i>${response
          .user[0]
          .date_birth} - Edad: ${Math
          .abs(ageDate.getUTCFullYear() - 1970)}`;

        document
          .querySelector("#userEmail")
          .innerHTML = `<i class="fas fa-envelope fa-fw w3-margin-right w3-large w3-text-blue" style="color: steelblue !important;"></i>${response
          .user[0]
          .email}`;

        document
          .querySelector("#userParent")
          .innerHTML = `<i class="fas fa-user fa-fw w3-margin-right w3-large w3-text-blue" style="color: steelblue !important;"></i>Acudiente: ${response
          .user[0]
          .parent}`;

        document
          .querySelector("#userTeacher")
          .innerHTML = `<i class="fas fa-swimmer fa-fw w3-margin-right w3-large w3-text-blue" style="color: steelblue !important;"></i>Profesor: ${response
          .user[0]
          .teacher__username}`;

        document
          .querySelector("#userPhone1")
          .innerHTML = `<i class="fas fa-phone fa-fw w3-margin-right w3-large w3-text-blue" style="color: steelblue !important;">1</i><a target="_blank" href="https://api.whatsapp.com/send?phone=57${response
          .user[0]
          .phone_1}">${response
          .user[0]
          .phone_1}</a>`;

        document
          .querySelector("#userPhone2")
          .innerHTML = `<i class="fas fa-phone fa-fw w3-margin-right w3-large w3-text-blue" style="color: steelblue !important;">2</i><a target="_blank" href="https://api.whatsapp.com/send?phone=57${response
          .user[0]
          .phone_2}">${response
          .user[0]
          .phone_2}</a>`;
      }
    });
    load_future_attendances(true, true);
    load_past_attendances(true, true);
  }
</script>
