{% load crispy_forms_tags %}

<!-- Modal to show student inconsistencies -->
<div class="modal" id="inconsistenciesStudentModal" tabindex="-1" aria-labelledby="inconsistenciesStudentModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen-md-down modal-lg modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="inconsistenciesStudentModalLabel">Inconsistencias</h5>
        <button type="button" class="btn btn-outline-primary btn-close" data-bs-dismiss="modal" aria-label="Close">&times;</button>
      </div>
      <div class="modal-body col-10" style="margin-left: auto; margin-right: auto">
        <table>
          <thead>
            <tr>
              <th scope="col">Documento</th>
              <th scope="col">Nombres</th>
              <th scope="col">Apellidos</th>
              <th scope="col">Tel/Cel (1)</th>
              <th scope="col">Tel/Cel (2)</th>
              <th scope="col">Excepción</th>
            </tr>
          </thead>
          <tbody id="inconsistenciesTableBody"></tbody>
        </table>
        <div id="loadInconsistencies"></div>
      </div>
    </div>
  </div>
</div>

<!-- Modal to show students plus -->
<div class="modal" id="plusStudentModal" tabindex="-1" aria-labelledby="plusStudentModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen-md-down modal-lg modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="plusStudentModalLabel">Estudiantes +</h5>
        <button type="button" class="btn btn-outline-primary btn-close" data-bs-dismiss="modal" aria-label="Close">&times;</button>
      </div>
      <div class="modal-body col-10" style="margin-left: auto; margin-right: auto">
        <table>
          <thead>
            <tr>
              <th scope="col">Documento</th>
              <th scope="col">Nombres</th>
              <th scope="col">Apellidos</th>
              <th scope="col">Tel/Cel (1)</th>
              <th scope="col">Tel/Cel (2)</th>
            </tr>
          </thead>
          <tbody id="plusTableBody"></tbody>
        </table>
        <div id="loadplus"></div>
      </div>
    </div>
  </div>
</div>

<!-- MODAL TO SHOW STUDENT’S CHANGED INFORMATION -->
<div class="modal" id="changeStudentModal" tabindex="-1" aria-labelledby="changeStudentModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen-md-down modal-lg modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="changeStudentModalLabel">Cambio de información -
          {{ changeCount }}</h5>
        <button type="button" class="btn btn-outline-primary btn-close" data-bs-dismiss="modal" aria-label="Close">&times;</button>
      </div>
      <div class="modal-body col-10" style="margin-left: auto; margin-right: auto">
        <table>
          <thead>
            <tr>
              <th scope="col">Documento</th>
              <th scope="col">Nombres</th>
              <th scope="col">Apellidos</th>
              <th scope="col">Tel/Cel (1)</th>
              <th scope="col">Tel/Cel (2)</th>
            </tr>
          </thead>
          <tbody id="changeTableBody"></tbody>
        </table>
        <div id="loadChange"></div>
      </div>
    </div>
  </div>
</div>

<!-- Modal to show teachers -->
<div class="modal" id="teachersModal" tabindex="-1" aria-labelledby="teachersModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen-md-down modal-lg modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="teachersModalLabel">Profesores</h5>
        <button type="button" class="btn btn-outline-primary btn-close" data-bs-dismiss="modal" aria-label="Close">&times;</button>
      </div>
      <div class="modal-body col-10" style="margin-left: auto; margin-right: auto">
        <table>
          <thead>
            <tr>
              <th scope="col">Documento</th>
              <th scope="col">Nombres</th>
              <th scope="col">Apellidos</th>
              <th scope="col">Tel/Cel (1)</th>
              <th scope="col">Tel/Cel (2)</th>
              <th scope="col">Últ. vez</th>
            </tr>
          </thead>
          <tbody id="teachersTableBody"></tbody>
        </table>
        <div id="loadTeachers"></div>
      </div>
    </div>
  </div>
</div>

<!-- -- Modal to show active students -- -->
<div class="modal" id="activeStudentsModal" tabindex="-1" aria-labelledby="" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen-md-down modal-lg modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Estudiantes Activos -
          {{ countActiveStudents }}</h5>
        <button type="button" class="btn btn-outline-primary btn-close" data-bs-dismiss="modal" aria-label="Close">&times;</button>
      </div>
      <div class="modal-body col-10" style="margin-left: auto; margin-right: auto">
        <input id="activeStudentsSearch" type="text" placeholder="Buscar Estudiante Activo" class="form-control"/>
        <input id="activeStudentsSearchValue" type="hidden" value=""/>
        <br/>
        <table id="searchActiveStudentsTable" style="background-color: lightgoldenrodyellow">
          <thead>
            <tr>
              <th scope="col">Documento</th>
              <th scope="col">Nombres</th>
              <th scope="col">Apellidos</th>
              <th scope="col">Tel/Cel (1)</th>
              <th scope="col">Tel/Cel (2)</th>
            </tr>
          </thead>
          <tbody id="searchActiveStudentsTableBody"></tbody>
        </table>
        <div id="searchLoadActiveStudents"></div>
        <br/>
        <table>
          <thead>
            <tr>
              <th scope="col">Documento</th>
              <th scope="col">Nombres</th>
              <th scope="col">Apellidos</th>
              <th scope="col">Tel/Cel (1)</th>
              <th scope="col">Tel/Cel (2)</th>
            </tr>
          </thead>
          <tbody id="activeStudentsTableBody"></tbody>
        </table>
        <div id="loadActiveStudents"></div>
        <br/>
        <button id="loadMoreActiveStudentsBtn" onclick="load_active_students();" type="button" class="btn btn-outline-primary">Cargar Más</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal to create a new student-->
<div class="modal" id="createStudentModal" tabindex="-1" aria-labelledby="createStudentModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen-md-down modal-md modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="createStudentModalLabel">Crear Estudiante</h5>
        <button onclick="setDefaultPassword();" type="button" class="btn btn-outline-primary">Contraseña: "AquariumSchool"</button>
        <button type="button" class="btn btn-outline-primary btn-close" data-bs-dismiss="modal" aria-label="Close">&times;</button>
      </div>
      <div class="modal-body col-10" style="margin-left: auto; margin-right: auto">
        <form id="createStudentForm" action="" method="POST">
          {% csrf_token %}
          {{ studentForm|crispy }}
          <ul id="createStudentMessages"></ul>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            <button id="createStudentButton" type="submit" class="btn btn-primary">Crear</button>
            <div id="loadCreateStudent"></div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  $("#activeStudentsSearch").keyup(delay(function () {
    $.ajax({
      type: "GET",
      url: `${mysite}/courses/search_active_students/`,
      data: {
        student: $(this).val()
      },
      beforeSend: beforeFunc(null, "searchLoadActiveStudents", null, "searchActiveStudentsTableBody"),
      error: (error) => console.log("Error!", error),
      success: function (response) {
        if (response.students.length > 0) {
          for (let studentsID = 0; studentsID < response.students.length; studentsID++) {
            $(`#searchActiveStudentsTableBody`).append(`<tr> \
									<td scope="row" data-label="Documento"> \
										<a href="#" onclick="load_profile_data(${response.students[studentsID].id});" data-bs-toggle="modal" data-bs-target="#profileModal">${response.students[studentsID].identity_document}</a>\
									</td>\
									<td scope="row" data-label="Nombres">\
										<a href="#" onclick="load_profile_data(${response.students[studentsID].id});" data-bs-toggle="modal" data-bs-target="#profileModal">${response.students[studentsID].first_name}</a>\
									</td>\
									<td scope="row" data-label="Apellidos">\
										<a href="#" onclick="load_profile_data(${response.students[studentsID].id});" data-bs-toggle="modal" data-bs-target="#profileModal">${response.students[studentsID].last_name}</a>\
									</td>\
									<td scope="row" data-label="Tel/Cel (1)">\
										<a href="#" onclick="load_profile_data(${response.students[studentsID].id});" data-bs-toggle="modal" data-bs-target="#profileModal">${response.students[studentsID].phone_1}</a>\
									</td>\
									<td style="border-bottom: 2px solid steelblue;" scope="row" data-label="Tel/Cel (2)">\
										<a href="#" onclick="load_profile_data(${response.students[studentsID].id});" data-bs-toggle="modal" data-bs-target="#profileModal">${response.students[studentsID].phone_2}</a>\
									</td>\
								</tr>`);
          }
        } else {
          $(`#searchActiveStudentsTableBody`).append(`<tr> \
									<td scope="row" data-label="Documento"> \
										<a href="#">SIN RESULTADOS</a>\
									</td>\
									<td scope="row" data-label="Nombres">\
										<a href="#">-</a>\
									</td>\
									<td scope="row" data-label="Apellidos">\
										<a href="#">-</a>\
									</td>\
									<td scope="row" data-label="Tel/Cel (1)">\
										<a href="#">-</a>\
									</td>\
									<td style="border-bottom: 2px solid steelblue;" scope="row" data-label="Tel/Cel (2)">\
										<a href="#">-</a>\
									</td>\
								</tr>`);
        }
        afterFunc(null, "searchLoadActiveStudents");
      }
    });
  }, 1000));

  function showStudentOptions() {
    if (document.querySelector("#studentOptions").style.display === "none") {
      document
        .querySelector("#studentOptions")
        .style
        .display = "block";
      document
        .querySelector("#showStudentOptionsButton")
        .innerHTML = "Cerrar";
    } else {
      document
        .querySelector("#studentOptions")
        .style
        .display = "none";
      document
        .querySelector("#showStudentOptionsButton")
        .innerHTML = "Abrir";
    }
  }

  function get_inconsistencies() {
    if (inconsistenciesLoaded == false) {
      fetch(`${mysite}/courses/inconsistencies/`)
        .then((response) => response.json())
        .then((response) => {
          inconsistenciesLoaded = true;

          for (let studentID = 0; studentID < response.students.length; studentID++) {
            let btnException;
            let btnExceptionClass;

            if (response.students[studentID].exception === false) {
              btnException = "NO";
              btnExceptionClass = "btn-danger";
            } else {
              btnException = "SI";
              btnExceptionClass = "btn-success";
            }
            $("#inconsistenciesTableBody").append(`<tr> \
                                                <td scope="row" data-label="Documento"> \
                                                    <a href="#" onclick="load_profile_data(${response.students[studentID].id});" data-bs-toggle="modal" data-bs-target="#profileModal">${response.students[studentID].document}</a>\
                                                </td>\
                                                <td scope="row" data-label="Nombres">\
                                                    <a href="#" onclick="load_profile_data(${response.students[studentID].id});" data-bs-toggle="modal" data-bs-target="#profileModal">${response.students[studentID].first_name}</a>\
                                                </td>\
                                                <td scope="row" data-label="Apellidos">\
                                                    <a href="#" onclick="load_profile_data(${response.students[studentID].id});" data-bs-toggle="modal" data-bs-target="#profileModal">${response.students[studentID].last_name}</a>\
                                                </td>\
                                                <td scope="row" data-label="Tel/Cel (1)">\
                                                    <a href="#" onclick="load_profile_data(${response.students[studentID].id});" data-bs-toggle="modal" data-bs-target="#profileModal">${response.students[studentID].phone_1}</a>\
                                                </td>\
                                                <td scope="row" data-label="Tel/Cel (2)">\
                                                    <a href="#" onclick="load_profile_data(${response.students[studentID].id});" data-bs-toggle="modal" data-bs-target="#profileModal">${response.students[studentID].phone_2}</a>\
                                                </td>\
                                                <td style="border-bottom: 2px solid steelblue;" id="tdException${response.students[studentID].id}" scope="row" data-label="Excepción">\
                                                    <button onclick="changeException(${response.students[studentID].id});" class="btn btn-sm ${btnExceptionClass}">${btnException}</button>\
                                                </td>\
                                            </tr>`);
          }
        });
    }
  }

  function get_plus() {
    if (plusLoaded == false) {
      fetch(`${mysite}/courses/plus/`)
        .then((response) => response.json())
        .then((response) => {
          plusLoaded = true;

          for (let studentID = 0; studentID < response.students.length; studentID++) {
            $("#plusTableBody").append(`<tr> \
                                                <td scope="row" data-label="Documento"> \
                                                    <a href="#" onclick="load_profile_data(${response.students[studentID].id});" data-bs-toggle="modal" data-bs-target="#profileModal">${response.students[studentID].document}</a>\
                                                </td>\
                                                <td scope="row" data-label="Nombres">\
                                                    <a href="#" onclick="load_profile_data(${response.students[studentID].id});" data-bs-toggle="modal" data-bs-target="#profileModal">${response.students[studentID].first_name}</a>\
                                                </td>\
                                                <td scope="row" data-label="Apellidos">\
                                                    <a href="#" onclick="load_profile_data(${response.students[studentID].id});" data-bs-toggle="modal" data-bs-target="#profileModal">${response.students[studentID].last_name}</a>\
                                                </td>\
                                                <td scope="row" data-label="Tel/Cel (1)">\
                                                    <a href="#" onclick="load_profile_data(${response.students[studentID].id});" data-bs-toggle="modal" data-bs-target="#profileModal">${response.students[studentID].phone_1}</a>\
                                                </td>\
                                                <td style="border-bottom: 2px solid steelblue;" scope="row" data-label="Tel/Cel (2)">\
                                                    <a href="#" onclick="load_profile_data(${response.students[studentID].id});" data-bs-toggle="modal" data-bs-target="#profileModal">${response.students[studentID].phone_2}</a>\
                                                </td>\
                                            </tr>`);
          }
        });
    }
  }

  function get_change() {
    if (changeLoaded == false) {
      fetch(`${mysite}/courses/change/`)
        .then((response) => response.json())
        .then((response) => {
          changeLoaded = true;

          for (let studentID = 0; studentID < response.students.length; studentID++) {
            $("#changeTableBody").append(`<tr> \
                                                <td scope="row" data-label="Documento"> \
                                                    <a href="${mysite}/courses/student/${response.students[studentID].id}">${response.students[studentID].identity_document}</a>\
                                                </td>\
                                                <td scope="row" data-label="Nombres">\
                                                    <a href="${mysite}/courses/student/${response.students[studentID].id}">${response.students[studentID].first_name}</a>\
                                                </td>\
                                                <td scope="row" data-label="Apellidos">\
                                                    <a href="${mysite}/courses/student/${response.students[studentID].id}">${response.students[studentID].last_name}</a>\
                                                </td>\
                                                <td scope="row" data-label="Tel/Cel (1)">\
                                                    <a href="${mysite}/courses/student/${response.students[studentID].id}">${response.students[studentID].phone_1}</a>\
                                                </td>\
                                                <td style="border-bottom: 2px solid steelblue;" scope="row" data-label="Tel/Cel (2)">\
                                                    <a href="${mysite}/courses/student/${response.students[studentID].id}">${response.students[studentID].phone_2}</a>\
                                                </td>\
                                            </tr>`);
          }
        });
    }
  }

  function get_teachers() {
    if (teachersLoaded == false) {
      fetch(`${mysite}/courses/teachers/`)
        .then((response) => response.json())
        .then((response) => {
          teachersLoaded = true;

          for (let studentID = 0; studentID < response.students.length; studentID++) {
            login = prettyDate(response.students[studentID].real_last_login);

            login = login !== "1969-12-31"
              ? login
              : "Nunca";

            $("#teachersTableBody").append(`<tr> \
                                                <td scope="row" data-label="Documento"> \
                                                    <a href="${mysite}/courses/student/${response.students[studentID].id}">${response.students[studentID].identity_document}</a>\
                                                </td>\
                                                <td scope="row" data-label="Nombres">\
                                                    <a href="${mysite}/courses/student/${response.students[studentID].id}">${response.students[studentID].first_name}</a>\
                                                </td>\
                                                <td scope="row" data-label="Apellidos">\
                                                    <a href="${mysite}/courses/student/${response.students[studentID].id}">${response.students[studentID].last_name}</a>\
                                                </td>\
                                                <td scope="row" data-label="Tel/Cel (1)">\
                                                    <a href="${mysite}/courses/student/${response.students[studentID].id}">${response.students[studentID].phone_1}</a>\
                                                </td>\
                                                <td scope="row" data-label="Tel/Cel (2)">\
                                                    <a href="${mysite}/courses/student/${response.students[studentID].id}">${response.students[studentID].phone_2}</a>\
                                                </td>\
                                                <td style="border-bottom: 2px solid steelblue;" scope="row" data-label="Últ. vez">\
                                                    <a href="${mysite}/courses/student/${response.students[studentID].id}">${login}</a>\
                                                </td>\
                                            </tr>`);
          }
        });
    }
  }

  function changeException(userID) {
    fetch(`${mysite}/courses/change_exception/${userID}`)
      .then((response) => response.json())
      .then((response) => {
        if (response.exception == true) {
          document
            .querySelector(`#tdException${userID}`)
            .innerHTML = `<button onclick='changeException(${userID});' class='btn btn-sm btn-success'>SI</button>`;
        } else {
          document
            .querySelector(`#tdException${userID}`)
            .innerHTML = `<button onclick='changeException(${userID});' class='btn btn-sm btn-danger'>NO</button>`;
        }
      });
  }

  function load_active_students() {
    const start = activeStudentsCounter;
    const end = activeStudentsCounter + activeStudentsQuantity;
    activeStudentsCounter = end + 1;

    if (allActiveStudentsLoaded === false) {
      $.ajax({
        type: "GET",
        url: `${mysite}/courses/load_active_students/`,
        data: {
          start: start,
          end: end
        },
        beforeSend: beforeFunc("loadMoreActiveStudentsBtn", "loadActiveStudents"),
        error: (error) => console.log("Error!", error),
        success: function (response) {
          if (response.all_loaded == true) 
            allActiveStudentsLoaded = true;
          
          for (let studentsID = 0; studentsID < response.students.length; studentsID++) {
            $(`#activeStudentsTableBody`).append(`<tr> \
									<td scope="row" data-label="Documento"> \
										<a href="#" onclick="load_profile_data(${response.students[studentsID].id});" data-bs-toggle="modal" data-bs-target="#profileModal">${response.students[studentsID].identity_document}</a>\
									</td>\
									<td scope="row" data-label="Nombres">\
										<a href="#" onclick="load_profile_data(${response.students[studentsID].id});" data-bs-toggle="modal" data-bs-target="#profileModal">${response.students[studentsID].first_name}</a>\
									</td>\
									<td scope="row" data-label="Apellidos">\
										<a href="#" onclick="load_profile_data(${response.students[studentsID].id});" data-bs-toggle="modal" data-bs-target="#profileModal">${response.students[studentsID].last_name}</a>\
									</td>\
									<td scope="row" data-label="Tel/Cel (1)">\
										<a href="#" onclick="load_profile_data(${response.students[studentsID].id});" data-bs-toggle="modal" data-bs-target="#profileModal">${response.students[studentsID].phone_1}</a>\
									</td>\
									<td style="border-bottom: 2px solid steelblue;" scope="row" data-label="Tel/Cel (2)">\
										<a href="#" onclick="load_profile_data(${response.students[studentsID].id});" data-bs-toggle="modal" data-bs-target="#profileModal">${response.students[studentsID].phone_2}</a>\
									</td>\
								</tr>`);
          }
          afterFunc("loadMoreActiveStudentsBtn", "loadActiveStudents");
        }
      });
    }
  }
</script>