<!-- Modal para activar/desactivar/editar nivel -->
<div class="modal fade" id="modalLevel" tabindex="-1" aria-labelledby="exampleModalLabel4" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen-md-down modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="levelName"></h5>
        <button id="deactivateLevel" type="button" class="btn btn-danger" data-bs-dismiss="">Desactivar</button>
        <button type="button" class="btn btn-outline-primary btn-close" onclick="$('#modalLevel').modal('hide');" aria-label="Close">&times;</button>
      </div>
      <div class="modal-body" style="margin-left: auto; margin-right: auto">
        <!-- ------------ -->
        <ul id="levelFormMessages"></ul>
        <form id="levelForm">
          {% csrf_token %}
          <div id="levelFormDiv"></div>
        </form>

        <!-- ------------ -->
      </div>
    </div>
  </div>
</div>

<script>
  $("#levelForm").submit(function (e) {
    e.preventDefault();
    const form = $(this);
    const action = form.attr("action");

    if (action) {
      $.ajax({
        type: "POST",
        url: `${mysite}${action}`,
        data: form.serialize(),
        beforeSend: beforeFunc("btnLevelSubmit", "btnLevelLoader", "levelFormMessages"),
        error: (error) => console.log("Error!", error),
        success: function (response) {
          const messages = response.messages.length > 0
            ? response.messages
            : ["Cambios Guardados!"];
          if (response.edited) {
            levels(
              response.userID, true, response.modal === "false"
              ? false
              : true);
          }
          afterFunc("btnLevelSubmit", "btnLevelLoader", "levelFormMessages", messages, response.edited)
        }
      });
    }
  });

  function editLevel(studentLevelID, modal = false) {
    fetch(`${mysite}/courses/level_info/${studentLevelID}`)
      .then((response) => response.json())
      .then((response) => {
        document
          .querySelector("#levelFormMessages")
          .classList
          .remove("alert");

        document
          .querySelector("#levelFormMessages")
          .classList
          .remove("alert-danger");

        document
          .querySelector("#levelFormMessages")
          .innerHTML = "";

        document
          .querySelector("#levelName")
          .innerHTML = `${response.name}`;
        document
          .querySelector("#deactivateLevel")
          .setAttribute("onClick", `javascript: deactivateLevel(${studentLevelID}, ${modal});`);

        $("#levelFormDiv").html(response.form);
        $("#levelForm").attr("action", `/courses/edit_level/${studentLevelID}/${modal}`);
        $("#levelFormDiv").append(`<button id="btnLevelSubmit" class="btn btn-secondary" type="submit">Guardar</button> \
				<div id="btnLevelLoader"></div>`);
      });
  }

  function deactivateLevel(studentLevelID, modal = false) {
    fetch(`${mysite}/courses/deactivate_level/${studentLevelID}`)
      .then((response) => response.json())
      .then((response) => {
        levels(response.userID, true, modal);
        $("#modalLevel").modal('hide');
      });
  }
</script>