<!-- Modal para cortar imagen de usuario -->
<div class="modal" id="modalCrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen-md-down modal-lg modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Imagen</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="background-color: white"></button>
      </div>
      <div class="modal-body col-10" style="margin-left: auto; margin-right: auto">
        <!-- ------------ -->
        <img src="" id="image" style="max-width: 500px; max-height: 500px"/>
        <!-- ------------ -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Atrás</button>
        <button type="submit" class="btn btn-outline-primary js-crop-and-upload">Subir Foto</button>
      </div>
    </div>
  </div>
</div>
