{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block head %}
<!-- CROPPER  -->
<link href="{% static 'css/cropper.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

{% if request.user == user %}
<!-- MODAL TO SEARCH ATTENDANCE -->
<div class="modal fade" id="modalSearchAttendance" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen-md-down modal-lg modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Buscar Clases de {{ user }}</h5>
                <button type="button" class="btn btn-outline-primary btn-close" data-bs-dismiss="modal" aria-label="Close">
                    &times;
                </button>
            </div>
            <div class="modal-body" style="margin-left: auto; margin-right: auto;">
                <!-- ------------ -->
                <form action="{% url 'courses:search_attendance' %}" id="attendanceSearchForm" method="GET">
                    {% csrf_token %}
                    <input type="hidden" name="userID" value="{{ user.id }}">
                    <input type="date" name="date" class="dateinput form-control" id="attendance_date" required> <br>
                    <button id="searchDateButton" type="submit" class="btn btn-outline-primary">Buscar</button>
                </form>
                <!-- ------------ -->
            </div>

            <div class="col-10" style="margin-left: auto; margin-right: auto;">
                <table id="resultsStudentsTable">
                    <thead>
                        <tr>
                            <th scope="col">Asistencia</th>
                            <th scope="col">Clase</th>
                        </tr>
                    </thead>
                    <tbody id="searchAttendancesTableBody"></tbody>
                </table>
            </div>
            <br>

        </div>
    </div>
</div>

<!-- MODAL TO EDIT PROFILE -->
<div class="modal fade" id="modalProfile" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen-md-down modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Actualizar Información</h5>
                <a class="btn btn-outline-dark" href="{% url 'users:change-password' %}">Cambiar Contraseña</a>
                <button type="button" class="btn btn-outline-primary btn-close" data-bs-dismiss="modal" aria-label="Close">
                    &times;
                </button>
            </div>
            <div class="modal-body" style="margin-left: auto; margin-right: auto;">
                <!-- ------------ -->
                <form id="editProfileForm" action="{% url 'users:edit_profile' user.id %}" method="POST" autocomplete="off" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ profileForm | crispy }}
                    <div id="editProfileMessages"></div>
                    <br>
                    <div class="modal-footer">
                        <!-- <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Atrás</button> -->
                        <button id="editProfileButton" type="submit" class="btn btn-outline-primary js-crop-and-upload">Guardar</button>
                        <div id="loadEditProfile"></div>
                    </div>
                </form>
                <!-- ------------ -->
            </div>
        </div>
    </div>
</div>

<!-- MODAL TO CROP THE IMAGE -->
<div class="modal" id="modalCrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen-md-down modal-lg modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Imagen</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="background-color: white;"></button>
            </div>
            <div class="modal-body col-10" style="margin-left: auto; margin-right: auto;">

                <!-- ------------ -->
                <img src="" id="image" style="max-width: 500px; max-height: 500px;">
                <!-- ------------ -->

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Atrás</button>
                <button type="submit" class="btn btn-outline-dark js-crop-and-upload">Subir Foto</button>
            </div>
        </div>
    </div>
</div>
{% endif %}

<!-- MODAL TO EDIT LEVEL -->
<div class="modal fade" id="modalLevel" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen-md-down modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="levelName"></h5>
                <button id="deactivateLevel" type="button" class="btn btn-danger" data-bs-dismiss="modal">Desactivar</button>
                <button type="button" class="btn btn-outline-primary btn-close" data-bs-dismiss="modal" aria-label="Close">
                    &times;
                </button>
            </div>
            <div class="modal-body" style="margin-left: auto; margin-right: auto;">
                <!-- ------------ -->
                <ul id="levelFormMessages"></ul>
                <form id="levelForm">
                    {% csrf_token %}
                    <div id="levelFormDiv"></div>
                </form>

                <!-- ------------ -->
            </div>
        </div>
    </div>
</div>

<!-- -- LEVEL MODAL -- -->
<div class="modal" id="levelModal" tabindex="-1" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen-md-down modal-lg modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="searchlevelName"></h5>
                <button type="button" class="btn btn-outline-primary btn-close" data-bs-dismiss="modal" aria-label="Close">
                    &times;
                </button>
            </div>
            <div class="modal-body col-10" style="margin-left: auto; margin-right: auto;">
                <input id="levelSearch" type="text" placeholder="Buscar Estudiante" class="form-control">
                <input id="levelSearchValue" type="hidden" value="">
                <br>
                <table id="searchLevelTable" style="visibility: hidden; background-color: lightgoldenrodyellow;">
                    <thead>
                        <tr>
                            <th scope="col">Documento</th>
                            <th scope="col">Nombres</th>
                            <th scope="col">Apellidos</th>
                            <th scope="col">Tel/Cel (1)</th>
                            <th scope="col">Tel/Cel (2)</th>
                        </tr>
                    </thead>
                    <tbody id="searchLevelTableBody"></tbody>
                </table>
                <div id="searchLoadLevel"></div> <br>
                <table>
                    <thead>
                        <tr>
                            <th scope="col">Documento</th>
                            <th scope="col">Nombres</th>
                            <th scope="col">Apellidos</th>
                            <th scope="col">Tel/Cel (1)</th>
                            <th scope="col">Tel/Cel (2)</th>
                        </tr>
                    </thead>
                    <tbody id="levelTableBody"></tbody>
                </table>
                <div id="loadLevel"></div> <br>
                <button id="loadMoreLevelBtn" onclick="load_students_levels();" type="button" class="btn btn-outline-primary">Cargar Más</button>
            </div>
        </div>
    </div>
</div>

<div id="modalsDiv"></div>

<div id="userID" value="{{ user.id }}"></div>

<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">

    <!-- The Grid -->
    <div class="w3-row-padding">

        <!-- Right Column -->
        <div class="w3-third" style="float: right;">

            <div class=" w3-text-grey w3-card-4 rounded">
                <div class="w3-display-container" style="text-align: center;">
                    <div class="image-group">
                        <img id="image" src="{{ user.image.url }}" style="width: 300px; border-radius: 50%; margin-top: 20px; margin-bottom: 20px; max-width: 100%; border: 10px solid #f2f7fd;" alt="Avatar">
                        <div class="middle">
                            <i id="id_image_group" class="fas fa-camera" style="color: steelblue; font-size: xxx-large;"></i>
                        </div>
                    </div>
                    <form action="{% url 'users:profile_photo' user.id %}" method="POST" autocomplete="off" enctype="multipart/form-data" id="formUpload">
                        {% csrf_token %}
                        <input type="hidden" name="x" id="id_x" value="">
                        <input type="hidden" name="y" id="id_y" value="">
                        <input type="hidden" name="h" id="id_height" value="">
                        <input type="hidden" name="w" id="id_width" value="">
                        <input type="file" name="image" id="id_file" accept="image/*" style="display: none;">
                    </form>
                    {% if user.is_admin %}
                    <span class="badge bg-success" style="color: white;"> Admin </span>
                    {% elif user.is_teacher %}
                    <span class="badge bg-success" style="color: white;"> Profesor </span>
                    {% else %}
                    <span class="badge bg-success" style="color: white;"> Estudiante </span>
                    {% endif %}
                    <h2 id="studentName">{{ user.first_name }} {{ user.last_name }}</h2>
                    <span class="badge bg-success">{{ user.user_type }}</span>
                </div>
                <hr>
                <div class="w3-container">
                    {% if request.user == user %}
                    <button style="float: right;" type="button" class="btn btn-outline-primary rounded-pill" data-bs-toggle="modal" data-bs-target="#modalProfile">Editar</button>
                    {% endif %}
                    <p><i class="fas fa-id-card fa-fw w3-margin-right w3-large w3-text-blue" style="color: steelblue !important;"></i>{{ user.id_type }}: {{ user.identity_document }}</p>
                    <p><i class="fas fa-venus-mars fa-fw w3-margin-right w3-large w3-text-blue" style="color: steelblue !important;"></i>{{ user.sex }}
                    </p>
                    <p><i class="fas fa-birthday-cake fa-fw w3-margin-right w3-large w3-text-blue" style="color: steelblue !important;"></i>{{ user.date_birth }}</p>
                    <p><i class="fas fa-envelope fa-fw w3-margin-right w3-large w3-text-blue" style="color: steelblue !important;"></i>{{ user.email }}</p>
                    <p><i class="fas fa-user fa-fw w3-margin-right w3-large w3-text-blue" style="color: steelblue !important;"></i>Acudiente: {{ user.parent }}</p>
                    <p><i class="fas fa-phone fa-fw w3-margin-right w3-large w3-text-blue" style="color: steelblue !important;">1</i>{{ user.phone_1 }}</p>
                    <p><i class="fas fa-phone fa-fw w3-margin-right w3-large w3-text-blue" style="color: steelblue !important;">2</i>{{ user.phone_2 }}</p>
                    <br>
                    {% if user.newrequest %}
                    <h3>Por aprobar:</h3>
                    <a style="float: right;" type="button" class="btn btn-outline-danger rounded-pill" href="{% url 'users:cancel_request' user.id %}">Cancelar</a>
                    <br>
                    <p><i class="fas fa-signature fa-fw w3-margin-right w3-large w3-text-blue" style="color: steelblue !important;"></i>{{ user.first_name_1 }} {{ user.last_name_1 }}</p>

                    <p><i class="fas fa-id-card fa-fw w3-margin-right w3-large w3-text-blue" style="color: steelblue !important;"></i>
                        {{ user.id_type }}: {{ user.identity_document_1 }}
                    </p>

                    <p><i class="fas fa-phone fa-fw w3-margin-right w3-large w3-text-blue" style="color: steelblue !important;">1</i>{{ user.phone_1_1 }}</p>
                    <p><i class="fas fa-phone fa-fw w3-margin-right w3-large w3-text-blue" style="color: steelblue !important;">2</i>{{ user.phone_2_1 }}</p>

                    {% endif %}
                </div>
            </div><br>

            <!-- End Right Column -->
        </div>

        <!-- Right Column -->
        <div class="w3-twothird">

            <div class="w3-container w3-card  w3-margin-bottom">
                <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-calendar fa-fw w3-margin-right w3-xxlarge w3-text-realBlue"></i>
                    Horario
                    <button id="getScheduleButton" class="btn btn-outline-primary" onclick="getSchedule({{ user.id }});">Abrir</button>
                    <button id="showScheduleButton" class="btn btn-outline-primary" onclick="showSchedule();" style="visibility: hidden;">Cerrar</button>
                </h2>
                <div id="studentSchedule" class="w3-container" style="display: none;">
                    <table>
                        <thead>
                            <tr>
                                <th scope="col">Hora</th>
                                <th scope="col">Lunes</th>
                                <th scope="col">Martes</th>
                                <th scope="col">Miercoles</th>
                                <th scope="col">Jueves</th>
                                <th scope="col">Viernes</th>
                                <th scope="col">Sabado</th>
                                <th scope="col">Domingo</th>
                            </tr>
                        </thead>
                        <tbody id="studentScheduleBody">
                        </tbody>
                    </table>
                    <div id="loadStudentSchedule"></div>
                    <br>
                </div>
            </div>

            <!-- End Right Column -->
        </div>
        {% if request.user.is_teacher or request.user.is_admin %}
        {% if request.user != user %}
        <div class="w3-twothird">

            <div class="w3-container w3-card  w3-margin-bottom">
                <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-chart-bar fa-fw w3-margin-right w3-xxlarge w3-text-realBlue"></i>
                    Estadísticas
                    <button id="studentStatisticsButton" class="btn btn-outline-primary" onclick="studentStatistics({{ user.id }});">Abrir</button>
                    <button id="showStudentStatisticsButton" class="btn btn-outline-primary" onclick="showStudentStatistics();" style="visibility: hidden;">Cerrar</button>
                </h2>
                <div id="studentStatistics" class="w3-container" style="display: none;">
                    <div id="loadStudentStatistics"></div>
                    <table>
                        <thead>
                            <tr>
                                <th scope="col">Asistió</th>
                                <th scope="col">Faltó</th>
                                <th scope="col">Recuperó</th>
                                <th scope="col">Puede Recuperar</th>
                            </tr>
                        </thead>
                        <tbody id="studentAttendanceStatsBody">
                        </tbody>
                    </table>
                    <br>
                    <table>
                        <thead>
                            <tr>
                                <th scope="col">Pago</th>
                                <th scope="col">Pago dia</th>
                                <th scope="col">No pago</th>
                                <th scope="col">Separado</th>
                                <th scope="col">Total</th>
                            </tr>
                        </thead>
                        <tbody id="studentPaymentStatsBody">
                        </tbody>
                    </table>
                    <br>
                </div>
            </div>

            <!-- End Right Column -->
        </div>
        {% endif %}
        {% endif %}



        <div class="w3-twothird">

            <div class="w3-container w3-card  w3-margin-bottom">
                <h2 class="w3-text-grey w3-padding-16"><i class="fas fa-sort-amount-up fa-fw w3-margin-right w3-xxlarge w3-text-realBlue"></i>
                    Niveles
                    {% if user.is_teacher %}
                    <button id="showLevelsBtn" class="btn btn-outline-primary" onclick="showlevels();">Cerrar</button>
                    {% else %}
                    <button id="levelsBtn" class="btn btn-outline-primary" onclick="levels({{ user.id }});">Abrir</button>
                    <button id="showLevelsBtn" class="btn btn-outline-primary" onclick="showlevels();" style="visibility: hidden;">Cerrar</button>
                    {% endif %}

                </h2>
                {% if user.is_teacher %}
                <div id="levelsDiv" class="w3-container" style="display: block;">
                    {% else %}
                    <div id="levelsDiv" class="w3-container" style="display: none;">
                        {% endif %}
                        <div class="w3-row-padding">
                            <div class="w3-content">

                                <h2 class="w3-text-grey w3-padding-16"><i class="fas fa-layer-group fa-fw w3-margin-right w3-xxlarge w3-text-realBlue"></i>Adaptación Inicial</h2>
                                <div id="level1" class="w3-container">
                                    <button onclick="setLevel(1);" type="button" class="btn btn-outline-primary rounded-pill" data-bs-toggle="modal" data-bs-target="#levelModal">Ver Estudiantes</button>
                                </div>
                                <br>
                            </div>

                        </div>
                        <div class="w3-row-padding">
                            <div class="w3-half">

                                <h2 class="w3-text-grey w3-padding-16"><i class="fas fa-layer-group fa-fw w3-margin-right w3-xxlarge w3-text-realBlue"></i>Iniciación Estilo Espalda</h2>
                                <div id="level2" class="w3-container">
                                    <button onclick="setLevel(2);" type="button" class="btn btn-outline-primary rounded-pill" data-bs-toggle="modal" data-bs-target="#levelModal">Ver Estudiantes</button>
                                </div>
                                <br>
                            </div>
                            <div class="w3-half">

                                <h2 class="w3-text-grey w3-padding-16"><i class="fas fa-layer-group fa-fw w3-margin-right w3-xxlarge w3-text-realBlue"></i>Perfección Estilo Espalda</h2>
                                <div id="level6" class="w3-container">
                                    <button onclick="setLevel(6);" type="button" class="btn btn-outline-primary rounded-pill" data-bs-toggle="modal" data-bs-target="#levelModal">Ver Estudiantes</button>
                                </div>
                                <br>

                            </div>
                        </div>
                        <div class="w3-row-padding">
                            <div class="w3-half">

                                <h2 class="w3-text-grey w3-padding-16"><i class="fas fa-layer-group fa-fw w3-margin-right w3-xxlarge w3-text-realBlue"></i>Iniciación Estilo Libre</h2>
                                <div id="level3" class="w3-container">
                                    <button onclick="setLevel(3);" type="button" class="btn btn-outline-primary rounded-pill" data-bs-toggle="modal" data-bs-target="#levelModal">Ver Estudiantes</button>
                                </div>
                                <br>
                            </div>
                            <div class="w3-half">


                                <h2 class="w3-text-grey w3-padding-16"><i class="fas fa-layer-group fa-fw w3-margin-right w3-xxlarge w3-text-realBlue"></i>Perfección Estilo Libre</h2>
                                <div id="level7" class="w3-container">
                                    <button onclick="setLevel(7);" type="button" class="btn btn-outline-primary rounded-pill" data-bs-toggle="modal" data-bs-target="#levelModal">Ver Estudiantes</button>
                                </div>
                                <br>

                            </div>
                        </div>
                        <div class="w3-row-padding">
                            <div class="w3-half">

                                <h2 class="w3-text-grey w3-padding-16"><i class="fas fa-layer-group fa-fw w3-margin-right w3-xxlarge w3-text-realBlue"></i>Iniciación Estilo Pecho</h2>
                                <div id="level4" class="w3-container">
                                    <button onclick="setLevel(4);" type="button" class="btn btn-outline-primary rounded-pill" data-bs-toggle="modal" data-bs-target="#levelModal">Ver Estudiantes</button>
                                </div>
                                <br>
                            </div>
                            <div class="w3-half">


                                <h2 class="w3-text-grey w3-padding-16"><i class="fas fa-layer-group fa-fw w3-margin-right w3-xxlarge w3-text-realBlue"></i>Perfección Estilo Pecho</h2>
                                <div id="level8" class="w3-container">
                                    <button onclick="setLevel(8);" type="button" class="btn btn-outline-primary rounded-pill" data-bs-toggle="modal" data-bs-target="#levelModal">Ver Estudiantes</button>
                                </div>
                                <br>

                            </div>
                        </div>
                        <div class="w3-row-padding">
                            <div class="w3-half">

                                <h2 class="w3-text-grey w3-padding-16"><i class="fas fa-layer-group fa-fw w3-margin-right w3-xxlarge w3-text-realBlue"></i>Iniciación Estilo Mariposa</h2>
                                <div id="level5" class="w3-container">
                                    <button onclick="setLevel(5);" type="button" class="btn btn-outline-primary rounded-pill" data-bs-toggle="modal" data-bs-target="#levelModal">Ver Estudiantes</button>
                                </div>
                                <br>
                            </div>
                            <div class="w3-half">


                                <h2 class="w3-text-grey w3-padding-16"><i class="fas fa-layer-group fa-fw w3-margin-right w3-xxlarge w3-text-realBlue"></i>Perfección Estilo Mariposa</h2>
                                <div id="level9" class="w3-container">
                                    <button onclick="setLevel(9);" type="button" class="btn btn-outline-primary rounded-pill" data-bs-toggle="modal" data-bs-target="#levelModal">Ver Estudiantes</button>
                                </div>
                                <br>

                            </div>
                        </div>
                        <div class="w3-row-padding">
                            <div class="w3-content">

                                <h2 class="w3-text-grey w3-padding-16"><i class="fas fa-layer-group fa-fw w3-margin-right w3-xxlarge w3-text-realBlue"></i>Mantenimiento</h2>
                                <div id="level10" class="w3-container">
                                    <button onclick="setLevel(10);" type="button" class="btn btn-outline-primary rounded-pill" data-bs-toggle="modal" data-bs-target="#levelModal">Ver Estudiantes</button>
                                </div>
                                <br>
                            </div>
                        </div>


                    </div>
                    <!-- <br> -->
                </div>

                <!-- End Right Column -->
            </div>
            <!-- End Grid -->
        </div>


        <hr>

        {% if not user.is_teacher %}
        <!-- The Grid -->
        <div class="w3-row-padding">

            <!-- Right Column -->
            <div class="w3-half">

                <div class="w3-container w3-card  w3-margin-bottom">
                    <h2 class="w3-text-grey w3-padding-16"><i class="fas fa-backward fa-fw w3-margin-right w3-xxlarge w3-text-realBlue"></i>
                        Anteriores
                        <button class="btn btn-outline-primary" onclick="closePastCourses(this);">Cerrar</button>
                        <button onclick="document.querySelector('#searchAttendancesTableBody').innerHTML = '';" class="btn btn-info mt-2" style="float: right;" data-bs-toggle="modal" data-bs-target="#modalSearchAttendance">Buscar Clases</button>
                    </h2>
                    <div id="pastCourses" class="w3-container" style="display: block;">
                        <table id="resultsStudentsTable">
                            <thead>
                                <tr>
                                    <th scope="col">Asistencia</th>
                                    <th scope="col">Clase</th>
                                </tr>
                            </thead>
                            <tbody id="pastAttendancesTableBody"></tbody>
                        </table>
                        <div id="loadPastAttendances"></div>
                        <br>
                    </div>
                </div>

                <!-- End Right Column -->
            </div>


            <!-- Right Column -->
            <div class="w3-half">

                <div class="w3-container w3-card  w3-margin-bottom">
                    <h2 class="w3-text-grey w3-padding-16"><i class="fas fa-forward fa-fw w3-margin-right w3-xxlarge w3-text-realBlue"></i>
                        Próximas
                        <button class="btn btn-outline-primary" onclick="closeFutureCourses(this);">Cerrar</button>
                    </h2>
                    <div id="futureCourses" class="w3-container" style="display: block;">
                        <table id="resultsStudentsTable">
                            <thead>
                                <tr>
                                    <th scope="col">Asistencia</th>
                                    <th scope="col">Clase</th>
                                </tr>
                            </thead>
                            <tbody id="futureAttendancesTableBody"></tbody>
                        </table>
                        <div id="loadFutureAttendances"></div>
                        <br>
                    </div>
                </div>

                <!-- End Right Column -->
            </div>

            <!-- End Grid -->
        </div>
        {% endif %}

        <!-- End Page Container -->
    </div>
</div>
{% endblock %}

{% block scripts %}

<script type="text/javascript">
    document.querySelector('#id_image_group').onclick = function (event) {
        document.querySelector('#id_file').click();
    };
</script>

{% if request.user == user %}
<!-- CROPPER -->
<script src="{% static 'js/cropper.js' %}"></script> <!-- Cropper.js -->
<script src="{% static 'js/jquery-cropper.js' %}"></script> <!-- Jquery-Cropper.js -->
<script src="{% static 'js/cropper-script.js' %}"></script>
{% endif %}

{% if not user.is_teacher %}
<script src="{% static 'js/users_scripts.js' %}"></script> <!-- Custom users scripts -->
<script src="{% static 'js/usersSchedule.js' %}"></script>
{% else %}
<script src="{% static 'js/teachersSchedule.js' %}"></script>
{% endif %}


{% if request.user.is_admin or request.user.is_teacher %}
<script src="{% static 'js/levels.js' %}"></script>
{% else %}
<script src="{% static 'js/onlyshow_levels.js' %}"></script>
{% endif %}

{% endblock %}