{% extends 'base.html' %}

{% load modal_tags %}
{% load component_tags %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

  <div id="modalsDiv"></div>

  <div id="userID" value="{{ user.id }}"></div>

  <!-- Page Container -->
  <div class="w3-content w3-margin-top" style="max-width:1400px;">

    <!-- The Grid -->
    <div class="w3-row-padding">

      {% information request.user user False studentForm None age %}
      {% schedule user %}
      {% statistics request.user user %}
      {% levels request.user user %}

    </div>
    <!-- End Grid -->

    <hr>

    <!-- The Grid -->
    <div class="w3-row-padding">
      {% attendances request.user user %}
    </div>
    <!-- End Grid -->

    <!-- End Page Container -->
  </div>
</div>
{% endblock %}

{% comment %} {% block scripts %}

{% if request.user == user %}
  <!-- CROPPER -->
  <script src="{% static 'js/cropper.js' %}"></script>
  <!-- Cropper.js -->
  <script src="{% static 'js/jquery-cropper.js' %}"></script>
  <!-- Jquery-Cropper.js -->
  <script src="{% static 'js/cropper-script.js' %}"></script>
{% endif %}

<script src="{% static 'js/users_scripts.js' %}"></script>
<!-- Custom users scripts -->
<script src="{% static 'js/usersSchedule.js' %}"></script>
<script src="{% static 'js/loadAttendancesUsers.js' %}"></script>
<script src="{% static 'js/onlyshow_levels.js' %}"></script>

{% endblock %} {% endcomment %}
