{% extends 'courses/layout.html' %}
{% load static %}

{% load crispy_forms_tags %}

{% block head %}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- Icons font CSS-->
<link href="{% static 'css/material-design-iconic-font1.min.css' %}" rel="stylesheet" media="all">
<link href="{% static 'css/font-awesome1.min.css' %}" rel="stylesheet" media="all">
<!-- Font special for pages-->
<link
    href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">

<!-- Vendor CSS-->
<link href="{% static 'css/select21.min.css' %}" rel="stylesheet" media="all">
<link href="{% static 'css/daterangepicker1.css' %}" rel="stylesheet" media="all">

<!-- Main CSS-->
<link href="{% static 'css/main1.css' %}" rel="stylesheet" media="all">

<style>
    table {
        /* border: 1px solid #ccc; */
        border-collapse: collapse;
        margin: 0;
        padding: 0;
        width: 100%;
    }

    table tr {
        /* background: #f8f8f8; */
        /* border: 1px solid #ddd; */
        padding: .35em;
    }

    table th,
    table td {
        padding: .625em;
        text-align: left;
    }

    table th {
        font-size: .85em;
        letter-spacing: .1em;
        text-transform: uppercase;
    }

    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
    }

    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }

    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

    input:checked+.slider {
        background-color: #2196F3;
    }

    input:focus+.slider {
        box-shadow: 0 0 1px #2196F3;
    }

    input:checked+.slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
    }

    .slider.round:before {
        border-radius: 50%;
    }

    @media screen and (max-width: 1090px) {

        table {
            border: 0;
        }

        table thead {
            display: none;
        }

        table tr {
            /* border-bottom: 3px solid #ddd; */
            display: block;
            margin-bottom: .625em;
        }

        table td {
            /* border-bottom: 1px solid #ddd; */
            display: block;
            font-size: .8em;
            text-align: right;
        }

        table td:before {
            content: attr(data-label);
            float: left;
            font-weight: bold;
            text-transform: uppercase;
        }

        table td:last-child {
            border-bottom: 0;
        }

    }
</style>
{% endblock %}

{% block script %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static 'js/account.js' %}"></script>
{% endblock %}

{% block body %}

<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">

    <!-- The Grid -->
    <div class="w3-row-padding">

        <!-- Left Column -->
        <div class="w3-third">

            <div class="w3-text-grey w3-card-4" style="background-color: #e3f2fd;">
                <div class="w3-display-container" style="text-align: center;">
                    <span id="option" onclick="edit();" class="w3-tag w3-round"
                        style="background-color: #066DAF; margin-top: 10px; font-size: medium;">Editar Cuenta</span>
                    <br>
                    <img src="{{ user.image.url }}"
                        style="width: 300px; border-radius: 50%; margin-top: 20px; margin-bottom: 20px; max-width: 100%; "
                        alt="Avatar"> <br>
                    <label class="switch">
                        {% if user.ignore %}
                        <input type="checkbox" onclick="lever({{user.id}});" checked>
                        {% else %}
                        <input type="checkbox" onclick="lever({{user.id}});">
                        {% endif %}
                        <span class="slider round"></span>
                    </label>
                </div>
                <div class="w3-container" style="text-align: left;">
                    <p onclick="quota();" class="w3-large"
                        style="color: #066DAF; width: 50%; float: left; cursor: pointer;"><b><i class="fa-fw"
                                style="color: #066DAF;"></i>✏️ Nota:</b></p>
                    <br><br>
                    <div id="quota">
                        {{ user.note }}
                    </div>

                    <form id="quota-form" style="display: none;" action="{% url 'courses:quota' user.id %}"
                        method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <textarea class="form-control" name="quota" rows="6" maxlength="280">{{ user.note }}</textarea>
                        <br>
                        <input type="submit"
                            style="display: inline; width: 200px; color: white; background-color: steelblue;"
                            class="form-control" value="Anotar">
                    </form>
                </div>
                <br>
                <div class="w3-container" style="max-width: 100%;">
                    {% if message %}
                    <p style="color: crimson;">{{ message }}
                        <a href="{% url 'courses:student' already.id %}">{{ already }}</a>
                    </p>

                    {% endif %}
                    {% if message1 %}
                    <p style="color: crimson;">{{ message1 }}
                        <a href="{% url 'courses:student' already1.id %}">{{ already1 }}</a>
                    </p>

                    {% endif %}
                    <p class="w3-large" style="color: #066DAF; width: 50%; float: left;"><b><i class="fa-fw"
                                style="color: #066DAF;"></i>Personal:</b></p>
                    <br><br>
                    <p class="info">Nombres:</p>
                    {{ user.first_name }}
                    {% if user.first_name_1 != None %}
                    {% if user.first_name_1 != "" %}
                    {% if user.first_name_1 != user.first_name %}
                    <br>
                    <a href="{% url 'courses:update_first_name' user.id %}"><span id="rcheck"
                            class="badge badge-warning">✓</span></a>
                    <a href="{% url 'courses:reject_first_name' user.id %}"><span id="rxcheck"
                            class="badge badge-warning">✗</span></a>

                    <p class="info" style="color:darkorange;">Nombres: {{ user.first_name_1 }}</p>
                    {% endif %}
                    {% endif %}
                    {% endif %}
                    <br>
                    <p class="info">Apellidos:</p> {{ user.last_name }} <br>
                    {% if user.last_name_1 != None %}
                    {% if user.last_name_1 != "" %}
                    {% if user.last_name_1 != user.last_name %}
                    <a href="{% url 'courses:update_last_name' user.id %}"><span id="rcheck1"
                            class="badge badge-warning">✓</span></a>
                    <a href="{% url 'courses:reject_last_name' user.id %}"><span id="rxcheck1"
                            class="badge badge-warning">✗</span></a>
                    <p class="info" style="color:darkorange;">Apellidos: {{ user.last_name_1 }}</p> <br>
                    {% endif %}
                    {% endif %}
                    {% endif %}

                    <p class="info">Tipo Documento:</p> {{ user.id_type }} <br>
                    <p class="info">No. Documento:</p> {{ user.identity_document }} <br>
                    {% if user.identity_document_1 != None %}
                    {% if user.identity_document_1 != "" %}
                    {% if user.identity_document_1 != user.identity_document %}
                    <a href="{% url 'courses:update_id' user.id %}"><span id="rcheck2"
                            class="badge badge-warning">✓</span></a>
                    <a href="{% url 'courses:reject_id' user.id %}"><span id="rxcheck2"
                            class="badge badge-warning">✗</span></a>

                    <p class="info" style="color:darkorange;">No. Documento: {{ user.identity_document_1 }}</p> <br>
                    {% endif %}
                    {% endif %}
                    {% endif %}
                    <br>
                    <p class="info">Nacionalidad:</p> {{ user.nationality }} <br>
                    <p class="info">Sexo:</p> {{ user.sex }} <br>
                    <p class="info">Edad:</p> {{ age }} años<br>
                    <p class="info">Fecha de Nacimiento:</p> {{ date_birth|slice:18 }}<br>
                    <hr> <br>
                    <p class="w3-large" style="color: #066DAF;"><b><i class="fa-fw"
                                style="color: #066DAF;"></i>Contacto:</b></p> <br>
                    <p class="info">Correo:</p> {{ user.email }} <br>
                    <p class="info">Acudiente:</p> {{ user.parent }} <br> <br>
                    <p class="info">Teléfono/Celular(1):</p> <a id="wanumber"
                        href="https://api.whatsapp.com/send?phone=57{{ user.phone_1 }}" target="_blank">{{ user.phone_1
                        }}</a> <br>
                    {% if user.phone_1_1 != None %}
                    {% if user.phone_1_1 != "" %}
                    {% if user.phone_1_1 != user.phone_1 %}
                    <a href="{% url 'courses:update_phone_1' user.id %}"><span id="rcheck3"
                            class="badge badge-warning">✓</span></a>
                    <a href="{% url 'courses:reject_phone_1' user.id %}"><span id="rxcheck3"
                            class="badge badge-warning">✗</span></a>

                    <p class="info" style="color:darkorange;">Teléfono/Celular(1): {{ user.phone_1_1 }}</p> <br>
                    {% endif %}
                    {% endif %}
                    {% endif %}
                    <p class="info">Teléfono/Celular(2):</p> <a id="wanumber"
                        href="https://api.whatsapp.com/send?phone=57{{ user.phone_2 }}" target="_blank">{{ user.phone_2
                        }}</a> <br>
                    {% if user.phone_2_1 != None %}
                    {% if user.phone_2_1 != "" %}
                    {% if user.phone_2_1 != user.phone_2 %}
                    <a href="{% url 'courses:update_phone_2' user.id %}"><span id="rcheck4"
                            class="badge badge-warning">✓</span></a>
                    <a href="{% url 'courses:reject_phone_2' user.id %}"><span id="rxcheck4"
                            class="badge badge-warning">✗</span></a>

                    <p class="info" style="color:darkorange;">Teléfono/Celular(2): {{ user.phone_2_1 }}</p> <br>
                    {% endif %}
                    {% endif %}
                    {% endif %}

                    <br>
                    <a href="{% url 'courses:ignore' user.id %}" class="w3-tag w3-round"
                        style="background-color: #17a2b8; width: 50%;font-size: medium; text-align: center;">Ignorar
                        Peticiones</a> <br> <br>
                </div>
            </div><br>

            <!-- End Left Column -->
        </div>

        <!-- Right Top Column -->
        <div class="w3-twothird">

            <div id="righttop" class="w3-container w3-card w3-margin-bottom"
                style="background-color: #e3f2fd; display: block;">
                <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-calendar fa-fw w3-margin-right w3-xxlarge"
                        style="color: #066DAF;"></i>Horario</h2>
                <!-- <div class="w3-container"> -->
                <div id="student-schedule" class="table-responsive" style="text-align: center; display: block;">

                    <table>
                        <thead>
                            <tr>
                                <th scope="col">Hora</th>
                                <th scope="col">Lunes</th>
                                <th scope="col">Martes</th>
                                <th scope="col">Miercoles</th>
                                <th scope="col">Jueves</th>
                                <th scope="col">Viernes</th>
                                <th scope="col">Sabado</th>
                                <th scope="col">Domingo</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for row in schedule %}
                            <tr>
                                <td data-label="Hora">
                                    {% for info in row|slice:":1" %}
                                    {{ info|date:"P" }}
                                    {% endfor %}
                                    <br>
                                    {% for info in row|slice:"1:2" %}
                                    {{ info|date:"P" }}
                                    {% endfor %}
                                </td>
                                {% for info in row|slice:"2:" %}
                                <td scope="row"
                                    data-label="{% cycle 'Lunes' 'Martes' 'Miercoles' 'Jueves' 'Viernes' 'Sabado' 'Domingo' %}">
                                    {{ info }}</td>
                                {% endfor %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <br>
            </div>

            <div id="rightmiddle" class="w3-container w3-card w3-margin-bottom"
                style="background-color: #e3f2fd; display: block;">
                <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-bar-chart fa-fw w3-margin-right w3-xxlarge"
                        style="color: #066DAF;"></i>Estadisticas de clases</h2>
                <!-- <div class="w3-container"> -->
                <div id="chart" class="table-responsive" style="text-align: center; display: block;">
                    <div id="counter">
                        <table>
                            <thead>
                                <tr>
                                    <th scope="col">Asistió</th>
                                    <th scope="col">Faltó</th>
                                    <th scope="col">Recuperó</th>
                                    <th scope="col">Puede Recuperar</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td data-label="Asistió">
                                        <div class="counter-value"
                                            style="display: inline; color: green;font-size: xx-large; font-weight: bold;"
                                            data-count="{{ attended }}">0</div>
                                    </td>
                                    <td scope="row" data-label="Faltó">
                                        <div class="counter-value"
                                            style="display: inline; color: crimson;font-size: xx-large; font-weight: bold;"
                                            data-count="{{ failed }}">0</div>
                                    </td>
                                    <td scope="row" data-label="Recuperó">
                                        <div class="counter-value"
                                            style="display: inline; color: darkorange;font-size: xx-large; font-weight: bold;"
                                            data-count="{{ recovered }}">0</div>
                                    </td>
                                    <td scope="row" data-label="Puede Recuperar">
                                        <div class="counter-value"
                                            style="display: inline; color: steelblue;font-size: xx-large; font-weight: bold;"
                                            data-count="{{ can_recover }}">0</div>
                                    </td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <br>
                    <hr style="border-top: 1px dashed steelblue;"> <br>
                    <div id="counter">
                        <table>
                            <thead>
                                <tr>
                                    <th scope="col">Pago</th>
                                    <th scope="col">Pago dia</th>
                                    <th scope="col">No pago</th>
                                    <th scope="col">Separado</th>
                                    <th scope="col">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td data-label="Pago">
                                        <div class="counter-value"
                                            style="display: inline; color: green;font-size: xx-large; font-weight: bold;"
                                            data-count="{{ paid }}">0</div>
                                    </td>
                                    <td data-label="Pago dia">
                                        <div class="counter-value"
                                            style="display: inline; color: green;font-size: xx-large; font-weight: bold;"
                                            data-count="{{ onlyday }}">0</div>
                                    </td>
                                    <td scope="row" data-label="No pago">
                                        <div class="counter-value"
                                            style="display: inline; color: crimson;font-size: xx-large; font-weight: bold;"
                                            data-count="{{ n_paid }}">0</div>
                                    </td>
                                    <td scope="row" data-label="Separado">
                                        <div class="counter-value"
                                            style="display: inline; color: darkorange;font-size: xx-large; font-weight: bold;"
                                            data-count="{{ sep }}">0</div>
                                    </td>
                                    <td scope="row" data-label="Total">
                                        <div class="counter-value"
                                            style="display: inline; color: steelblue;font-size: xx-large; font-weight: bold;"
                                            data-count="{{ total }}">0</div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <br>
            </div>

            <!-- Right Bottom Column -->
            <div id="rightbottom" class="w3-container w3-card" style="background-color: #e3f2fd; display: block;">
                <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-flag fa-fw w3-margin-right w3-xxlarge"
                        style="color: #066DAF;"></i>
                    Próximas Clases:
                    <a href="{% url 'courses:history' user.id %}" class="badge badge-info" style="color: white;">Cursos
                        del Estudiante</a>
                </h2>
                <div class="w3-container">
                    <div id="student-next" style="color: black;">

                        <table>
                            <thead>
                                <tr>
                                    <th scope="col">Clase</th>
                                    <th scope="col">Asistencia</th>
                                    <th scope="col">Cupo</th>
                                    <th scope="col">Nota</th>
                                    <th scope="col">Editar</th>
                                </tr>
                            </thead>
                            <tbody>

                                {% for course in page.object_list %}
                                <tr>
                                    <td data-label="Clase">
                                        <span class="badge badge-info" style="font-size: small;">{{
                                            course.students.all.count }}</span>
                                        {% if course.date == datetoday %}
                                        <span class="badge badge-success">HOY</span>
                                        {% endif %}
                                        <a href="{% url 'courses:course' course.id %}">{{course.date|date:"l"}}
                                            {{course.date}} de {{course.start_time|date:"P"}} a
                                            {{course.end_time|date:"P"}}</a>
                                    </td>
                                    {% for attendance in course.attendance.all %}
                                    {% if attendance.student == user %}
                                    <td scope="row" data-label="Asistencia">
                                        {% if attendance.recover == True %}
                                        <span class="badge badge-primary" style="font-size: small;">RECUPERACION</span>
                                        <br>
                                        {% endif %}

                                        {% if attendance.onlyday == True %}
                                        <span class="badge badge-primary" style="font-size: small;">SOLO EL DIA</span>
                                        <br>
                                        {% endif %}

                                        {% if attendance.attendance == True %}
                                        <span id="check{{ attendance.id }}" class="badge badge-success"
                                            style="font-size: large;">ASISTIO</span>

                                        {% else %}
                                        <span id="check{{ attendance.id }}" class="badge badge-secondary"
                                            style="font-size: large;">PENDIENTE</span>

                                        {% endif %}
                                    </td>
                                    <td data-label="Cupo">

                                        {% if attendance.cycle == True %}
                                        <span id="quota" class="badge badge-warning" style="font-size: small;">
                                            INICIA
                                        </span>
                                        <br>
                                        {% endif %}

                                        {% if attendance.end_cycle == True %}
                                        <span id="quota" class="badge badge-warning" style="font-size: small;">
                                            TERMINA
                                        </span>
                                        <br>
                                        {% endif %}

                                        {% if attendance.quota == "PAGO" %}
                                        <span id="pay{{ attendance.id }}" class="badge badge-success"
                                            style="font-size: large;">{{ attendance.quota }}
                                        </span>
                                        {% elif attendance.quota == "NO PAGO" %}
                                        <span id="pay{{ attendance.id }}" class="badge badge-danger"
                                            style="font-size: large;">{{ attendance.quota }}
                                        </span>
                                        {% else %}
                                        <span id="pay{{ attendance.id }}" class="badge badge-secondary"
                                            style="font-size: large;">{{ attendance.quota }}
                                        </span>
                                        {% endif %}

                                    </td>
                                    <td data-label="Nota">

                                        {% if attendance.note %}
                                        <span id="quota" style="font-size: x-large;" data-bs-toggle="tooltip"
                                            data-bs-placement="right" title="{{ attendance.note }}">
                                            📃
                                        </span>
                                        {% else %}
                                        -
                                        {% endif %}

                                    </td>
                                    <td data-label="Editar">
                                        <h4>
                                            <a href="{% url 'courses:payment' attendance.id %}">✏️</a>
                                        </h4>
                                    </td>
                                    {% endif %}
                                    {% endfor %}
                                </tr>
                                {% endfor %}

                            </tbody>
                        </table>
                    </div>
                    <div id="student-pag" style="text-align: center; padding: 10px;">
                        <nav aria-label="Page navigation">
                            <ul class="pagination justify-content-center">
                                {% if page.has_previous %}
                                <li class="page-item">
                                    <a class="page-link" href="?page=1" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                        <span class="sr-only">begin</span>
                                    </a>
                                </li>
                                {% endif %}

                                {% for n in page.paginator.page_range %}
                                {% if page.number == n %}
                                <li class="page-item active">
                                    <span class="page-link">{{ n }}<span class="sr-only">(current)</span></span>
                                </li>
                                {% elif n > page.number|add:'-3' and n < page.number|add:'3' %} <li class="page-item">
                                    <a class="page-link" href="?page={{ n }}">{{ n }}</a>
                                    </li>
                                    {% endif %}
                                    {% endfor %}

                                    {% if page.has_next %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ page.paginator.num_pages }}"
                                            aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                            <span class="sr-only">end</span>
                                        </a>
                                    </li>
                                    {% endif %}
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>

            <!-- End Right Column -->

            <!-- Edit information FORM -->
            <div id="editform" class="w3-container w3-card"
                style="background-color: #e3f2fd; display: block; visibility: hidden;">
                <div class="card-body">
                    <h2 class="title w3-text-grey w3-padding-16">
                        <i class="fa fa-edit fa-fw w3-margin-right w3-xxlarge" style="color: #066DAF;"></i>
                        Editar Cuenta:
                        <a href="#" id="student-delete" onclick="student_secure_delete();"
                            style="font-size: small; font-weight: bold; color: crimson;">ELIMINAR ESTUDIANTE</a> <br>
                    </h2>
                    <form action="{% url 'courses:student' user.id %}" method="POST" id="create"
                        enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row row-space">
                            <div class="input-group">

                                <label style="width: 100%;" class="label">Foto:</label>

                                {{ form|crispy }}
                                <span>Tamaño máximo de la foto: <span style="color: crimson; font-weight: bold;">1
                                        MB</span></span>

                            </div>

                        </div>

                        <div class="row row-space">
                            <div style="width: 430px;">
                                <div class="input-group">
                                    <label class="label">Nombres</label>
                                    <input class="input--style-4" type="text" name="first_name"
                                        value="{{ user.first_name }}" required>
                                </div>
                            </div>
                            <div style="width: 430px;">
                                <div class="input-group">
                                    <label class="label">Apellidos</label>
                                    <input class="input--style-4" type="text" name="last_name"
                                        value="{{ user.last_name }}" required>
                                </div>
                            </div>
                        </div>
                        <div class="row row-space">
                            <div style="width: 430px;">
                                <div class="input-group">
                                    <label class="label" style="width: 430px;">Tipo de documento</label>
                                    <div class="rs-select2 js-select-simple select--no-search">
                                        <select name="id_type">
                                            {% for id in ids %}
                                            {% if id == user.id_type %}
                                            <option value="{{id.id}}" selected>{{ id }}</option>
                                            {% else %}
                                            <option value="{{id.id}}">{{ id }}</option>
                                            {% endif %}
                                            {% endfor %}
                                        </select>
                                        <div class="select-dropdown"></div>
                                    </div>
                                </div>
                            </div>
                            <div style="width: 430px;">
                                <div class="input-group">
                                    <label class="label">Número de documento</label>
                                    <input class="input--style-4" type="number" name="identity_document"
                                        value="{{ user.identity_document }}">
                                </div>
                            </div>
                        </div>
                        <div class="row row-space">
                            <div style="width: 430px;">
                                <div class="input-group">
                                    <label style="width: 285px;" class="label">Nacionalidad</label>
                                    <div class="rs-select2 js-select-simple select--no-search">
                                        <select name="nationality">
                                            {% for nationality in nationalities %}
                                            {% if nationality == user.nationality %}
                                            <option value="{{nationality.id}}" selected>{{ nationality }}</option>
                                            {% else %}
                                            <option value="{{nationality.id}}">{{ nationality }}</option>
                                            {% endif %}
                                            {% endfor %}
                                        </select>
                                        <div class="select-dropdown"></div>
                                    </div>
                                </div>
                            </div>

                            <div style="width: 430px;">
                                <div class="input-group">
                                    <label class="label">Género</label>
                                    <div class="p-t-10">
                                        {% for gender in sex reversed %}
                                        <label class="radio-container m-r-45">{{ gender }}
                                            {% if gender == user.sex %}
                                            <input type="radio" checked="checked" name="sex" value="{{gender.id}}">
                                            {% else %}
                                            <input type="radio" name="sex" value="{{gender.id}}">
                                            {% endif %}
                                            <span class="checkmark"></span>
                                        </label>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row row-space">
                            <div style="width: 430px;">
                                <div class="input-group">
                                    <label style="width: 385px;" class="label">Fecha de Nacimiento</label>
                                    <div class="input-group-icon">
                                        <input style="height: 50px;" class="input--style-4" type="date"
                                            name="date_birth" value="{{ date_birth_form }}">
                                    </div>
                                </div>
                            </div>
                            <div style="width: 430px;">
                                <div class="input-group">
                                    <label class="label">Edad</label>
                                    <input class="input--style-4" type="number" name="age" value="{{ age }}">
                                </div>
                            </div>
                        </div>
                        <div class="row row-space">
                            <div style="width: 430px;">
                                <div class="input-group">
                                    <label class="label">Correo Electrónico</label>
                                    <input class="input--style-4" type="email" name="email" value="{{ email }}">
                                </div>
                            </div>
                            <div style="width: 430px;">
                                <div class="input-group">
                                    <label class="label">Acudiente</label>
                                    <input class="input--style-4" type="text" name="parent" value="{{ user.parent }}">
                                </div>
                            </div>
                        </div>
                        <div class="row row-space">
                            <div style="width: 430px;">
                                <div class="input-group">
                                    <label class="label">Teléfono / Celular (1)</label>
                                    <input class="input--style-4" type="tel" name="phone_1" value="{{ user.phone_1 }}">
                                </div>
                            </div>
                            <div style="width: 430px;">
                                <div class="input-group">
                                    <label class="label">Teléfono / Celular (2)</label>
                                    <input class="input--style-4" type="tel" name="phone_2" value="{{ user.phone_2 }}">
                                </div>
                            </div>
                        </div>
                        <div class="row row-space">
                            <div style="max-width: 100%;">
                                <!-- style="width: 867px;" -->
                                <table style="max-width: 100%;">
                                    {{ courses_form.media }}
                                    {{ courses_form.as_table }}
                                    <script type="text/javascript" src="{% url 'courses:jsi18n' %}"></script>
                                </table>
                            </div>
                        </div>
                        <div class="p-t-15">
                            <button class="btn btn--radius-2" style="background-color: steelblue;" type="submit">Guardar
                                Información</button>
                        </div>
                    </form>
                </div>
            </div>
            <div id="student_secure_delete" style="display: none;">
                <div class="w3-container w3-card"
                    style="background-color: #e3f2fd; display: block; text-align: center; padding: 15px;">
                    <h3>¿Estas segura/o que quieres <span style="color: crimson; font-weight: bold;">eliminar</span> el
                        estudiante?:</h3>
                    <h3 style="color: steelblue;">{{ user }}</h3> <br>
                    <a class="btn btn-danger" href="{% url 'courses:delete_student' user.id %}">Si</a>
                    <button onclick="student_secure_delete_back();" class="btn btn-success">No</button>
                </div>
            </div>

            <!-- End Right Column -->
        </div>
        <!-- End Grid -->
    </div>
    <!-- End Page Container -->
</div>

<!-- Jquery JS-->
<script src="{% static 'js/jquery1.min.js' %}"></script>
<!-- Vendor JS-->
<script src="{% static 'js/select21.min.js' %}"></script>
<script src="{% static 'js/moment1.min.js' %}"></script>
<script src="{% static 'js/daterangepicker1.js' %}"></script>

<!-- Main JS-->
<script src="{% static 'js/global1.js' %}"></script>

<!-- Tooltips -->

<script>

    (function ($) {

        /* Counter - CountTo */
        var a = 0;
        $(window).bind('scroll load', function () {
            if ($('#counter').length) { // checking if CountTo section exists in the page, if not it will not run the script and avoid errors	
                var oTop = $('#counter').offset().top - window.innerHeight;
                if (a == 0 && $(window).scrollTop() > oTop) {
                    $('.counter-value').each(function () {
                        var $this = $(this),
                            countTo = $this.attr('data-count');
                        $({
                            countNum: $this.text()
                        }).animate({
                            countNum: countTo
                        },
                            {
                                duration: 2000,
                                easing: 'swing',
                                step: function () {
                                    $this.text(Math.floor(this.countNum));
                                },
                                complete: function () {
                                    $this.text(this.countNum);
                                    //alert('finished');
                                }
                            });
                    });
                    a = 1;
                }
            }
        });
    })(jQuery);

    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl)
    })
</script>


{% endblock %}