{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

  <!-- MODAL TO SEARCH COURSE -->
  <div class="modal" id="modalSearchCourse" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen-md-down modal-lg modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Buscar Clases</h5>
          <button type="button" class="btn btn-outline-primary btn-close" data-bs-dismiss="modal" aria-label="Close">&times;</button>
        </div>
        <div class="modal-body" style="margin-left: auto; margin-right: auto">
          <!-- ------------ -->
          <form action="{% url 'courses:search_course' %}" id="courseSearchForm" method="GET">
            {% csrf_token %}
            <input type="date" name="date" class="dateinput form-control" id="course_date" required="required"/>
            <br/>
            <button id="searchDateButton" type="submit" class="btn btn-outline-primary">Buscar</button>
            <div id="searchDateLoader"></div>
          </form>
          <!-- ------------ -->
        </div>

        <div style="margin-left: auto; margin-right: auto">
          <table id="resultsStudentsTable">
            <thead>
              <tr>
                <th scope="col">No.</th>
                <th scope="col">Clase</th>
              </tr>
            </thead>
            <tbody id="searchCoursesTableBody"></tbody>
          </table>
        </div>
        <br/>
      </div>
    </div>
  </div>
  <!-- MODAL TO PRINT COURSE -->
  <div class="modal" id="modalPrintCourse" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen-md-down modal-lg modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Imprimir Clases</h5>
          <button type="button" class="btn btn-outline-primary btn-close" data-bs-dismiss="modal" aria-label="Close">&times;</button>
        </div>
        <div class="modal-body" style="margin-left: auto; margin-right: auto">
          <!-- ------------ -->
          <form action="{% url 'courses:print_courses' %}" id="coursePrintForm" method="GET">
            {% csrf_token %}
            <input type="date" name="date" class="dateinput form-control" id="course_print_date" required="required"/>
            <br/>
            <button id="printDateButton" type="submit" class="btn btn-warning">Imprimir</button>
          </form>
          <!-- ------------ -->
        </div>
      </div>
    </div>
  </div>

  <!-- MODAL TO CREATE COURSES -->
  <div class="modal" id="modalCreateCourses" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen-md-down modal-xl modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Crear Clases</h5>
          <button type="button" class="btn btn-outline-primary btn-close" data-bs-dismiss="modal" aria-label="Close">&times;</button>
        </div>
        <div class="col-10" style="margin-left: auto; margin-right: auto; overflow-y: auto">
          <ul id="createCoursesMessages"></ul>
          <!-- ------------ -->
          <form id="form-date" style="float: left">
            <label class="label">Fecha</label>
            <input id="add-date" type="date" name="date" style="display: inline; width: auto" required="required"/>
            <br/>
            <br/>
            <input style="margin-left: auto; margin-right: auto; width: auto" class="btn btn-primary" type="submit" value="Añadir Fecha"/>
          </form>
          <br/>
          <br/>
          <form id="createCoursesForm" action="{% url 'courses:create_courses' %}" method="POST" class="form-control">
            {% csrf_token %}
            <div class="input-group" style="width: 395px">
              <label class="label">Fechas Añadidas</label>
              <select id="dates" name="dates" multiple="multiple" class="form-control" style="width: 450px; height: 150px; margin-left: auto; margin-right: auto" required="required"></select>
            </div>
            {{ createCoursesForm.media }}
            {{ createCoursesForm.as_table }}
            <script type=" text/javascript" src="{% url 'courses:jsi18n' %}"></script>
            <button id="createCoursesButton" type="submit" class="btn btn-outline-primary">Guardar</button>
            <div id="loadCreateCourses"></div>
          </form>
          <!-- ------------ -->
        </div>
      </div>
    </div>
  </div>

  <!-- MODAL TO SHOW CREATED COURSES -->
  <div class="modal" id="modalShowCreatedCourse" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen-md-down modal-lg modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content" style="background-color: lightcyan">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Clases Creadas</h5>
          <button type="button" class="btn btn-outline-primary btn-close" data-bs-dismiss="modal" aria-label="Close">&times;</button>
        </div>

        <div class="col-10" style="margin-left: auto; margin-right: auto">
          <table id="resultsStudentsTable">
            <thead>
              <tr>
                <th scope="col">No.</th>
                <th scope="col">Clase</th>
              </tr>
            </thead>
            <tbody id="createdCoursesTableBody"></tbody>
          </table>
        </div>
        <br/>
      </div>
    </div>
  </div>

  <!-- Page Container -->
  <div class="w3-content w3-margin-top" style="max-width: 1400px">
    <!-- The Grid -->
    <div class="w3-row-padding">
      <!-- Right Column -->
      <div class="w3-half">
        <div class="w3-container w3-card w3-margin-bottom">
          <h2 class="w3-text-grey w3-padding-16">
            <i class="fas fa-backward fa-fw w3-margin-right w3-xxlarge w3-text-realBlue"></i>
            Anteriores
            <button class="btn btn-outline-primary" onclick="closePastCourses(this);">Cerrar</button>
            <button onclick="document.querySelector('#searchCoursesTableBody').innerHTML = '';" class="btn btn-info mt-2" style="float: right" data-bs-toggle="modal" data-bs-target="#modalSearchCourse">Buscar Clases</button>
          </h2>
          <div id="pastCourses" class="w3-container" style="display: block">
            <table id="resultsStudentsTable">
              <thead>
                <tr>
                  <th scope="col">No.</th>
                  <th scope="col">Clase</th>
                </tr>
              </thead>
              <tbody id="pastCoursesTableBody"></tbody>
            </table>
            <div id="loadPastCourses"></div>
            <br/>
            <button id="loadMorePastCourses" onclick="load_past_courses();" type="button" class="btn btn-outline-primary">Cargar Más</button>
            <br><br>
          </div>
        </div>

        <!-- End Right Column -->
      </div>

      <!-- Right Column -->
      <div class="w3-half">
        <div class="w3-container w3-card w3-margin-bottom">
          <h2 class="w3-text-grey w3-padding-16">
            <i class="fas fa-forward fa-fw w3-margin-right w3-xxlarge w3-text-realBlue"></i>
            Próximas
            <button class="btn btn-outline-primary" onclick="closeFutureCourses(this);">Cerrar</button>
            <button class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#modalPrintCourse">Imprimir</button>
            <button class="btn btn-info mt-2" style="float: right" data-bs-toggle="modal" data-bs-target="#modalCreateCourses">Crear Clases</button>
          </h2>
          <div id="futureCourses" class="w3-container" style="display: block">
            <table id="resultsStudentsTable">
              <thead>
                <tr>
                  <th scope="col">No.</th>
                  <th scope="col">Clase</th>
                </tr>
              </thead>
              <tbody id="futureCoursesTableBody"></tbody>
            </table>
            <div id="loadFutureCourses"></div>
            <br/>
            <button id="loadMoreFutureCourses" onclick="load_future_courses();" type="button" class="btn btn-outline-primary">Cargar Más</button>
            <br><br>
          </div>
        </div>

        <!-- End Right Column -->
      </div>

      <!-- End Grid -->
    </div>

    <!-- End Page Container -->
  </div>

  <script src="{% static 'js/openCloseCourses.js' %}"></script>

  <script>
    $("#createCoursesForm").submit(function (e) {
      e.preventDefault();

      const form = $(this);
      $("#id_students_to option").prop("selected", true);
      $("#id_teachers_to option").prop("selected", true);

      $.ajax({
        type: "POST",
        url: `${mysite}/courses/create_courses/`,
        data: form.serialize(),
        beforeSend: function () {
          document
            .querySelector("#createCoursesButton")
            .style
            .display = "none";
          document
            .querySelector("#loadCreateCourses")
            .classList
            .add("loader");
          document
            .querySelector("#createCoursesMessages")
            .classList
            .remove("alert");

          document
            .querySelector("#createCoursesMessages")
            .classList
            .remove("alert-danger");

          document
            .querySelector("#createCoursesMessages")
            .innerHTML = "";
        },
        error: function (error) {
          console.log("Error!", error);
        },
        success: function (response) {
          // console.log(response);

          document
            .querySelector("#loadCreateCourses")
            .classList
            .remove("loader");
          document
            .querySelector("#createCoursesButton")
            .style
            .display = "block";

          if (response.messages.length > 0) {
            for (let messageID in response.messages) {
              document
                .querySelector("#createCoursesMessages")
                .classList
                .add("alert");
              document
                .querySelector("#createCoursesMessages")
                .classList
                .add("alert-danger");
              $("#createCoursesMessages").append(`<li class="ml-2">${response.messages[messageID]}</li>`);
            }
          } else {
            document
              .querySelector("#createdCoursesTableBody")
              .innerHTML = "";
            for (let courseID = 0; courseID < response.courses.length; courseID++) {
              $("#createdCoursesTableBody").append(`<tr> \
                                                <td scope="row" data-label="No."> \
													<a id="count${response.courses[courseID].id}" href="${mysite}/courses/course/${response.courses[courseID].id}">${response.courses[courseID].count}</a>\
                                                </td>\
                                                <td style="border-bottom: 2px solid steelblue;" scope="row" data-label="Clase">\
                                                    <a id="courseName${response.courses[courseID].id}" href="${mysite}/courses/course/${response.courses[courseID].id}">${response.courses[courseID].str}</a>\
                                                </td>\
                                            </tr>`);
            }

            $("#modalShowCreatedCourse").modal("show");
          }
        }
      });
    });

    $("#form-date").submit(function (e) {
      e.preventDefault();

      const date = document
        .querySelector("#add-date")
        .value;
      const js_date = new Date(date);

      const weekday = {
        0: "Domingo",
        1: "Lunes",
        2: "Martes",
        3: "Miercoles",
        4: "Jueves",
        5: "Viernes",
        6: "Sabado"
      };

      const month = {
        "01": "Enero",
        "02": "Febrero",
        "03": "Marzo",
        "04": "Abril",
        "05": "Mayo",
        "06": "Junio",
        "07": "Julio",
        "08": "Agosto",
        "09": "Septiembre",
        10: "Octubre",
        11: "Noviembre",
        12: "Diciembre"
      };

      const option = document.createElement("option");

      option.value = date;
      option.selected = true;

      let theweekday;

      if (js_date.getDay() === 6) {
        theweekday = 0;
      } else {
        theweekday = js_date.getDay() + 1;
      }

      option.innerHTML = weekday[theweekday] + " " + date.slice(8, 10) + " de " + month[date.slice(5, 7)] + " del " + date.slice(0, 4);
      document
        .querySelector("#dates")
        .append(option);
    });

    $("#coursePrintForm").submit(function () {
      document
        .querySelector("#printDateButton")
        .innerHTML = "";
      document
        .querySelector("#printDateButton")
        .classList
        .remove("btn");
      // document.querySelector("#printDateButton").classList.remove("btn-warning");
      document
        .querySelector("#printDateButton")
        .classList
        .add("loader");
    });

    $("#courseSearchForm").submit(function (e) {
      e.preventDefault();

      const form = $(this);

      $.ajax({
        type: "GET",
        url: `${mysite}/courses/search_course/`,
        data: form.serialize(),
        beforeSend: function () {
          document
            .querySelector("#searchCoursesTableBody")
            .innerHTML = "";
          document
            .querySelector("#searchDateButton")
            .style
            .display = "none";
          document
            .querySelector("#searchDateLoader")
            .classList
            .add("loader");
        },
        error: function (error) {
          console.log("Error!", error);
        },
        success: function (response) {
          // console.log(response);

          if (response.courses.length > 0) {
            for (let courseID = 0; courseID < response.courses.length; courseID++) {
              $("#searchCoursesTableBody").append(`<tr> \
                                                <td scope="row" data-label="No."> \
													<a id="count${response.courses[courseID].id}" href="${mysite}/courses/course/${response.courses[courseID].id}"></a>\
													<span id="today${response.courses[courseID].id}" class="badge bg-success" style="font-size: small; color: white;"></span>\
                                                </td>\
                                                <td style="border-bottom: 2px solid steelblue;" scope="row" data-label="Clase">\
                                                    <a id="courseName${response.courses[courseID].id}" href="${mysite}/courses/course/${response.courses[courseID].id}"></a>\
                                                </td>\
                                            </tr>`);

              fetch(`${mysite}/courses/course_info/${response.courses[courseID].id}`)
                .then((data) => data.json())
                .then((data) => {
                  document
                    .querySelector(`#courseName${data.course_id}`)
                    .innerHTML = data.courseStr;

                  document
                    .querySelector(`#count${data.course_id}`)
                    .innerHTML = data.courseCount;

                  if (data.today == true) {
                    document
                      .querySelector(`#today${data.course_id}`)
                      .innerHTML = "HOY";
                  }
                });
            }
          } else {
            $("#searchCoursesTableBody").append(`<tr> \
                                                <td scope="row" data-label="No.">-</td>\
                                                <td style="border-bottom: 2px solid steelblue;" scope="row" data-label="Clase">SIN RESULTADOS</td>\
                                            </tr>`);
          }
          document
            .querySelector("#searchDateLoader")
            .classList
            .remove("loader");
          document
            .querySelector("#searchDateButton")
            .style
            .display = "block";
        }
      });
    });

    function load_past_courses() {
      // Set start and end past courses numbers, and update counter
      const start = pastCourseCounter;
      const end = pastCourseCounter + pastCoursesQuantity;
      pastCourseCounter = end + 1;

      // Fetch new past courses and add them

      $.ajax({
        type: "GET",
        url: `${mysite}/courses/load_past_courses/`,
        data: {
          start: start,
          end: end
        },
        beforeSend: function () {
          document
            .querySelector("#loadPastCourses")
            .classList
            .add("loader");
        },
        error: function (error) {
          console.log("Error!", error);
        },
        success: function (response) {
          // console.log(response);

          document
            .querySelector("#loadPastCourses")
            .classList
            .remove("loader");

          if (response.all_loaded === true) {
            allPastCoursesLoaded = true;
          }

          for (let courseID = 0; courseID < response.courses.length; courseID++) {
            $("#pastCoursesTableBody").append(`<tr> \
                                                <td scope="row" data-label="No."> \
                                                    <a id="count${response.courses[courseID].id}" href="${mysite}/courses/course/${response.courses[courseID].id}"></a>\
                                                </td>\
                                                <td style="border-bottom: 2px solid steelblue;" scope="row" data-label="Clase">\
                                                    <a id="courseName${response.courses[courseID].id}" href="${mysite}/courses/course/${response.courses[courseID].id}"></a>\
                                                </td>\
                                            </tr>`);

            fetch(`${mysite}/courses/course_info/${response.courses[courseID].id}`)
              .then((data) => data.json())
              .then((data) => {
                document
                  .querySelector(`#courseName${data.course_id}`)
                  .innerHTML = data.courseStr;

                document
                  .querySelector(`#count${data.course_id}`)
                  .innerHTML = data.courseCount;
              });
          }
        }
      });
    }

    function load_future_courses() {
      // Set start and end future courses numbers, and update counter
      const start = futureCourseCounter;
      const end = futureCourseCounter + futureCoursesQuantity;
      futureCourseCounter = end + 1;

      // Fetch new future courses and add them

      $.ajax({
        type: "GET",
        url: `${mysite}/courses/load_future_courses/`,
        data: {
          start: start,
          end: end
        },
        beforeSend: function () {
          document
            .querySelector("#loadFutureCourses")
            .classList
            .add("loader");
        },
        error: function (error) {
          console.log("Error!", error);
        },
        success: function (response) {
          // console.log(response);

          document
            .querySelector("#loadFutureCourses")
            .classList
            .remove("loader");

          if (response.all_loaded === true) {
            allFutureCoursesLoaded = true;
          }

          for (let courseID = 0; courseID < response.courses.length; courseID++) {
            $("#futureCoursesTableBody").append(`<tr> \
                                                <td scope="row" data-label="No."> \
													<a id="count${response.courses[courseID].id}" href="${mysite}/courses/course/${response.courses[courseID].id}"></a>\
													<span id="today${response.courses[courseID].id}" class="badge bg-success" style="font-size: small; color: white;"></span>\
                                                </td>\
                                                <td style="border-bottom: 2px solid steelblue;" scope="row" data-label="Clase">\
                                                    <a id="courseName${response.courses[courseID].id}" href="${mysite}/courses/course/${response.courses[courseID].id}"></a>\
                                                </td>\
                                            </tr>`);

            fetch(`${mysite}/courses/course_info/${response.courses[courseID].id}`)
              .then((data) => data.json())
              .then((data) => {
                document
                  .querySelector(`#courseName${data.course_id}`)
                  .innerHTML = data.courseStr;

                document
                  .querySelector(`#count${data.course_id}`)
                  .innerHTML = data.courseCount;

                if (data.today == true) {
                  document
                    .querySelector(`#today${data.course_id}`)
                    .innerHTML = "HOY";
                }
              });
          }
        }
      });
    }

    /////////////////////////////////////////////////////////////////////////

    function clickFutureCourses() {
      $("#loadMoreFutureCourses").click();
    }

    document.addEventListener("DOMContentLoaded", clickFutureCourses);
    $(window).scroll(function () {
      if ($(window).scrollTop() + $(window).height() >= $(document).height() - 200 && allFutureCoursesLoaded === false) {
        clickFutureCourses();
      }
    });

    function clickPastCourses() {
      $("#loadMorePastCourses").click();
    }

    document.addEventListener("DOMContentLoaded", clickPastCourses);
    $(window).scroll(function () {
      if ($(window).scrollTop() + $(window).height() >= $(document).height() - 200 && allPastCoursesLoaded === false) {
        clickPastCourses();
      }
    });
  </script>
{% endblock %}
