{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<!-- Modal to edit course -->
<div class="modal" id="editCourseFormModal" tabindex="-1" aria-labelledby="editCourseFormModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen-md-down modal-xl modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editCourseFormModalLabel">Editar Clase</h5>
                <button type="button" class="btn btn-outline-danger rounded-pill" data-bs-toggle="modal" data-bs-target="#modalDeleteCourse">Borrar Clase</button>
                <button type="button" class="btn btn-outline-primary btn-close" data-bs-dismiss="modal" aria-label="Close">
                    &times;
                </button>
            </div>
            <div class="modal-body col-10" style="margin-left: auto; margin-right: auto;">
                <ul id="editCourseFormMessages"></ul>
                <form id="editCourseForm" action="{% url 'courses:edit_course' course.id %}" method="POST" class="form-control">
                    {% csrf_token %}
                    {{ editCourseForm.media }}
                    {{ editCourseForm.as_table }}
                    <script type=" text/javascript" src="{% url 'courses:jsi18n' %}"></script>
                    <div id="editCourseFormMessages"></div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        <button id="editCourseFormButton" type="submit" class="btn btn-primary">Editar</button>
                        <div id="loadEditCourseForm"></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- MODAL TO DELETE COURSE -->
<div class="modal fade" id="modalDeleteCourse" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen-md-down modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content" style="background-color: lightcyan;">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Borrar {{ course }}</h5>
                <button type="button" class="btn btn-outline-primary btn-close" data-bs-dismiss="modal" aria-label="Close">
                    &times;
                </button>
            </div>
            <div class="modal-body" style="margin-left: auto; margin-right: auto;">
                <!-- ------------ -->
                <form id="deleteStudentForm" action="{% url 'courses:delete_course' course.id %}" method="POST" autocomplete="off" enctype="multipart/form-data">
                    {% csrf_token %}
                    ¿Está segur@ que desea eliminar {{ course }}?
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-success" data-bs-dismiss="modal">NO</button>
                        <button type="submit" class="btn btn-danger">SI</button>
                    </div>
                </form>
                <!-- ------------ -->
            </div>
        </div>
    </div>
</div>

<!-- MODAL TO EDIT ATTENDANCE -->
<div class="modal fade" id="modalAttendance" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen-md-down modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Actualizar Asistencia</h5>
                <button type="button" class="btn btn-outline-primary btn-close" data-bs-dismiss="modal" aria-label="Close">
                    &times;
                </button>
            </div>
            <div class="modal-body" style="margin-left: auto; margin-right: auto;">
                <!-- ------------ -->
                <h4>Clase:</h4>
                <div id="attendanceCourse"></div>
                <h4>Estudiante:</h4>
                <div id="attendanceStudent"></div>
                <h4>Ciclo:</h4>
                <button id="attendanceCycle" class="btn btn-sm"></button>
                <h4>Día:</h4>
                <button id="attendanceDay" class="btn btn-sm"></button>
                <hr>
                <ul id="attendanceFormMessages"></ul>
                <form id="attendanceForm">
                    {% csrf_token %}
                    <div id="attendanceFormDiv"></div>
                </form>

                <!-- ------------ -->
            </div>
        </div>
    </div>
</div>

<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">

    <!-- The Grid -->
    <div class="w3-row-padding">

        <!-- Left Column -->
        <div class="w3-third" style="float: right">

            <div class="w3-text-grey w3-card-4">
                <div class="w3-container" style="text-align:center">
                    <br>

                    <p class="w3-large">
                        <b>
                            <i class="fas fa-users-cog fa-fw w3-margin-right w3-text-realBlue"></i>
                            Clase
                        </b>
                        <button class="btn btn-primary" style="float: right;" data-bs-toggle="modal" data-bs-target="#editCourseFormModal">
                            Editar
                        </button>

                    </p>
                    <p id="courseName">{{ course }}</p>

                    Número de Estudiantes: <span class="badge bg-primary" style="font-size: large; color: white;">{{ course.students.count }}</span>
                    <br><br>
                    Profesores: <br>
                    {% for teacher in course.teachers.all %}
                    <a href="{% url 'courses:student' teacher.id %}">{{ teacher }}</a>
                    <br>
                    {% endfor %}
                    <br>
                    <a class="btn btn-warning" href="{% url 'courses:print_course' course.id %}" onclick="this.style.display = 'none';">Imprimir</a>
                    <br><br>
                </div>
            </div><br>

            <!-- End Left Column -->
        </div>

        <!-- Right Column -->
        <div class="w3-twothird">

            <div class="w3-container w3-card w3-margin-bottom">
                <h2 class="w3-text-grey w3-padding-16"><i class="fas fa-users fa-fw w3-margin-right w3-xxlarge w3-text-realBlue"></i>
                    Estudiantes
                </h2>
                <div id="searchStudentsLoader"></div>
                <div class="w3-container">
                    <table>
                        <thead>
                            <tr>
                                <th scope="col">Nombre</th>
                                <th scope="col">Asistencia</th>
                                <th scope="col">Cupo</th>
                                <th scope="col">Nota</th>
                                <th scope="col">Editar</th>
                            </tr>
                        </thead>
                        <tbody id="students_table">
                            {% for attendance in course.attendances.all %}
                            <tr>
                                <td scope="row" data-label="Nombre">
                                    {{ forloop.counter }}.
                                    <a id="studentName{{ attendance.id }}" href="{% url 'courses:student' attendance.student.id %}">{{ attendance.student }}</a>
                                    <br>
                                    <span id="cycle{{ attendance.id }}" class="badge bg-warning" style="font-size: small;">
                                        {% if attendance.cycle == True %}
                                        INICIA
                                        {% endif %}
                                        {% if attendance.end_cycle == True %}
                                        TERMINA
                                        {% endif %}
                                    </span>
                                    <span id="day{{ attendance.id }}" class="badge bg-primary" style="font-size: small; color: white;">
                                        {% if attendance.recover == True %}
                                        RECUPERA
                                        {% endif %}
                                        {% if attendance.onlyday == True %}
                                        SOLO HOY
                                        {% endif %}

                                    </span>

                                </td>

                                <td scope="row" data-label="Asistencia">
                                    {% if attendance.attendance %}
                                    <button id="attendanceButton{{ attendance.id }}" onclick="changeAttendance({{ attendance.id }});" class="btn btn-sm btn-success">ASISTIÓ</button>
                                    {% else %}
                                    {% if past %}
                                    <button id="attendanceButton{{ attendance.id }}" onclick="changeAttendance({{ attendance.id }});" class="btn btn-sm btn-danger">NO ASISTIÓ</button>
                                    {% else %}
                                    <button id="attendanceButton{{ attendance.id }}" onclick="changeAttendance({{ attendance.id }});" class="btn btn-sm btn-secondary">PENDIENTE</button>
                                    {% endif %}
                                    {% endif %}
                                </td>

                                <td scope="row" data-label="Cupo">

                                    {% if attendance.quota == "PAGO" %}
                                    <button id="quotaButton{{ attendance.id }}" onclick="changeQuota({{ attendance.id }});" class="btn btn-sm btn-success">{{ attendance.quota }}</button>
                                    {% else %}
                                    <button id="quotaButton{{ attendance.id }}" onclick="changeQuota({{ attendance.id }});" class="btn btn-sm btn-secondary">{{ attendance.quota }}</button>
                                    {% endif %}


                                </td>

                                <td scope="row" data-label="Nota">
                                    {% if attendance.note %}

                                    <span id="note{{ attendance.id }}">
                                        <span style="font-size: large;" data-toggle="tooltip" title="{{ attendance.note }}">📃</span>
                                    </span>

                                    {% else %}
                                    <span id="note{{ attendance.id }}">
                                        <span style="font-size: large;" data-toggle="tooltip" title="">-</span>
                                    </span>
                                    {% endif %}
                                </td>
                                </td>

                                <td scope="row" data-label="Editar">
                                    <button onclick="getAttendanceInfo({{ attendance.id }}, {{ course.id }});" class="btn btn-outline-warning" data-bs-toggle="modal" data-bs-target="#modalAttendance">✏️</button>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <div id="loadStudents"></div>
                    <br>
                </div>
            </div>
            <!-- End Right Column -->
        </div>

        <!-- End Grid -->
    </div>

    <!-- End Page Container -->
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/courses_scripts.js' %}"></script> <!-- Custom courses scripts -->

<script>
    $('[data-toggle="tooltip"]').tooltip();
</script>
{% endblock %}