{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<!-- MODAL TO SEARCH COURSE -->
<div class="modal" id="modalSearchCourse" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen-md-down modal-lg modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Buscar Clases</h5>
                <button type="button" class="btn btn-outline-primary btn-close" data-bs-dismiss="modal" aria-label="Close">
                    &times;
                </button>
            </div>
            <div class="modal-body" style="margin-left: auto; margin-right: auto;">
                <!-- ------------ -->
                <form action="{% url 'courses:search_course' %}" id="courseSearchForm" method="GET">
                    {% csrf_token %}
                    <input type="date" name="date" class="dateinput form-control" id="course_date" required> <br>
                    <button id="searchDateButton" type="submit" class="btn btn-outline-primary">Buscar</button>
                    <div id="searchDateLoader"></div>
                </form>
                <!-- ------------ -->
            </div>

            <div class="col-10" style="margin-left: auto; margin-right: auto;">
                <table id="resultsStudentsTable">
                    <thead>
                        <tr>
                            <th scope="col">No.</th>
                            <th scope="col">Clase</th>
                        </tr>
                    </thead>
                    <tbody id="searchCoursesTableBody"></tbody>
                </table>
            </div>
            <br>

        </div>
    </div>
</div>
<!-- MODAL TO PRINT COURSE -->
<div class="modal" id="modalPrintCourse" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen-md-down modal-lg modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Imprimir Clases</h5>
                <button type="button" class="btn btn-outline-primary btn-close" data-bs-dismiss="modal" aria-label="Close">
                    &times;
                </button>
            </div>
            <div class="modal-body" style="margin-left: auto; margin-right: auto;">
                <!-- ------------ -->
                <form action="{% url 'courses:print_courses' %}" id="coursePrintForm" method="GET">
                    {% csrf_token %}
                    <input type="date" name="date" class="dateinput form-control" id="course_print_date" required> <br>
                    <button id="printDateButton" type="submit" class="btn btn-warning">Imprimir</button>
                </form>
                <!-- ------------ -->
            </div>

        </div>
    </div>
</div>

<!-- MODAL TO CREATE COURSES -->
<div class="modal" id="modalCreateCourses" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen-md-down modal-xl modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Crear Clases</h5>
                <button type="button" class="btn btn-outline-primary btn-close" data-bs-dismiss="modal" aria-label="Close">
                    &times;
                </button>
            </div>
            <div class="col-10" style="margin-left: auto; margin-right: auto; overflow-y: auto;">
                <ul id="createCoursesMessages"></ul>
                <!-- ------------ -->
                <form id="form-date" style="float: left;">
                    <label class="label">Fecha</label>
                    <input id="add-date" type="date" name="date" style="display: inline; width: auto;" required>
                    <br> <br>
                    <input style="margin-left: auto; margin-right: auto; width: auto;" class="btn btn-primary" type="submit" value="Añadir Fecha">
                </form>
                <br> <br>
                <form id="createCoursesForm" action="{% url 'courses:create_courses' %}" method="POST" class="form-control">
                    {% csrf_token %}
                    <div class="input-group" style="width: 395px;">
                        <label class="label">Fechas Añadidas</label>
                        <select id="dates" name="dates" multiple class="form-control" style="width: 450px; height: 150px;margin-left: auto; margin-right: auto;" required></select>
                    </div>
                    {{ createCoursesForm.media }}
                    {{ createCoursesForm.as_table }}
                    <script type=" text/javascript" src="{% url 'courses:jsi18n' %}">
                    </script>
                    <button id="createCoursesButton" type="submit" class="btn btn-outline-primary">Guardar</button>
                    <div id="loadCreateCourses"></div>
                </form>
                <!-- ------------ -->
            </div>
        </div>
    </div>
</div>

<!-- MODAL TO SHOW CREATED COURSES -->
<div class="modal" id="modalShowCreatedCourse" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen-md-down modal-lg modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content" style="background-color: lightcyan;">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Clases Creadas</h5>
                <button type="button" class="btn btn-outline-primary btn-close" data-bs-dismiss="modal" aria-label="Close">
                    &times;
                </button>
            </div>

            <div class="col-10" style="margin-left: auto; margin-right: auto;">
                <table id="resultsStudentsTable">
                    <thead>
                        <tr>
                            <th scope="col">No.</th>
                            <th scope="col">Clase</th>
                        </tr>
                    </thead>
                    <tbody id="createdCoursesTableBody"></tbody>
                </table>
            </div>
            <br>

        </div>
    </div>
</div>

<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">

    <!-- The Grid -->
    <div class="w3-row-padding">

        <!-- Right Column -->
        <div class="w3-half">

            <div class="w3-container w3-card  w3-margin-bottom">
                <h2 class="w3-text-grey w3-padding-16"><i class="fas fa-backward fa-fw w3-margin-right w3-xxlarge w3-text-realBlue"></i>
                    Anteriores
                    <button class="btn btn-outline-primary" onclick="closePastCourses(this);">Cerrar</button>
                    <button onclick="document.querySelector('#searchCoursesTableBody').innerHTML = '';" class="btn btn-info mt-2" style="float: right;" data-bs-toggle="modal" data-bs-target="#modalSearchCourse">Buscar Clases</button>
                </h2>
                <div id="pastCourses" class="w3-container" style="display: block;">
                    <table id="resultsStudentsTable">
                        <thead>
                            <tr>
                                <th scope="col">No.</th>
                                <th scope="col">Clase</th>
                            </tr>
                        </thead>
                        <tbody id="pastCoursesTableBody"></tbody>
                    </table>
                    <div id="loadStudents"></div>
                    <br>
                </div>
            </div>

            <!-- End Right Column -->
        </div>


        <!-- Right Column -->
        <div class="w3-half">

            <div class="w3-container w3-card  w3-margin-bottom">
                <h2 class="w3-text-grey w3-padding-16"><i class="fas fa-forward fa-fw w3-margin-right w3-xxlarge w3-text-realBlue"></i>
                    Próximas
                    <button class="btn btn-outline-primary" onclick="closeFutureCourses(this);">Cerrar</button>
                    <button class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#modalPrintCourse">Imprimir</button>
                    <button class="btn btn-info mt-2" style="float: right;" data-bs-toggle="modal" data-bs-target="#modalCreateCourses">Crear Clases</button>
                </h2>
                <div id="futureCourses" class="w3-container" style="display: block;">
                    <table id="resultsStudentsTable">
                        <thead>
                            <tr>
                                <th scope="col">No.</th>
                                <th scope="col">Clase</th>
                            </tr>
                        </thead>
                        <tbody id="futureCoursesTableBody"></tbody>
                    </table>
                    <div id="loadFutureAttendances"></div>
                    <br>
                </div>
            </div>

            <!-- End Right Column -->
        </div>

        <!-- End Grid -->
    </div>

    <!-- End Page Container -->
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/courses_scripts.js' %}"></script> <!-- Custom courses scripts -->
<script src="{% static 'js/load_courses.js' %}"></script> <!-- Custom courses scripts -->

{% endblock %}