{% extends 'courses/layout.html' %}
{% load static %}

{% block head %}
    <!-- Icons font CSS-->
    <link href="{% static 'vendor/mdi-font/css/material-design-iconic-font1.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/font-awesome-4.7/css/font-awesome1.min.css' %}" rel="stylesheet" media="all">
    <!-- Font special for pages-->
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Vendor CSS-->
    <link href="{% static 'vendor/select2/select21.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/datepicker/daterangepicker1.css' %}" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="{% static 'css/main1.css' %}" rel="stylesheet" media="all">

{% endblock %}

{% block body %}

    <div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins">
        <div class="wrapper wrapper--w680">
            <div class="card card-4">
                <div class="card-body">
                    <br>
                    {% if message %}
                        <h5 style="color: crimson; font-weight: bold;">{{ message }}</h5>
                    {% endif %}
                    {% if assign_only_list or new_courses_list %}
                    <div style="height: 100px; overflow-y: auto;">
                        <div style="width: 45%; float: left; text-align: left;">
                            <h5 style="font-weight: bold;">Nuevos Cursos</h5>
                            <br>
                            <ul>
                                {% for course in new_courses_list %}
                                    <li>
                                        <a href="{% url 'courses:course' course.id %}" style="color: green;">
                                            • {{course.date|date:"l"}} {{course.date}} desde {{course.start_time|date:"P"}} hasta {{course.end_time|date:"P"}}
                                        </a>
                                    </li>
                                {% empty %}
                                    • Ninguno
                                {% endfor %}
                            </ul>
                        </div>
                        <div style="width: 45%; float: right; text-align: left;">
                            <h5 style="font-weight: bold;">Clases donde se añadieron nuevos estudiantes</h5>
                            <br>
                            <ul>
                                {% for course in assign_only_list %}
                                    <li>
                                        <a href="{% url 'courses:course' course.id %}" style="color: rgb(185, 133, 0);">
                                            {{course.date|date:"l"}} {{course.date}} desde {{course.start_time|date:"P"}} hasta {{course.end_time|date:"P"}}
                                        </a>
                                    </li>
                                {% empty %}
                                    • Ninguno
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <br>
                    <hr>
                    <br>
                    {% endif %}
                    <h2 class="title">Crear Clases</h2>
                    <form id="form-date">
                        <div style="width: 50%; float: left; height: 200px;">
                            <label class="label">Fecha</label>
                            <input id="add-date" type="date" name="date" style="display: inline; width: auto;" required> <br> <br>
                            <input style="margin-left: auto; margin-right: auto; width: auto;" class="btn btn-primary" type="submit" value="Añadir Fecha">
                        </div>
                    </form>
                    <form action="{% url 'courses:create_course' %}" method="POST" id="create" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row row-space" style="width: 320px; flex-wrap: wrap;">
                            <div>
                                <div class="input-group" style="width: 395px;">
                                    <label class="label">Fechas Añadidas</label>
                                    <select id="dates" name="dates" multiple class="form-control" style="width: 450px; height: 150px;margin-left: auto; margin-right: auto;" required></select>
                                </div>
                            </div>
                        </div>
                        <div class="row row-space">
                            <div style="width: 385px;">
                                <div class="input-group">
                                    <div class="input-group">
                                        <label style="width: 385px;" class="label">Hora Inicio</label>
                                        <input class="form-control" type="time" name="start_time" style="display: inline; width: 300px;" required>
                                    </div>
                                </div>
                            </div>
                            <div style="width: 385px;">
                                <div class="input-group">
                                    <div class="input-group">
                                        <label style="width: 385px;" class="label">Hora Final</label>
                                        <input class="form-control" type="time" name="end_time" style="display: inline; width: 300px;" required>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row row-space">
                            <div>
                                <table>
                                    {{ form.media }}
                                    {{ form.as_table }}
                                    <script type="text/javascript" src="{% url 'courses:jsi18n' %}"></script>
                                </table>
                            </div>
                        </div>
                        <div class="p-t-15">
                            <button class="btn btn--radius-2" style="background-color: steelblue;" type="submit">Crear Clases</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Jquery JS-->
    <script src="{% static 'vendor/jquery/jquery1.min.js' %}"></script>
    <!-- Vendor JS-->
    <script src="{% static 'vendor/select2/select21.min.js' %}"></script>
    <script src="{% static 'vendor/datepicker/moment1.min.js' %}"></script>
    <script src="{% static 'vendor/datepicker/daterangepicker1.js' %}"></script>

    <!-- Main JS-->
    <script src="{% static 'js/global1.js' %}"></script>
    

{% endblock %}
