{% extends 'courses/layout.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Icons font CSS-->
    <link href="{% static 'vendor/mdi-font/css/material-design-iconic-font1.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/font-awesome-4.7/css/font-awesome1.min.css' %}" rel="stylesheet" media="all">
    <!-- Font special for pages-->
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Vendor CSS-->
    <link href="{% static 'vendor/select2/select21.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/datepicker/daterangepicker1.css' %}" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="{% static 'css/main1.css' %}" rel="stylesheet" media="all">

    <style>
        table {
            /* border: 1px solid #ccc; */
            border-collapse: collapse;
            margin: 0;
            padding: 0;
            width: 100%;
        }
    
        table tr {
            /* background: #f8f8f8; */
            /* border: 1px solid #ddd; */
            padding: .35em;
        }
    
        table th, table td {
            padding: .625em;
            text-align: left;
        }
    
        table th {
            font-size: .85em;
            letter-spacing: .1em;
            text-transform: uppercase;
        }
        
        @media screen and (max-width: 1090px) {
    
            table { border: 0; }
        
            table thead { display: none; }
        
            table tr {
            /* border-bottom: 3px solid #ddd; */
            display: block;
            margin-bottom: .625em;
            }
        
            table td {
            /* border-bottom: 1px solid #ddd; */
            display: block;
            font-size: .8em;
            text-align: right;
            }
        
            table td:before {
            content: attr(data-label);
            float: left;
            font-weight: bold;
            text-transform: uppercase;
            }
        
            table td:last-child { border-bottom: 0; }
    
        }

    </style>
{% endblock %}


{% block body %}

<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">

    <!-- The Grid -->
    <div class="w3-row-padding">
    
      <!-- Left Column -->
      <div class="w3-third">
        <div class="w3-container w3-card" style="background-color: #e3f2fd; display: block; text-align: center;">
            <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-search fa-fw w3-margin-right w3-xxlarge" style="color: #066DAF;"></i>
                Buscar Clase de: <br> 
                <a style="font-size: medium; font-weight: bold;" href="{% url 'courses:student' student.id %}">
                    {{ student }}
                </a>

                {% if student.note %}
                    <span id="quota" style="font-size: x-large;" data-bs-toggle="tooltip" data-bs-placement="right" title="{{ student.note }}">
                        📓
                    </span>
                    <br>
                {% endif %}
            </h2>
            <div class="w3-container">
                <form action="{% url 'courses:history' student.id %}" method="POST" enctype="multipart/form-data" style="text-align: center;">
                    {% csrf_token %}
                    <input type="date" name="date" style="display: inline; width: auto;" required>
                    <br><br>
                    <input class="btn btn-info" style="display: inline; width: auto; max-width: 100%;" type="submit" value="Buscar Fecha">
                </form>
                <br>
            </div>
        </div>
        <br>

        {% if results != "Hi" %}

            {% if results %}

                <div class="w3-container w3-card show0" style="background-color: #fffde8;">
                    <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-flag fa-fw w3-margin-right w3-xxlarge" style="color: rgb(218, 178, 0);;"></i>
                        Resultados Busqueda:
                    </h2>
                    <div class="w3-container">
                        <div id="student-next" style="color: black;">

                            <table>
                                <thead>
                                    <tr>
                                        <th scope="col">Clase</th>
                                        <th scope="col">Asistencia</th>
                                        <th scope="col">Cupo</th>
                                        <th scope="col">Nota</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    
                                {% for course in results %}
                                    <tr>
                                    <td data-label="Clase">
                                        <span class="badge badge-info" style="font-size: small;">{{ course.students.all.count }}</span>
                                        <a href="{% url 'courses:course' course.id %}">{{course.date|date:"l"}} {{course.date}} de {{course.start_time|date:"P"}} a {{course.end_time|date:"P"}}</a>    
                                    </td> 
                                    {% for attendance in course.attendance.all %}
                                        {% if attendance.student == student %}
                                            <td scope="row" data-label="Asistencia">
                                            {% if attendance.recover == True %}
                                                <span class="badge badge-primary" style="font-size: small;">RECUPERACION</span>
                                                <br>
                                            {% endif %}
                                            {% if attendance.attendance == True %}
                                                <span id="check{{ attendance.id }}" class="badge badge-success" style="font-size: large;">ASISTIO</span>
                                            
                                            {% else %}
                                                <span id="check{{ attendance.id }}" class="badge badge-secondary" style="font-size: large;">PENDIENTE</span>
                                            
                                            {% endif %}
                                            </td>
                                            <td data-label="Cupo">

                                                {% if attendance.cycle == True %}
                                                    <span id="quota" class="badge badge-warning" style="font-size: small;">
                                                        Inicia Ciclo
                                                    </span>
                                                    <br>
                                                {% endif %}
        
                                                {% if attendance.quota == "PAGO" %}
                                                    <span id="pay{{ attendance.id }}" class="badge badge-success" style="font-size: large;">{{ attendance.quota }}
                                                    </span>
                                                {% elif attendance.quota == "NO PAGO" %}
                                                    <span id="pay{{ attendance.id }}" class="badge badge-danger" style="font-size: large;">{{ attendance.quota }}
                                                    </span>
                                                {% else %}
                                                    <span id="pay{{ attendance.id }}" class="badge badge-secondary" style="font-size: large;">{{ attendance.quota }}
                                                    </span>
                                                {% endif %}
                                            
                                            </td>
                                            <td data-label="Nota">
        
                                                {% if attendance.note %}
                                                    <span id="quota" style="font-size: x-large;" data-bs-toggle="tooltip" data-bs-placement="right" title="{{ attendance.note }}">
                                                        📃
                                                    </span>
                                                {% else %}
                                                    -
                                                {% endif %}
        
                                            </td>
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                                {% endfor %}
                                        
                                </tbody>
                            </table>
                            <br>
                        </div>
                    </div>
                </div>

                <br>
            
            {% else %}

                <div class="w3-container w3-card show0" style="background-color: #fffde8;">
                    <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-flag fa-fw w3-margin-right w3-xxlarge" style="color: rgb(218, 178, 0);"></i>
                        Resultados Busqueda:
                    </h2>
                    <div class="w3-container">
                        <div id="student-next" style="color: black;">
                                
                            <ul style="text-align: left; margin-top: 20px;">
                                
                                <li>
                                    Sin resultados.
                                </li>
                                <br>                            
                            </ul>
                        </div>
                    </div>
                </div>
                <br>
        
            {% endif %}
        
        {% endif %}
      
        <div class="w3-text-grey w3-card-4" style="background-color: #e3f2fd;">
            
            <div id="righttop" class="w3-container w3-card" style="background-color: #e3f2fd; display: block;">
                <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-flag fa-fw w3-margin-right w3-xxlarge" style="color: #066DAF;"></i>
                  Anteriores Clases:
                </h2>
                <div class="w3-container">
                  <div id="student-next" style="color: black;">
                        
                    <table>
                        <thead>
                            <tr>
                                <th scope="col">Clase</th>
                                <th scope="col">Asistencia</th>
                                <th scope="col">Cupo</th>
                                <th scope="col">Nota</th>
                            </tr>
                        </thead>
                        <tbody>
                            
                        {% for course in old_page.object_list %}
                            <tr>
                            <td data-label="Clase">
                                <span class="badge badge-info" style="font-size: small;">{{ course.students.all.count }}</span>
                                <a href="{% url 'courses:course' course.id %}">{{course.date|date:"l"}} {{course.date}} de {{course.start_time|date:"P"}} a {{course.end_time|date:"P"}}</a>    
                            </td> 
                            {% for attendance in course.attendance.all %}
                                {% if attendance.student == student %}
                                    <td scope="row" data-label="Asistencia">
                                    {% if attendance.recover == True %}
                                        <span class="badge badge-primary" style="font-size: small;">RECUPERACION</span>
                                        <br>
                                    {% endif %}
                                    {% if attendance.attendance == True %}
                                        <span id="check{{ attendance.id }}" class="badge badge-success" style="font-size: large;">ASISTIO</span>
                                    
                                    {% else %}
                                        <span id="check{{ attendance.id }}" class="badge badge-danger" style="font-size: large;">NO ASISTIO</span>
                                    
                                    {% endif %}
                                    </td>
                                    <td data-label="Cupo">

                                        {% if attendance.cycle == True %}
                                            <span id="quota" class="badge badge-warning" style="font-size: small;">
                                                Inicia Ciclo
                                            </span>
                                            <br>
                                        {% endif %}

                                        {% if attendance.quota == "PAGO" %}
                                            <span id="pay{{ attendance.id }}" class="badge badge-success" style="font-size: large;">{{ attendance.quota }}
                                            </span>
                                        {% elif attendance.quota == "NO PAGO" %}
                                            <span id="pay{{ attendance.id }}" class="badge badge-danger" style="font-size: large;">{{ attendance.quota }}
                                            </span>
                                        {% else %}
                                            <span id="pay{{ attendance.id }}" class="badge badge-secondary" style="font-size: large;">{{ attendance.quota }}
                                            </span>
                                        {% endif %}
                                    
                                    </td>
                                    <td data-label="Nota">

                                        {% if attendance.note %}
                                            <span id="quota" style="font-size: x-large;" data-bs-toggle="tooltip" data-bs-placement="right" title="{{ attendance.note }}">
                                                📃
                                            </span>
                                        {% else %}
                                            -
                                        {% endif %}

                                    </td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                        {% endfor %}
                        
                        </tbody>
                    </table>
                </div>
                <div id="student-pag" style="text-align: center; padding: 10px;">
                  <nav aria-label="Page navigation">   
                      <ul class="pagination justify-content-center">
                          {% if old_page.has_previous %}
                              <li class="page-item">
                                  <a class="page-link" href="?old_page=1" aria-label="Previous">
                                      <span aria-hidden="true">&laquo;</span>
                                      <span class="sr-only">begin</span>
                                  </a>
                              </li>   
                          {% endif %}
                  
                          {% for n in old_page.paginator.page_range %}
                              {% if old_page.number == n %}
                                  <li class="page-item active">
                                      <span class="page-link">{{ n }}<span class="sr-only">(current)</span></span>
                                  </li>
                              {% elif n > old_page.number|add:'-3' and n < old_page.number|add:'3' %}
                                  <li class="page-item">
                                      <a class="page-link" href="?old_page={{ n }}">{{ n }}</a>
                                  </li>
                              {% endif %}
                          {% endfor %}
                  
                          {% if old_page.has_next %}
                          <li class="page-item">
                              <a class="page-link" href="?old_page={{ old_page.paginator.num_pages }}" aria-label="Next">
                                  <span aria-hidden="true">&raquo;</span>
                                  <span class="sr-only">end</span>
                              </a>
                          </li>
                          {% endif %}   
                      </ul> 
                  </nav>
                </div>
                </div>
              </div>

    
        </div><br>
  
      <!-- End Left Column -->
      </div>
  
      <!-- Right Top Column -->
      <div class="w3-twothird">
        {% if results != "Hi" %}

            {% if results %}

                <div class="w3-container w3-card show1" style="background-color: #fffde8;">
                    <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-flag fa-fw w3-margin-right w3-xxlarge" style="color: rgb(218, 178, 0);;"></i>
                        Resultados Busqueda:
                    </h2>
                    <div class="w3-container">
                        <div id="student-next" style="color: black;">

                            <table>
                                <thead>
                                    <tr>
                                        <th scope="col">Clase</th>
                                        <th scope="col">Asistencia</th>
                                        <th scope="col">Cupo</th>
                                        <th scope="col">Nota</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    
                                {% for course in results %}
                                    <tr>
                                    <td data-label="Clase">
                                        <span class="badge badge-info" style="font-size: small;">{{ course.students.all.count }}</span>
                                        <a href="{% url 'courses:course' course.id %}">{{course.date|date:"l"}} {{course.date}} de {{course.start_time|date:"P"}} a {{course.end_time|date:"P"}}</a>    
                                    </td> 
                                    {% for attendance in course.attendance.all %}
                                        {% if attendance.student == student %}
                                            <td scope="row" data-label="Asistencia">
                                            {% if attendance.recover == True %}
                                                <span class="badge badge-primary" style="font-size: small;">RECUPERACION</span>
                                                <br>
                                            {% endif %}
                                            {% if attendance.attendance == True %}
                                                <span id="check{{ attendance.id }}" class="badge badge-success" style="font-size: large;">ASISTIO</span>
                                            
                                            {% else %}
                                                <span id="check{{ attendance.id }}" class="badge badge-secondary" style="font-size: large;">PENDIENTE</span>
                                            
                                            {% endif %}
                                            </td>
                                            <td data-label="Cupo">

                                                {% if attendance.cycle == True %}
                                                    <span id="quota" class="badge badge-warning" style="font-size: small;">
                                                        Inicia Ciclo
                                                    </span>
                                                    <br>
                                                {% endif %}
        
                                                {% if attendance.quota == "PAGO" %}
                                                    <span id="pay{{ attendance.id }}" class="badge badge-success" style="font-size: large;">{{ attendance.quota }}
                                                    </span>
                                                {% elif attendance.quota == "NO PAGO" %}
                                                    <span id="pay{{ attendance.id }}" class="badge badge-danger" style="font-size: large;">{{ attendance.quota }}
                                                    </span>
                                                {% else %}
                                                    <span id="pay{{ attendance.id }}" class="badge badge-secondary" style="font-size: large;">{{ attendance.quota }}
                                                    </span>
                                                {% endif %}
                                            
                                            </td>
                                            <td data-label="Nota">
        
                                                {% if attendance.note %}
                                                    <span id="quota" style="font-size: x-large;" data-bs-toggle="tooltip" data-bs-placement="right" title="{{ attendance.note }}">
                                                        📃
                                                    </span>
                                                {% else %}
                                                    -
                                                {% endif %}
        
                                            </td>
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                                {% endfor %}
                                        
                                </tbody>
                            </table>
                            <br>
                        </div>
                    </div>
                </div>

                <br>
            
            {% else %}

                <div class="w3-container w3-card show1" style="background-color: #fffde8;">
                    <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-flag fa-fw w3-margin-right w3-xxlarge" style="color: rgb(218, 178, 0);"></i>
                        Resultados Busqueda:
                    </h2>
                    <div class="w3-container">
                        <div id="student-next" style="color: black;">
                                
                            <ul style="text-align: left; margin-top: 20px;">
                                
                                <li>
                                    Sin resultados.
                                </li>
                                <br>                            
                            </ul>
                        </div>
                    </div>
                </div>
                <br>
        
            {% endif %}
        
        {% endif %}

        <div id="righttop" class="w3-container w3-card" style="background-color: #e3f2fd; display: block;">
            <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-flag fa-fw w3-margin-right w3-xxlarge" style="color: #066DAF;"></i>
                Clases de hoy:
            </h2>
            <div class="w3-container">
              <div id="student-next" style="color: black;">
                    
                <table>
                    <thead>
                        <tr>
                            <th scope="col">Clase</th>
                            <th scope="col">Asistencia</th>
                            <th scope="col">Cupo</th>
                            <th scope="col">Nota</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                    {% for course in today_page.object_list %}
                        <tr>
                        <td data-label="Clase">
                            <span class="badge badge-info" style="font-size: small;">{{ course.students.all.count }}</span>
                            <a href="{% url 'courses:course' course.id %}">{{course.date|date:"l"}} {{course.date}} de {{course.start_time|date:"P"}} a {{course.end_time|date:"P"}}</a>    
                        </td> 
                        {% for attendance in course.attendance.all %}
                                {% if attendance.student == student %}
                                    <td scope="row" data-label="Asistencia">
                                    {% if attendance.recover == True %}
                                        <span class="badge badge-primary" style="font-size: small;">RECUPERACION</span>
                                        <br>
                                    {% endif %}
                                    {% if attendance.attendance == True %}
                                        <span id="check{{ attendance.id }}" class="badge badge-success" style="font-size: large;">ASISTIO</span>
                                    
                                    {% else %}
                                        <span id="check{{ attendance.id }}" class="badge badge-secondary" style="font-size: large;">PENDIENTE</span>
                                    
                                    {% endif %}
                                    </td>
                                    <td data-label="Cupo">

                                        {% if attendance.cycle == True %}
                                            <span id="quota" class="badge badge-warning" style="font-size: small;">
                                                Inicia Ciclo
                                            </span>
                                            <br>
                                        {% endif %}

                                        {% if attendance.quota == "PAGO" %}
                                            <span id="pay{{ attendance.id }}" class="badge badge-success" style="font-size: large;">{{ attendance.quota }}
                                            </span>
                                        {% elif attendance.quota == "NO PAGO" %}
                                            <span id="pay{{ attendance.id }}" class="badge badge-danger" style="font-size: large;">{{ attendance.quota }}
                                            </span>
                                        {% else %}
                                            <span id="pay{{ attendance.id }}" class="badge badge-secondary" style="font-size: large;">{{ attendance.quota }}
                                            </span>
                                        {% endif %}
                                    
                                    </td>
                                    <td data-label="Nota">

                                        {% if attendance.note %}
                                            <span id="quota" style="font-size: x-large;" data-bs-toggle="tooltip" data-bs-placement="right" title="{{ attendance.note }}">
                                                📃
                                            </span>
                                        {% else %}
                                            -
                                        {% endif %}

                                    </td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    
                    </tbody>
                </table>
            
            </div>
            <div id="student-pag" style="text-align: center; padding: 10px;">
              <nav aria-label="Page navigation">   
                  <ul class="pagination justify-content-center">
                      {% if today_page.has_previous %}
                          <li class="page-item">
                              <a class="page-link" href="?today_page=1" aria-label="Previous">
                                  <span aria-hidden="true">&laquo;</span>
                                  <span class="sr-only">begin</span>
                              </a>
                          </li>   
                      {% endif %}
              
                      {% for n in today_page.paginator.page_range %}
                          {% if today_page.number == n %}
                              <li class="page-item active">
                                  <span class="page-link">{{ n }}<span class="sr-only">(current)</span></span>
                              </li>
                          {% elif n > today_page.number|add:'-3' and n < today_page.number|add:'3' %}
                              <li class="page-item">
                                  <a class="page-link" href="?today_page={{ n }}">{{ n }}</a>
                              </li>
                          {% endif %}
                      {% endfor %}
              
                      {% if today_page.has_next %}
                      <li class="page-item">
                          <a class="page-link" href="?today_page={{ today_page.paginator.num_pages }}" aria-label="Next">
                              <span aria-hidden="true">&raquo;</span>
                              <span class="sr-only">end</span>
                          </a>
                      </li>
                      {% endif %}   
                  </ul> 
              </nav>
            </div>
            </div>
          </div>
  
        <br>
      <!-- Right Bottom Column -->
          <div id="rightbottom" class="w3-container w3-card" style="background-color: #e3f2fd; display: block;">
            <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-flag fa-fw w3-margin-right w3-xxlarge" style="color: #066DAF;"></i>
              Próximas Clases:
            </h2>
            <div class="w3-container">
              <div id="student-next" style="color: black;">
                    
                <table>
                    <thead>
                        <tr>
                            <th scope="col">Clase</th>
                            <th scope="col">Asistencia</th>
                            <th scope="col">Cupo</th>
                            <th scope="col">Nota</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                    {% for course in next_page.object_list %}
                        <tr>
                        <td data-label="Clase">
                            <span class="badge badge-info" style="font-size: small;">{{ course.students.all.count }}</span>
                            <a href="{% url 'courses:course' course.id %}">{{course.date|date:"l"}} {{course.date}} de {{course.start_time|date:"P"}} a {{course.end_time|date:"P"}}</a>    
                        </td> 
                        {% for attendance in course.attendance.all %}
                                {% if attendance.student == student %}
                                    <td scope="row" data-label="Asistencia">
                                    {% if attendance.recover == True %}
                                        <span class="badge badge-primary" style="font-size: small;">RECUPERACION</span>
                                        <br>
                                    {% endif %}
                                    {% if attendance.attendance == True %}
                                        <span id="check{{ attendance.id }}" class="badge badge-success" style="font-size: large;">ASISTIO</span>
                                    
                                    {% else %}
                                        <span id="check{{ attendance.id }}" class="badge badge-secondary" style="font-size: large;">PENDIENTE</span>
                                    
                                    {% endif %}
                                    </td>
                                    <td data-label="Cupo">

                                        {% if attendance.cycle == True %}
                                            <span id="quota" class="badge badge-warning" style="font-size: small;">
                                                Inicia Ciclo
                                            </span>
                                            <br>
                                        {% endif %}

                                        {% if attendance.quota == "PAGO" %}
                                            <span id="pay{{ attendance.id }}" class="badge badge-success" style="font-size: large;">{{ attendance.quota }}
                                            </span>
                                        {% elif attendance.quota == "NO PAGO" %}
                                            <span id="pay{{ attendance.id }}" class="badge badge-danger" style="font-size: large;">{{ attendance.quota }}
                                            </span>
                                        {% else %}
                                            <span id="pay{{ attendance.id }}" class="badge badge-secondary" style="font-size: large;">{{ attendance.quota }}
                                            </span>
                                        {% endif %}
                                    
                                    </td>
                                    <td data-label="Nota">

                                        {% if attendance.note %}
                                            <span id="quota" style="font-size: x-large;" data-bs-toggle="tooltip" data-bs-placement="right" title="{{ attendance.note }}">
                                                📃
                                            </span>
                                        {% else %}
                                            -
                                        {% endif %}

                                    </td>
                                {% endif %}
                        {% endfor %}
                        </tr>
                    {% endfor %}
                    
                    </tbody>
                </table>
            </div>
            <div id="student-pag" style="text-align: center; padding: 10px;">
              <nav aria-label="Page navigation">   
                  <ul class="pagination justify-content-center">
                      {% if next_page.has_previous %}
                          <li class="page-item">
                              <a class="page-link" href="?next_page=1" aria-label="Previous">
                                  <span aria-hidden="true">&laquo;</span>
                                  <span class="sr-only">begin</span>
                              </a>
                          </li>   
                      {% endif %}
              
                      {% for n in next_page.paginator.page_range %}
                          {% if next_page.number == n %}
                              <li class="page-item active">
                                  <span class="page-link">{{ n }}<span class="sr-only">(current)</span></span>
                              </li>
                          {% elif n > next_page.number|add:'-3' and n < next_page.number|add:'3' %}
                              <li class="page-item">
                                  <a class="page-link" href="?next_page={{ n }}">{{ n }}</a>
                              </li>
                          {% endif %}
                      {% endfor %}
              
                      {% if next_page.has_next %}
                      <li class="page-item">
                          <a class="page-link" href="?next_page={{ next_page.paginator.num_pages }}" aria-label="Next">
                              <span aria-hidden="true">&raquo;</span>
                              <span class="sr-only">end</span>
                          </a>
                      </li>
                      {% endif %}   
                  </ul> 
              </nav>
            </div>
            </div>
          </div>
  
        <!-- End Right Column -->
    
      </div>
      
    <!-- End Grid -->
    </div>
    
    <!-- End Page Container -->
</div>

    <!-- Jquery JS-->
    <script src="{% static 'vendor/jquery/jquery1.min.js' %}"></script>
    <!-- Vendor JS-->
    <script src="{% static 'vendor/select2/select21.min.js' %}"></script>
    <script src="{% static 'vendor/datepicker/moment1.min.js' %}"></script>
    <script src="{% static 'vendor/datepicker/daterangepicker1.js' %}"></script>

    <!-- Main JS-->
    <script src="{% static 'js/global1.js' %}"></script>

    <!-- Tooltips -->

    <script>
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl)
        })
    </script>
  

{% endblock %}
