{%  extends "courses/layout.html" %}
{% block body %}
    <br>
    <div style="width:500px; text-align:center; margin-right: auto; margin-left:auto;">
        <form action="{% url 'courses:index' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form }}
            <input class="btn btn-primary" style="display: inline;" type="submit" value="Buscar">
        </form>
    </div>
    <br>
    <main class="container">
        <div class="table-responsive">
            <table class="table"style="margin-left: auto; margin-right: auto;">
                <thead>
                    <tr style="text-align: center;">
                        <th scope="col">Documento</th>
                        <th scope="col">Nombres</th>
                        <th scope="col">Apellidos</th>
                        <th scope="col">Telefono/Celular (1)</th>
                        <th scope="col">Telefono/Celular (2)</th>
                    </tr>
                </thead>
                <tbody>
                    {% if page %}
                        {% for student in page.object_list %}
                        <tr style="text-align:center;">
                            <td>{{ student.identity_document }}</td>
                            <td><a href="{% url 'courses:student' student.id %}">{{ student.first_name }}</a></td>
                            <td><a href="{% url 'courses:student' student.id %}">{{ student.last_name }}</a></td>
                            <td>{{ student.phone_1 }}</td>
                            <td>{{ student.phone_2 }}</td>
                        </tr>
                        {% empty %}
                        <div style="text-align: center; margin-bottom: 30px; color: crimson; font-weight: bold;">Sin resultados</div>
                        {% endfor %}
                    {% else %}
                        {% for student in students %}
                        <tr style="text-align:center;">
                            <td>{{ student.identity_document }}</td>
                            <td><a href="{% url 'courses:student' student.id %}">{{ student.first_name }}</a></td>
                            <td><a href="{% url 'courses:student' student.id %}">{{ student.last_name }}</a></td>
                            <td>{{ student.phone_1 }}</td>
                            <td>{{ student.phone_2 }}</td>
                        </tr>
                        {% empty %}
                        <div style="text-align: center; margin-bottom: 30px; color: crimson; font-weight: bold;">Sin resultados</div>
                        {% endfor %}
                    {% endif %}
                </tbody>
            </table>
            <nav aria-label="Page navigation">   
                <ul class="pagination justify-content-center">
                    {% if page.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page=1" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">begin</span>
                            </a>
                        </li>   
                    {% endif %}
            
                    {% for n in page.paginator.page_range %}
                        {% if page.number == n %}
                            <li class="page-item active">
                                <span class="page-link">{{ n }}<span class="sr-only">(current)</span></span>
                            </li>
                        {% elif n > page.number|add:'-3' and n < page.number|add:'3' %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ n }}">{{ n }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
            
                    {% if page.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page.paginator.num_pages }}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">end</span>
                        </a>
                    </li>
                    {% endif %}   
                </ul> 
            </nav>
        </div>
    </main>
{% endblock %}