{% extends 'base.html' %}
{% load modal_tags %}
{% load component_tags %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

  {% include "../modals/modal_students.html" %}

  {% modal_profile request.user None None noteForm %}

  <!-- Page Container -->
  <div class="w3-content w3-margin-top" style="max-width: 1400px">
    <!-- The Grid -->
    <div class="w3-row-padding">
      <!-- Left Column -->
      <div class="w3-third" style="float: right">
        <div class="w3-text-grey w3-card-4">
          <div class="w3-container" style="text-align: center">
            <br/>

            <p class="w3-large">
              <b>
                <i class="fas fa-users-cog fa-fw w3-margin-right w3-text-realBlue"></i>
                Más opciones
              </b>
              <button id="showStudentOptionsButton" onclick="showStudentOptions();" class="btn btn-outline-primary">Cerrar</button>
            </p>

            <div id="studentOptions">
              <button onclick="get_inconsistencies();" class="btn btn-outline-danger mb-2" data-bs-toggle="modal" data-bs-target="#inconsistenciesStudentModal">Inconsistencias</button>
              <button onclick="get_plus();" class="btn btn-outline-primary mb-2" data-bs-toggle="modal" data-bs-target="#plusStudentModal">Estudiantes +</button>
              <button onclick="get_teachers();" class="btn btn-outline-primary mb-2" data-bs-toggle="modal" data-bs-target="#teachersModal">Profesores</button>
              <button onclick="get_change();" class="btn btn-outline-primary mb-2" data-bs-toggle="modal" data-bs-target="#changeStudentModal">
                <span class="badge bg-primary" style="color: white">{{ changeCount }}</span>
                Cambio de Información
              </button>
              <button onclick="load_active_students();" class="btn btn-outline-primary mb-2" data-bs-toggle="modal" data-bs-target="#activeStudentsModal">
                <span class="badge bg-primary" style="color: white">{{ countActiveStudents }}</span>
                Estudiantes Activos
              </button>
              <br/>
            </div>
          </div>
        </div>
        <br/>

        <!-- End Left Column -->
      </div>

      <!-- Left Column -->

      {% search_user %}

      <!-- Right Column -->
      <div class="w3-twothird">
        <div class="w3-container w3-card w3-margin-bottom">
          <h2 class="w3-text-grey w3-padding-16">
            <i class="fas fa-users fa-fw w3-margin-right w3-xxlarge w3-text-realBlue"></i>
            {{ countStudents }}
            Estudiantes
            <button class="btn btn-primary" style="float: right" data-bs-toggle="modal" data-bs-target="#createStudentModal">Crear Estudiante</button>
          </h2>

          <div class="w3-container">
            <table>
              <thead>
                <tr>
                  <th scope="col">Documento</th>
                  <th scope="col">Nombres</th>
                  <th scope="col">Apellidos</th>
                  <th scope="col">Tel/Cel (1)</th>
                  <th scope="col">Tel/Cel (2)</th>
                  <th scope="col">Últ. vez</th>
                </tr>
              </thead>
              <tbody id="students_table"></tbody>
            </table>
            <div id="loadStudents"></div>
            <br/>
          </div>
        </div>
        <!-- End Right Column -->
      </div>

      <!-- End Grid -->
    </div>

    <!-- End Page Container -->
  </div>

  <script>
    $("#createStudentForm").submit(function (e) {
      e.preventDefault();

      const form = $(this);

      $.ajax({
        type: "POST",
        url: `${mysite}/courses/create_student/`,
        data: form.serialize(),
        beforeSend: function () {
          document
            .querySelector("#createStudentButton")
            .style
            .display = "none";
          document
            .querySelector("#loadCreateStudent")
            .classList
            .add("loader");
          document
            .querySelector("#createStudentMessages")
            .classList
            .remove("alert");

          document
            .querySelector("#createStudentMessages")
            .classList
            .remove("alert-danger");

          document
            .querySelector("#createStudentMessages")
            .innerHTML = "";
        },
        error: function (error) {
          console.log("Error!", error);
        },
        success: function (response) {
          if (response.userID !== null) {
            window
              .location
              .replace(`${mysite}/courses/student/${response.userID}`);
          } else {
            document
              .querySelector("#loadCreateStudent")
              .classList
              .remove("loader");
            document
              .querySelector("#createStudentButton")
              .style
              .display = "block";

            for (let messageID in response.messages) {
              document
                .querySelector("#createStudentMessages")
                .classList
                .add("alert");
              document
                .querySelector("#createStudentMessages")
                .classList
                .add("alert-danger");
              $("#createStudentMessages").append(`<li class="ml-2">${response.messages[messageID]}</li>`);
            }
          }
        }
      });
    });

    function load_students() {
      // Set start and end students numbers, and update counter
      const start = studentCounter;
      const end = studentCounter + studentQuantity;
      studentCounter = end + 1;

      // Fetch new students and add them
      $.ajax({
        type: "GET",
        url: `${mysite}/courses/load_students/`,
        data: {
          start: start,
          end: end
        },
        beforeSend: function () {
          document
            .querySelector("#loadStudents")
            .classList
            .add("loader");
        },
        error: function (error) {
          console.log("Error!", error);
        },
        success: function (response) {
          // console.log(response);
          document
            .querySelector("#loadStudents")
            .classList
            .remove("loader");

          if (response.all_loaded === true) {
            allStudents = true;
          }

          for (let studentID = 0; studentID < response.students.length; studentID++) {
            login = prettyDate(response.students[studentID].real_last_login);
            login = login !== "1969-12-31"
              ? login
              : "-";

            $("#students_table").append(`<tr> \
                                                <td scope="row" data-label="Documento"> \
                                                    <a href="#" onclick="load_profile_data(${response.students[studentID].id});" data-bs-toggle="modal" data-bs-target="#profileModal">${response.students[studentID].identity_document}</a>\
                                                </td>\
                                                <td scope="row" data-label="Nombres">\
                                                    <a href="#" onclick="load_profile_data(${response.students[studentID].id});" data-bs-toggle="modal" data-bs-target="#profileModal">${response.students[studentID].first_name}</a>\
                                                </td>\
                                                <td scope="row" data-label="Apellidos">\
                                                    <a href="#" onclick="load_profile_data(${response.students[studentID].id});" data-bs-toggle="modal" data-bs-target="#profileModal">${response.students[studentID].last_name}</a>\
                                                </td>\
                                                <td scope="row" data-label="Tel/Cel (1)">\
                                                    <a href="#" onclick="load_profile_data(${response.students[studentID].id});" data-bs-toggle="modal" data-bs-target="#profileModal">${response.students[studentID].phone_1}</a>\
                                                </td>\
                                                <td scope="row" data-label="Tel/Cel (2)">\
                                                    <a href="#" onclick="load_profile_data(${response.students[studentID].id});" data-bs-toggle="modal" data-bs-target="#profileModal">${response.students[studentID].phone_2}</a>\
                                                </td>\
                                                <td style="border-bottom: 2px solid steelblue;" scope="row" data-label="Últ. vez">\
                                                    <a href="#" onclick="load_profile_data(${response.students[studentID].id});" data-bs-toggle="modal" data-bs-target="#profileModal">${login}</a>\
                                                </td>\
                                            </tr>`);
          }
        }
      });
    }

    document.addEventListener("DOMContentLoaded", load_students);

    $(window).scroll(function () {
      if ($(window).scrollTop() + $(window).height() >= $(document).height() - 200 && allStudents === false) {
        load_students();
      }
    });

    function setDefaultPassword() {
      $("#id_password1").val("AquariumSchool");
      $("#id_password2").val("AquariumSchool");
    }
  </script>
{% endblock %}