{% extends 'base.html' %}

{% load modal_tags %}
{% load component_tags %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

  <div id="userID" value="{{ user.id }}"></div>

  <!-- Page Container -->
  <div class="w3-content w3-margin-top" style="max-width: 1400px">
    <!-- The Grid -->
    <div class="w3-row-padding">
      {% information request.user user False studentForm signatureForm age %}
      {% schedule user %}
      {% statistics request.user user %}
      {% notes request.user user noteForm %}
      {% levels request.user user %}
    </div>
    <!-- End Grid -->

    <hr/>

    {% if not user.is_admin and not user.is_teacher %}
      <!-- The Grid -->
      <div class="w3-row-padding">
        {% attendances request.user user False coursesForm %}
      </div>
      <!-- End Grid -->
    {% endif %}

    <!-- End Page Container -->
  </div>

{% endblock %}
