<!DOCTYPE html>
{% load static %}
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">
    <meta name="description" content="Aquarium School es una escuela de natación para niños, jóvenes y adultos en Bogotá. Piscina climatizada, excelente ambiente e instructores.">
    <meta name="author" content="Aquarium School">
    <meta property="og:site_name" content="Aquarium School"/>
    <meta property="og:site" content="https://www.aquariumschool.co"/>
    <meta property="og:title" content="Aquarium School"/>
    <meta property="og:description" content="Aquarium School"/>
    <meta property="og:image" content="{% static 'images/linklogo.png' %}"/>
    <meta property="og:url" content="https://www.aquariumschool.co"/>
    <meta property="og:type" content="article"/>

    <!-- Website Title -->
    <title>Aquarium School</title>

    <!-- Styles -->
    <link rel="icon" href="{% static 'images/logo.webp' %}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:500,700&display=swap&subset=latin-ext" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600&display=swap&subset=latin-ext" rel="stylesheet">
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/swiper.css' %}" rel="stylesheet">
    <link href="{% static 'css/magnific-popup.css' %}" rel="stylesheet">
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
    <link href="{% static 'css/w3.css' %}" rel="stylesheet">
    <link href="{% static 'css/cropper.css' %}" rel="stylesheet"/>

    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/f042eae6e8.js" crossorigin="anonymous"></script>

    {% comment %} JQuery {% endcomment %}
    <script src="{% static 'js/jquery.min.js' %}"></script>

    <!-- jQuery for Bootstrap's JavaScript plugins -->
    <script src="{% static 'js/popper.min.js' %}"></script>

    <!-- Popper tooltip library for Bootstrap -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    {% comment %} Variables {% endcomment %}
    <script src="{% static 'js/variables.js' %}"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <!-- <script src="https://www.google.com/recaptcha/api.js?render=6LfvUi4aAAAAAAsmt0oluwusZwigl1lTG87hk9BC"></script> -->
    <script data-ad-client="ca-pub-9848347625525796" async="async" src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script async="async" src="https://www.googletagmanager.com/gtag/js?id=G-XTNLXDS27T"></script>
    <script>
      window.dataLayer = window.dataLayer || [];

      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());

      gtag('config', 'G-XTNLXDS27T');

      {% comment %} const mysite = "http://127.0.0.1:8000"; {% endcomment %}
      const mysite = "https://aquariumschool.co";

      // ---------THIS FUNCTION DELAYS OUR AJAX DABATASE QUERIES----------
      function delay(fn, ms) {
        let timer = 0;
        return function (...args) {
          clearTimeout(timer);
          timer = setTimeout(fn.bind(this, ...args), ms || 0);
        };
      }

      // Takes an ISO time and returns a string representing how
      // long ago the date represents.
      function prettyDate(time) {
        const date = new Date(time),
          diff = (new Date().getTime() - date.getTime()) / 1000,
          day_diff = Math.floor(diff / 86400);

        if (isNaN(day_diff) || day_diff < 0 || day_diff >= 31) return;

        return (
          (day_diff == 0 && ((diff < 60 && "justo ahora") || (diff < 120 && "Hace 1 minuto") || (diff < 3600 && "Hace " + Math.floor(diff / 60) + " minutos") || (diff < 7200 && "Hace 1 hora") || (diff < 86400 && "Hace " + Math.floor(diff / 3600) + " horas"))) ||
          (day_diff == 1 && "Ayer") ||
          (day_diff < 7 && "Hace " + day_diff + " días") ||
          (day_diff < 31 && "Hace " + Math.ceil(day_diff / 7) + " semanas")
        );
      }

      function tConvert(time) {
        // Check correct time format and split into components
        time = time.toString().match(/^([01]\d|2[0-3])(:)([0-5]\d)(:[0-5]\d)?$/) || [time];

        if (time.length > 1) {
          // If time format correct
          time = time.slice(1); // Remove full string match value
          time[5] = +time[0] < 12 ? "AM" : "PM"; // Set AM/PM
          time[0] = +time[0] % 12 || 12; // Adjust hours
        }
        return time.join(""); // return adjusted time or original string
      }

      // THIS FUNCTION ACTIVATES TOOLTIPS
      function activateToolTip() {
	      $('[data-toggle="tooltip"]').tooltip();
      }

      if (typeof jQuery != "undefined") {
        jQuery.fn.prettyDate = function () {
          return this.each(function () {
            const date = prettyDate(this.title);
            if (date) jQuery(this).text(date);
          });
        };
      }

    </script>

    <!-- END GOOGLE -->


    {% block head %}{% endblock %}
  </head>

  <body data-spy="scroll" data-target=".fixed-top">

    {% block messenger %}{% endblock %}

    <!-- Preloader -->
    <div class="spinner-wrapper">
      <div class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
      </div>
    </div>
    <!-- end of preloader -->

    <!-- Navbar -->
    <nav class="navbar navbar-expand-md navbar-dark navbar-custom fixed-top">
      <!-- Text Logo - Use this if you don't have a graphic logo -->
      <!-- <a class="navbar-brand logo-text page-scroll" href="index.html">Aria</a> -->

      <!-- Image Logo -->
      <a class="navbar-brand logo-image" href="/"><img src="{% static 'images/logo.svg' %}" alt="alternative"></a>

      <!-- Mobile Menu Toggle Button -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-awesome fas fa-bars"></span>
        <span class="navbar-toggler-awesome fas fa-times"></span>
      </button>
      <!-- end of mobile menu toggle button -->

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav ml-auto">
          {% if adminBar %}
            <li class="nav-item">
              <a class="nav-link page-scroll" href="{% url 'courses:students' %}">ESTUDIANTES</a>
            </li>
            <li class="nav-item">
              <a class="nav-link page-scroll" href="{% url 'courses:courses' %}">CLASES</a>
            </li>

          {% elif userBar or teacherBar %}
          {% else %}

            <li class="nav-item">
              <a class="nav-link page-scroll" href="#header">INICIO
                <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link page-scroll" href="#intro">NOSOTROS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link page-scroll" href="#services">CURSOS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link page-scroll" href="#info">INFORMACIÓN</a>
            </li>
            <li class="nav-item">
              <a class="nav-link page-scroll" href="#projects">FOTOS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link page-scroll" href="#contact">CONTACTOS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link page-scroll" href="#social">SOCIAL</a>
            </li>

          {% endif %}

          {% if request.user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link page-scroll sign" href="{% url 'users:profile' %}">{{ request.user.username }}</a>
            </li>
            <li class="nav-item">

              <a class="nav-link page-scroll sign" href="{% url 'users:logout' %}">
                <i class="fas fa-sign-out-alt"></i>
                SALIR</a>
            </li>

          {% else %}
            <li class="nav-item">
              <a class="nav-link page-scroll sign" href="#" data-bs-toggle="modal" data-bs-target="#modal">
                <i class="fas fa-sign-in-alt"></i>
                INGRESAR</a>
            </li>
          {% endif %}
        </ul>
      </div>
    </nav>
    <!-- end of navbar -->
    <!-- end of navbar -->

    {% if not request.user.is_authenticated %}
      <!-- First modal dialog -->
      <div class="modal" id="modal" aria-hidden="true" aria-labelledby="..." tabindex="-1">
        <div class="modal-dialog modal-lg modal-dialog-centered">
          <div class="modal-content" style="background-color: #ccf3fb;">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Ingresar</h5>
              <button type="button" class="btn btn-outline-info btn-close" data-bs-dismiss="modal" aria-label="Close">&times;</button>
            </div>
            <div class="modal-body col-10" style="margin-left: auto; margin-right: auto;">
              <div style="text-align: center;">
                <img src="{% static 'images/logo.webp' %}" alt="DupleBeat" style="width: 100px;">
              </div>
              <br>
              <form id="loginForm" action="#" method="POST" autocomplete="off" enctype="multipart/form-data">
                {% csrf_token %}
                <span id="loginMessage" style="color: crimson;"></span>
                <input id="loginUsername" type="text" class="form-control" placeholder="Documento / Correo electrónico" name="username" required="required">
                <br>
                <input id="loginPassword" type="password" class="form-control" placeholder="Contraseña" name="password" required="required">
                <br>
                <button id="loginButton" type="submit" class="btn btn-info js-crop-and-upload" form="loginForm">
                  Iniciar Sesión
                </button>
                <div id="loadLogin"></div>

                <div class="modal-footer mt-1">
                  <!-- <button style="float: right;" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Atrás</button> -->
                  <a href="{% url 'reset_password' %}" class="btn btn-outline-info" type="button">
                    ¿Olvidó la contraseña?
                  </a>
                  <!-- Toogle to second dialog -->
                  <!-- <button type="button" class="btn btn-warning" data-bs-target="#modal2" data-bs-toggle="modal" data-bs-dismiss="modal">¿Sin cuenta?</button> -->
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- Second modal dialog -->
      <div class="modal" id="modal2" aria-hidden="true" aria-labelledby="..." tabindex="-1">
        <div class="modal-dialog modal-fullscreen-md-down modal-lg modal-dialog-centered modal-dialog-scrollable">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Registrarse</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="background-color: white;"></button>
            </div>
            <div class="modal-body col-10" style="margin-left: auto; margin-right: auto;">
              <ul id="errorMessages"></ul>
              <form id="registerForm" action="#" method="POST" autocomplete="off" enctype="multipart/form-data">
                {% csrf_token %}
                <!-- registerform | crispy -->
                <br>
                <button id="registerButton" type="submit" class="btn btn-outline-success js-crop-and-upload" form="registerForm">Registrarse</button>
                <div id="loadRegister"></div>
                <div class="modal-footer mt-1">
                  <!-- <button type="button" class="btn btn-success" data-bs-dismiss="modal">Atrás</button> -->
                  <!-- Toogle to first dialog, `data-bs-dismiss` attribute can be omitted - clicking on link will close dialog anyway -->
                  <a class="btn btn-warning" href="#modal" data-bs-toggle="modal" role="button" data-bs-dismiss="modal">
                    ¿Ya tiene una cuenta?
                  </a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endif %}

  <div style="margin-top: 90px;">
    {% block content %}{% endblock %}
  </div>

  <!-- Bootstrap -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

  <!-- Scripts -->
  <script src="{% static 'js/jquery.easing.min.js' %}"></script>
  <script src="{% static 'js/swiper.min.js' %}"></script>
  <script src="{% static 'js/jquery.magnific-popup.js' %}"></script>
  <script src="{% static 'js/morphext.min.js' %}"></script>
  <script src="{% static 'js/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'js/validator.min.js' %}"></script>
  <script src="{% static 'js/myEventListeners.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>
  {% block scripts %}{% endblock %}

</body>

</html>