<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">
    <meta name="description" content="Aquarium School es una escuela de natación para niños, jóvenes y adultos en Bogotá. Piscina climatizada, excelente ambiente e instructores.">
    <meta name="author" content="Aquarium School">
	<meta property="og:site_name" content="Aquarium School" /> 
	<meta property="og:site" content="https://www.aquariumschool.co" /> 
	<meta property="og:title" content="Aquarium School"/> 
	<meta property="og:description" content="Aquarium School" />
	<meta property="og:image" content="{% static 'main/linklogo.png' %}" />
	<meta property="og:url" content="https://www.aquariumschool.co" />
    <meta property="og:type" content="article" />
    <meta charset="UTF-8">

    <title>Aquarium School</title>
    
    <link rel="canonical" href="https://www.free-css.com/free-css-templates/page259/aria">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:500,700&display=swap&subset=latin-ext" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600&display=swap&subset=latin-ext" rel="stylesheet">
    <link href="{% static 'main/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'main/fontawesome-all.css' %}" rel="stylesheet">
    <link href="{% static 'main/swiper.css' %}" rel="stylesheet">
    <link href="{% static 'main/magnific-popup.css' %}" rel="stylesheet">
    <link href="{% static 'main/styles.css' %}" rel="stylesheet">
    <link rel="icon" href="{% static 'main/logo.png' %}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script data-ad-client="ca-pub-9848347625525796" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-XTNLXDS27T"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-XTNLXDS27T');
    </script>

    <script>
        $(document).ready(function(){
          $("#sign").mouseover(function(){
            $("#sign").css("color", "steelblue");
          });
          $("#sign").mouseout(function(){
            $("#sign").css("color", "fuchsia");
          });
        });
    </script>

    <style>
        .fa {
            padding: 10px;
            font-size: 30px;
            width: 50px;
            text-align: center;
            text-decoration: none;
            border-radius: 50%;
        }

        .fa:hover, #iconumber:hover {
            text-decoration: none;
            color: powderblue;
        }

        .fa-facebook {
            color: white;
        }
        
        .fa-facebook:hover {
            color: powderblue;
        }

        .fa-instagram {
            color: white;
        }

        .fa-instagram:hover {
            color: powderblue;
        }

        .fa-whatsapp {
            color: white;
        }

        .fa-whatsapp:hover {
            color: powderblue;
        }

        #admin:hover, #wanumber:hover, #textsm:hover, #number:hover {
            color: powderblue;
        }

        #wanumber, #number {
            color: white;
            text-decoration: none;
            font-size: large;
            font-family: Arial, Helvetica, sans-serif;
            display: inline;
            margin-left: 10px;
            margin-top: 5px;
            font-weight: bold;
        }

        #iconumber {
            display: inline; 
            color: white; 
            border-radius: 50%;
            font-size: 30px;
            width: 30px;
            text-align: center;
            text-decoration: none;
        }

        #textsm {
            color: white;
            text-decoration: none;
            font-weight: bold;
            margin-left: 10px;
            margin-top: 10px;
        }

        #sign:hover {
            color: steelblue;
        }

        #outt {
            -webkit-filter: invert(1);
            filter: invert(1);
            opacity: 0.6;
        }

        #outt:hover {
            opacity: 1;
        }

    </style>
</head>
<body data-spy="scroll" data-target=".fixed-top">

    <div id="fb-root"></div>
    <script>
        window.fbAsyncInit = function() {
            FB.init({
                xfbml: true,
                version: 'v9.0'
            });
        };

        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];

            if (d.getElementById(id)) return;

            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/es_LA/sdk/xfbml.customerchat.js';
            fjs.parentNode.insertBefore(js, fjs);
        }
        (document, 'script', 'facebook-jssdk'));
    
    </script>

    <div class="fb-customerchat" attribution=setup_tool page_id="104390134444348" theme_color="#4682b4" logged_in_greeting="Bienvenida/o a Aquarium School, ¿Cómo te podemos ayudar?" logged_out_greeting="Bienvenida/o a Aquarium School, ¿Cómo te podemos ayudar?"></div>
    
	<div class="spinner-wrapper">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>    

    <nav class="navbar navbar-expand-md navbar-dark navbar-custom fixed-top">
        <a class="navbar-brand logo-image" href="#header"><img src="{% static 'main/logo.svg' %}" alt="alternative"></a>
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-awesome fas fa-bars"></span>
            <span class="navbar-toggler-awesome fas fa-times"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#header">INICIO<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#intro">NOSOTROS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#services">CURSOS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#projects">FOTOS</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#contact">CONTACTO</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#callMe">SOCIAL</a>
                </li>
                <li class="nav-item">
                    <a id="sign" class="nav-link page-scroll" style="color: fuchsia;" href="{% url 'login' %}">
                    {% if request.user.is_authenticated %}
                        {% if not request.user.first_name_1 %}
                            {% if not request.user.first_name %}
                                Mi Cuenta
                            {% else %}
                                {{ request.user.first_name }}
                            {% endif %}
                        {% else %}
                            {{ request.user.first_name_1 }}
                        {% endif %}
                    {% else %}
                        INICIAR SESIÓN
                    {% endif %}
                    </a>
                </li>
            </ul>
            {% if request.user.is_authenticated %}
            <a id="outt" class="nav-link page-scroll" href="{% url 'courses:logout' %}" style="text-decoration: none;">
                <p style="display: inline; color: white;">Salir</p>
                <img src="{% static 'users/logout.png' %}" style="height: 20px;display: inline;">
            </a>
            {% endif %}
            <span class="nav-item social-icons">
                <span class="fa-stack">
                    <a href="https://www.facebook.com/AquariumSchoolBogota" target="_blank">
                        <span class="hexagon"></span>
                        <i class="fab fa-facebook-f fa-stack-1x"></i>
                    </a>
                </span>
                <span class="fa-stack">
                    <a href="https://www.instagram.com/aquarium.school/" target="_blank">
                        <span class="hexagon"></span>
                        <i class="fab fa-instagram fa-stack-1x"></i>
                    </a>
                </span>
            </span>
        </div>
    </nav>

    <header id="header" class="header">
        <div class="header-content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-container">
                            <img style="max-width: 100%; max-height: 100%;" src="{% static 'main/mainaq.png' %}">
                            <h3 style="color: steelblue; font-weight: bold;">Donde aprender a nadar es <span id="js-rotating">fácil., rápido., seguro.</span></h3> <br>
                            <a class="btn-solid-lg page-scroll" href="#intro">EMPEZAR</a>
                        </div>
                    </div> 
                </div> 
            </div> 
        </div> 
    </header> 

    <div id="intro" class="basic-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="text-container">
                        <div class="section-title">NOSOTROS</div>
                        <h2>¿Quienes Somos?</h2>
                        <p>
                            Nuestra escuela de natación cuenta con piscina cubierta climatizada con sistema de purificación 
                            (que cumple los estándares de limpieza de agua que exige la secretaria de salud) con profesores licenciados. <br>
                            Contamos con amplios vestieres, sala de espera con wifi y zona de parqueo. <br>
                            En Aquarium School - Escuela de Natación nos especializamos en cursos de natación permanentes para niños, jóvenes y adultos, 
                            descuentos especiales para grupos, empresas, jardines y colegios. Nuestra experiencia garantiza un óptimo desarrollo de nuestra labor.
                        </p> 
                        <p class="testimonial-text">
                            "Ofrecemos cursos de natación para niños, jóvenes y adultos en Bogotá con piscina climatizada, excelente ambiente e instructores."
                        </p>
                        <div style="text-align: center; padding: 50px;">
                            <img style="width: 150px;"src="{% static 'main/logo.png' %}">
                            <div id="counter">
                                <div class="cell">
                                    <div class="counter-value" style="display: inline; color: steelblue;font-size: xx-large; font-weight: bold;" data-count="2021">1</div>
                                </div>
                            </div>
                        </div>                        
                    </div>
                </div>

                <div class="col-lg-7">
                    <div class="image-container">
                        <img class="img-fluid" src="{% static 'main/intro-office.jpg' %}" alt="alternative">
                    </div>
                </div> 
                
            </div> 
        </div>
    </div> 

    <div class="cards-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    
                    <div class="card">
                        <span class="fa-stack">
                            <span class="hexagon"></span>
                            <i class="fas fa-shower fa-stack-1x"></i>
                        </span>
                        <div class="card-body">
                            <h4 class="card-title">Duchas</h4>
                            <p>
                                Para prevenir los daños para tu salud y la salud del agua de las piscinas, debemos <strong>ducharnos antes de entrar a la piscina</strong> para retirar de la piel los gérmenes y 
                                los restos de los productos de higiene y <strong>ducharnos despues de entrar a la piscina</strong> para retirar el cloro de nuestro cuerpo y cabello.
                            </p>
                        </div>
                    </div>

                    <div class="card">
                        <span class="fa-stack">
                            <span class="hexagon"></span>
                            <i class="fas fa-tshirt fa-stack-1x"></i>
                        </span>
                        <div class="card-body">
                            <h4 class="card-title">Vestieres</h4>
                            <p>
                                Contamos con vestieres para que los estudiantes puedan cambiarse las prendas de ropa antes y despues de las <strong>clases de piscina.</strong>
                            </p>
                        </div>
                    </div>

                    <div class="card">
                        <span class="fa-stack">
                            <span class="hexagon"></span>
                            <i class="fas fa-couch fa-stack-1x"></i>
                        </span>
                        <div class="card-body">
                            <h4 class="card-title">Sala de espera</h4>
                            <p>
                                En la sala de espera los <strong>padres o familiares</strong> del almuno podrán <strong>visualizar</strong> 
                                tanto la clase como a los estudiantes.
                            </p>
                        </div>
                    </div>

                </div> 
            </div> 
        </div>
    </div> 

    <div id="services" class="cards-2">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">Aprende a nadar con nuestros</div>
                    <h2>CURSOS<br></h2>
                </div> 
            </div> 
            <div class="row">
                <div class="col-lg-12">
                    
                    <div class="card">
                        <div class="card-image">
                            <img class="img-fluid" src="{% static 'main/services-1.jpg' %}" alt="alternative">
                        </div>
                        <div class="card-body">
                            <h3 class="card-title">Niños</h3>
                            <p>Cursos para niños de 3 a 9 años. Tu hijo podra aprender, continuar aprendiendo y dominar objetivos como:</p>
                            <ul class="list-unstyled li-space-lg">
                                <li class="media">
                                    <i class="fas fa-square"></i>
                                    <div class="media-body">Manejo de la respiracion.</div>
                                </li>
                                <li class="media">
                                    <i class="fas fa-square"></i>
                                    <div class="media-body">Habilidad en el agua.</div>
                                </li>
                            </ul>
                            <p class="price">Mensualidad: <span>$95.000</span></p>
                        </div>
                        <div class="button-container">
                            <a class="btn-solid-reg page-scroll" href="#contact">CONTACTO</a>
                        </div> 
                    </div>

                    <div class="card">
                        <div class="card-image">
                            <img class="img-fluid" src="{% static 'main/services-2.jpg' %}" alt="alternative">
                        </div>
                        <div class="card-body">
                            <h3 class="card-title">Jóvenes</h3>
                            <p>
                                Cursos para jóvenes de 9 a 17 años. Seráz capaz de moverte como tiburon en el agua, con el fin de:
                            </p>
                            <ul class="list-unstyled li-space-lg">
                                <li class="media">
                                    <i class="fas fa-square"></i>
                                    <div class="media-body">Mejorar estado físico.</div>
                                </li>
                                <li class="media">
                                    <i class="fas fa-square"></i>
                                    <div class="media-body">Mejorar resistencia.</div>
                                </li>
                            </ul>
                            <p class="price">Mensualidad: <span>$95.000</span></p>
                        </div>
                        <div class="button-container">
                            <a class="btn-solid-reg page-scroll" href="#contact">CONTACTO</a>
                        </div> 
                    </div>

                    <div class="card">
                        <div class="card-image">
                            <img class="img-fluid" src="{% static 'main/services-3.jpg' %}" alt="alternative">
                        </div>
                        <div class="card-body">
                            <h3 class="card-title">Adultos</h3>
                            <p>Cursos para adultos de 17 años en adelante. No solo te permite tener mejor capacidad física, sino también:</p>
                            <ul class="list-unstyled li-space-lg">
                                <li class="media">
                                    <i class="fas fa-square"></i>
                                    <div class="media-body">Mantener buena salud mental.</div>
                                </li>
                                <li class="media">
                                    <i class="fas fa-square"></i>
                                    <div class="media-body">Mayor control en el agua.</div>
                                </li>
                            </ul>
                            <p class="price">Mensualidad: <span>$95.000</span></p>
                        </div>
                        <div class="button-container">
                            <a class="btn-solid-reg page-scroll" href="#contact">CONTACTO</a>
                        </div>
                    </div>

                </div> 
            </div> 
        </div> 
    </div>     

	<div id="details" class="accordion">
		<div class="area-1">
		</div><div class="area-2" style="overflow-y: auto;">
            
            <div class="accordion-container" id="accordionOne">
                <h2>Información General</h2>
                <div class="item">
                    <div id="headingOne">
                        <span data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" role="button">
                            <span class="circle-numbering">1</span><span class="accordion-title">Horarios</span>
                        </span>
                    </div>
                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionOne">
                        <div class="accordion-body">
                            <strong>Niños de 3 a 9 años:</strong>
                            <br>
                            Lunes o Viernes de 4 pm a 5:45 pm.
                            <br>
			    Miércoles de 5 pm a 6:45 pm.
			    <br>
                            Sábados de 8 am a 9:45 am ó 10 am a 11:45 am.
                            <br> <br>

                            <strong>Jóvenes de 9 a 17 años:</strong>
                            <br>
                            Sábados de 12 pm a 1:45 pm.
                            <br> <br>

                            <strong>Adultos de 17 años en adelante:</strong>
                            <br>
                            Sábados de 2 a 3:45 pm.
                                                        
                        </div>
                    </div>
                </div> 
            
                <div class="item">
                    <div id="headingTwo">
                        <span class="collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" role="button">
                            <span class="circle-numbering">2</span><span class="accordion-title">Costos</span>
                        </span>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionOne">
                        <div class="accordion-body">
                            Para adultos, jóvenes y niños las clases son de <strong>1 hora con 45 minutos</strong>, una clase por semana , <strong>4</strong> clases al mes. <br>
                            Valor mensualidad: <strong>$95.000</strong> por persona. <br>
                            Inscripción previa.
                        </div>
                    </div>
                </div> 
            
                <div class="item">
                    <div id="headingThree">
                        <span class="collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree" role="button">
                            <span class="circle-numbering">3</span><span class="accordion-title">Covid-19</span>
                        </span>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionOne">
                        <div class="accordion-body">
                            Se hizo la <strong>reapertura</strong> con el debido permiso de la <strong>alcaldía de Bogotá</strong> y con los <strong>protocolos de Bioseguridad</strong> implementados.<br>
                            Se realiza la toma de <strong>temperatura</strong> al entrar a las instalaciones,
                            <strong>desinfección</strong> de manos y calzado, <strong>distanciamiento social</strong> de 2 metros,
                            9 personas por clase en la piscina.<br> <br>

                            No se puede ingresar si presenta alguno de los siguientes <strong>síntomas:</strong> <br>
                            <strong>- Fiebre<br>
                            - Tos seca<br>
                            - Cansancio</strong>
                        </div>
                    </div>
                </div> 
            </div> 

		</div> 
    </div> 

	<div class="tabs">
        <div class="area-1">
            <div class="tabs-container">
                
                <ul class="nav nav-tabs" id="ariaTabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="nav-tab-1" data-toggle="tab" href="#tab-1" role="tab" aria-controls="tab-1" aria-selected="true"><i class="fas fa-th"></i> Hidroterapia</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="nav-tab-2" data-toggle="tab" href="#tab-2" role="tab" aria-controls="tab-2" aria-selected="false"><i class="fas fa-th"></i> Colegios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="nav-tab-3" data-toggle="tab" href="#tab-3" role="tab" aria-controls="tab-3" aria-selected="false"><i class="fas fa-th"></i> Eventos</a>
                    </li>
                </ul>
                
                <div class="tab-content" id="ariaTabsContent">

                    <div class="tab-pane fade show active" id="tab-1" role="tabpanel" aria-labelledby="tab-1">
                        <h4 style="font-weight: bold;">Nadar es simplemente meditación en movimiento.</h4>
                        <p>
                            <strong>Hidroterapia y rehabilitación</strong> física utilizando las propiedades del agua
                            para mejorar objetivos terapéuticos y relajación con nuestra piscina <strong>climatizada</strong>.
                        </p>
                    </div> 

                    <div class="tab-pane fade" id="tab-2" role="tabpanel" aria-labelledby="tab-2">
                        <p>
                            <i class="fas fa-square" style="color:steelblue;"></i> La Practica de deporte contribuye al <strong>desarrollo</strong> del niño permitiendo <strong>fortalecer</strong> sus capacidades de movimiento, sociales, afectivas y recreación. <br><br>
                            <i class="fas fa-square" style="color:steelblue;"></i> La práctica del <strong>deporte más completo</strong> mejora su <strong>desarrollo</strong> físico, mental y la <strong>positiva actitud</strong> que adquieren en su aprestamiento <strong>escolar</strong> y social. <br><br>
                            <i class="fas fa-square" style="color:steelblue;"></i> Al final de cada semestre se entregará la evaluación del menor, conociendo los <strong>logros</strong> obtenidos durante el semestre y cada alumno será acreedor de un <strong>diploma</strong> con la aprobación de su nivel.
                        </p>
                    </div> 

                    <div class="tab-pane fade" id="tab-3" role="tabpanel" aria-labelledby="tab-3">
                        <p><strong>Organiza tus Eventos Inolvidales y Fechas Especiales:</strong></p>
                        <strong>
                        <ul class="list-unstyled li-space-lg">
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">Acuafiestas</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">Bautizos</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">Cumpleaños</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">Matrimonios</div>
                            </li>
                        </ul>
                        </strong>
                        <h6>PISCINA CLIMATIZADA</h6>
                    </div> 
                    

                </div> 

            </div> 
        </div><div class="area-2"></div> 
    </div> 

	<div id="projects" class="filter">
		<div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">GALERIA</div>
                    <h2>FOTOS</h2>
                </div> 
            </div> 
            <div class="row">
                <div class="col-lg-12">
                    <div class="button-group filters-button-group">
                        <a class="button is-checked" data-filter="*"><span>TODO</span></a>
                    </div> 
                    <div class="grid">
                        <div class="element-item development">
                            <a class="popup-with-move-anim" href="#project-1"><div class="element-item-overlay"><span>Piscina</span></div><img src="{% static 'main/project-1.jpg' %}" alt="alternative"></a>
                        </div>
                        <div class="element-item development">
                            <a class="popup-with-move-anim" href="#project-2"><div class="element-item-overlay"><span>Sala de espera</span></div><img src="{% static 'main/project-2.jpg' %}" alt="alternative"></a>
                        </div>
                        <div class="element-item design development marketing">
                            <a class="popup-with-move-anim" href="#project-3"><div class="element-item-overlay"><span>Lockers</span></div><img src="{% static 'main/project-3.jpg' %}" alt="alternative"></a>
                        </div>
                        <div class="element-item design development marketing">
                            <a class="popup-with-move-anim" href="#project-4"><div class="element-item-overlay"><span>Piscina</span></div><img src="{% static 'main/project-4.jpg' %}" alt="alternative"></a>
                        </div>
                        <div class="element-item design development marketing seo">
                            <a class="popup-with-move-anim" href="#project-5"><div class="element-item-overlay"><span>Recepción</span></div><img src="{% static 'main/project-5.jpg' %}" alt="alternative"></a>
                        </div>
                        <div class="element-item design marketing seo">
                            <a class="popup-with-move-anim" href="#project-6"><div class="element-item-overlay"><span>Piscina</span></div><img src="{% static 'main/project-6.jpg' %}" alt="alternative"></a>
                        </div>
                        <div class="element-item design marketing">
                            <a class="popup-with-move-anim" href="#project-7"><div class="element-item-overlay"><span>Duchas</span></div><img src="{% static 'main/project-7.jpg' %}" alt="alternative"></a>
                        </div>
                        <div class="element-item design marketing">
                            <a class="popup-with-move-anim" href="#project-8"><div class="element-item-overlay"><span>Sala recepción</span></div><img src="{% static 'main/project-8.jpg' %}" alt="alternative"></a>
                        </div>
                    </div> 
                    
                </div> 
            </div> 
		</div> 
    </div> 

    <div id="project-1" class="lightbox-basic zoom-anim-dialog mfp-hide">
        <div class="row">
            <button title="Close (Esc)" type="button" class="mfp-close x-button">×</button>
            <div class="col-lg-8">
                <img class="img-fluid" src="{% static 'main/project-1.jpg' %}" alt="alternative">
            </div> 
            <div class="col-lg-4">
                <h3>Piscina</h3>
                <hr class="line-heading">
                <h6>Aquarium School, Inc.</h6>
                <p>
                    Piscina cubierta, climatizada con sistema de purificación. <br>
                    Medidas: 12m de largo x 6m de ancho.<br>
                    Profundidad: Minima de 80 cm <br> Máxima de 1.40 cm.

                </p>
                <p>
                    Con un mantenimiento diario del agua de la piscina, nuestro piscinero aspira diariamente la piscina, 
                    la mantiene climatizada (31ºC de temperatura), y controla el nivel de cloro y PH del agua.
                </p>
                <div class="testimonial-container">
                    <p class="testimonial-text">Se requiere precaución en el area de la piscina, no correr con los pies mojados en las instalaciones.</p>
                </div>
                <a class="btn-outline-reg mfp-close as-button" href="#projects">ATRÁS</a> 
            </div> 
        </div> 
    </div> 

    <div id="project-2" class="lightbox-basic zoom-anim-dialog mfp-hide">
        <div class="row">
            <button title="Close (Esc)" type="button" class="mfp-close x-button">×</button>
            <div class="col-lg-8">
                <img class="img-fluid" src="{% static 'main/project-2.jpg' %}" alt="alternative">
            </div> 
            <div class="col-lg-4">
                <h3>Sala de espera</h3>
                <hr class="line-heading">
                <h6>Aquarium School, Inc.</h6>
                <p>
                    En la sala de espera los <strong>padres o familiares</strong> del almuno podrán <strong>visualizar</strong> 
                    tanto la clase como a los estudiantes.
                </p>
                <div class="testimonial-container">
                    <p class="testimonial-text">Durante la pandemia Covid-19, se requiere distanciamiento de 2 sillas en la sala de espera.</p>
                </div>
                <a class="btn-outline-reg mfp-close as-button" href="#projects">ATRÁS</a> 
            </div> 
        </div> 
    </div> 

    <div id="project-3" class="lightbox-basic zoom-anim-dialog mfp-hide">
        <div class="row">
            <button title="Close (Esc)" type="button" class="mfp-close x-button">×</button>
            <div class="col-lg-8">
                <img class="img-fluid" src="{% static 'main/project-3.jpg' %}" alt="alternative">
            </div> 
            <div class="col-lg-4">
                <h3>Lockers</h3>
                <hr class="line-heading">
                <h6>Aquarium School, Inc.</h6>
                <p>Lockers para que los almunos puedan guardar sus prendas antes de entrar a la piscina.
                </p>
                <div class="testimonial-container">
                    <p class="testimonial-text">Se recomienda traer su propio candado.</p>
                </div>
                <a class="btn-outline-reg mfp-close as-button" href="#projects">ATRÁS</a> 
            </div> 
        </div> 
    </div> 

    <div id="project-4" class="lightbox-basic zoom-anim-dialog mfp-hide">
        <div class="row">
            <button title="Close (Esc)" type="button" class="mfp-close x-button">×</button>
            <div class="col-lg-8">
                <img class="img-fluid" src="{% static 'main/project-4.jpg' %}" alt="alternative">
            </div> 
            <div class="col-lg-4">
                <h3>Piscina</h3>
                <hr class="line-heading">
                <h6>Aquarium School, Inc.</h6>
                <p>
                    Piscina cubierta, climatizada con sistema de purificación. <br>
                    Medidas: 12m de largo x 6m de ancho. <br>
                    Profundidad: Minima de 80 cm <br> Máxima de 1.40 cm.
                </p>
                <p>
                    Con un mantenimiento diario del agua de la piscina, nuestro piscinero aspira diariamente la piscina, 
                    la mantiene climatizada (31ºC de temperatura), y controla el nivel de cloro y PH del agua.

                </p>
                <div class="testimonial-container">
                    <p class="testimonial-text">Se requiere precaución en el area de la piscina, no correr con los pies mojados en las instalaciones.</p>
                </div>
                <a class="btn-outline-reg mfp-close as-button" href="#projects">ATRÁS</a> 
            </div>
        </div> 
    </div> 

    <div id="project-5" class="lightbox-basic zoom-anim-dialog mfp-hide">
        <div class="row">
            <button title="Close (Esc)" type="button" class="mfp-close x-button">×</button>
            <div class="col-lg-8">
                <img class="img-fluid" src="{% static 'main/project-5.jpg' %}" alt="alternative">
            </div> 
            <div class="col-lg-4">
                <h3>Recepción</h3>
                <hr class="line-heading">
                <h6>Aquarium School, Inc.</h6>
                <p>Horario de atencion de 8 am a 6 pm, Lunes a Sabado, Jornada continua.</p>
                <div class="testimonial-container">
                    <p class="testimonial-text">Se realiza desinfección de manos y calzado con toma de temperatura antes de atender a los clientes.</p>
                </div>
                <a class="btn-outline-reg mfp-close as-button" href="#projects">ATRÁS</a> 
            </div> 
        </div> 
    </div>

    <div id="project-6" class="lightbox-basic zoom-anim-dialog mfp-hide">
        <div class="row">
            <button title="Close (Esc)" type="button" class="mfp-close x-button">×</button>
            <div class="col-lg-8">
                <img class="img-fluid" src="{% static 'main/project-6.jpg' %}" alt="alternative">
            </div> 
            <div class="col-lg-4">
                <h3>Piscina</h3>
                <hr class="line-heading">
                <h6>Aquarium School, Inc.</h6>
                <p>
                    Piscina cubierta, climatizada con sistema de purificación. <br>
                    Medidas: 12m de largo x 6m de ancho.<br>
                    Profundidad: Minima de 80 cm <br> Máxima de 1.40 cm.
                </p>
                <p>
                    Con un mantenimiento diario del agua de la piscina, nuestro piscinero aspira diariamente la piscina, 
                    la mantiene climatizada (31ºC de temperatura), y controla el nivel de cloro y PH del agua.
                </p>
                <div class="testimonial-container">
                    <p class="testimonial-text">Se requiere precaución en el area de la piscina, no correr con los pies mojados en las instalaciones.</p>
                </div>
                <a class="btn-outline-reg mfp-close as-button" href="#projects">ATRÁS</a> 
            </div> 
        </div> 
    </div> 

    <div id="project-7" class="lightbox-basic zoom-anim-dialog mfp-hide">
        <div class="row">
            <button title="Close (Esc)" type="button" class="mfp-close x-button">×</button>
            <div class="col-lg-8">
                <img class="img-fluid" src="{% static 'main/project-7.jpg' %}" alt="alternative">
            </div> 
            <div class="col-lg-4">
                <h3>Duchas</h3>
                <hr class="line-heading">
                <h6>Aquarium School, Inc.</h6>
                <p>
                    Para prevenir los daños para tu salud y la salud del agua de las piscinas, debemos <strong>ducharnos antes de entrar a la piscina</strong> para retirar de la piel los gérmenes y 
                    los restos de los productos de higiene y <strong>ducharnos despues de entrar a la piscina</strong> para retirar el cloro de nuestro cuerpo y cabello.
                </p>
                <div class="testimonial-container">
                    <p class="testimonial-text">Se requiere precaución en el area de duchas, no correr con los pies mojados en las instalaciones.</p>
                </div>
                <a class="btn-outline-reg mfp-close as-button" href="#projects">ATRÁS</a> 
            </div> 
        </div> 
    </div> 

    <div id="project-8" class="lightbox-basic zoom-anim-dialog mfp-hide">
        <div class="row">
            <button title="Close (Esc)" type="button" class="mfp-close x-button">×</button>
            <div class="col-lg-8">
                <img class="img-fluid" src="{% static 'main/project-8.jpg' %}" alt="alternative">
            </div> 
            <div class="col-lg-4">
                <h3>Sala recepción</h3>
                <hr class="line-heading">
                <h6>Aquarium School, Inc.</h6>
                <p>Nuestra recepción cuenta con una sala de espera para atender a los clientes.</p>
                <div class="testimonial-container">
                    <p class="testimonial-text">Durante la pandemia Covid-19, se requiere distanciamiento de 2 sillas en la sala de espera.</p>
                </div>
                <a class="btn-outline-reg mfp-close as-button" href="#projects">ATRÁS</a> 
            </div> 
        </div> 
    </div> 

    <div id="contact" class="form-2">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="text-container">
                        <div class="section-title">CONTACTO</div>
                        <h2>Ponte en contacto con nosotros:</h2>
                        <p style="font-weight: bold;">Horario de atencion:<br>
                            Lunes a Sábado de 8 am a 6 pm. <br>
                            Jornada continua.</p>
                        <ul class="list-unstyled li-space-lg">
                            <li class="address"><i class="fas fa-map-marker-alt"></i>Diagonal 85 # 76 - 34, Bogotá, Colombia.</li>
                            <li><i class="fas fa-phone"></i><a href="tel:0317126510">7126510</a></li> <br>
                            <li><i class="fas fa-phone"></i><a href="tel:3118381534">3118381534</a></li> <br>
                            <li><i class="fas fa-envelope"></i><a href="mailto:aquariumschool@gmail.com">aquariumschool@gmail.com</a></li>
                        </ul>
                        <h3>Redes Sociales:</h3>

                        <span class="fa-stack">
                            <a href="https://www.facebook.com/AquariumSchoolBogota" target="_blank">
                                <span class="hexagon"></span>
                                <i class="fab fa-facebook-f fa-stack-1x"></i>
                            </a>
                        </span>

                        <span class="fa-stack">
                            <a href="https://www.instagram.com/aquarium.school/" target="_blank">
                                <span class="hexagon"></span>
                                <i class="fab fa-instagram fa-stack-1x"></i>
                            </a>
                        </span>

                    </div> 
                </div> 
                <div class="col-lg-6">
                    
                    <div style="width: 100%">
                        <iframe width="600" height="450" frameborder="0" style="border:0; max-width: 100%;" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJozfn0TSbP44RkOecYOM5cZ4&key=AIzaSyA7NsL4QBRLkyrWjKc60nlPkV7XsMgZefc" allowfullscreen></iframe>
                    </div>

                </div> 
            </div> 
        </div> 
    </div> 

    <div id="callMe" class="form-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="text-container">
                        <div style="color: powderblue;" class="section-title">REDES SOCIALES</div>
                        <h2 class="white">Síguenos</h2>
                        <p class="white">Para nosotros es muy importante estar conectados con nuestros clientes, para estar pendientes a cualquier cambio y/o actualización:</p>
                        <ul class="list-unstyled li-space-lg white">
                            <li class="media">
                                <a href="https://www.facebook.com/AquariumSchoolBogota" target="_blank" style="font-size: xx-large; text-decoration: none;" class="fab fa-facebook"></a> 
                                <a id="textsm" href="https://www.facebook.com/AquariumSchoolBogota" target="_blank">@AquariumSchoolBogota</a><br><br>
                            </li>
                            <li class="media">
                                <a href="https://www.instagram.com/aquarium.school/" target="_blank" style="font-size: xx-large; text-decoration: none;" class="fab fa-instagram"></a> 
                                <a id="textsm" href="https://www.instagram.com/aquarium.school/" target="_blank">@Aquarium.School</a> <br><br> 
                            </li>
                            <li class="media">
                                <a href="https://api.whatsapp.com/send?phone=573118381534" target="_blank" style="font-size: xx-large; text-decoration: none;" class="fab fa-whatsapp"></a> 
                                <a id="wanumber" href="https://api.whatsapp.com/send?phone=573118381534" target="_blank">3118381534</a> <br><br>
                            </li>
                            <li class="media">
                                <a id="iconumber" href="tel:7126510">☎</a>
                                <a id="number" href="tel:0317126510">7126510</a>
                            </li>
                        </ul>
                    </div>
                </div> 
                <div class="col-lg-6" style="max-width: 100%;">
                    <iframe src="https://www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2FAquariumSchoolBogota&width=500&colorscheme=light&show_faces=true&border_color&stream=true&header=true&height=700" scrolling="yes" style="max-width: 100%; border:none; overflow:hidden; width:500px; height:700px; background: white; float:left;" allowtransparency="true" frameborder="0"></iframe>
                </div> 
            </div> 
        </div> 
    </div> 


    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="text-container about">
                        <h4>Aquarium School</h4>
                        <p class="white">
                            Cursos de Natación para niños, jóvenes y adultos en Bogotá. <br>
                            Piscina climatizada, excelente ambiente e instructores.
                        </p>
                    </div> 
                </div> 
                <div class="col-md-2">
                    <div class="text-container">
                        <ul class="list-unstyled li-space-lg white">
                            <li>
                                <a class="white" href="#header">INICIO</a>
                            </li>
                            <li>
                                <a class="white" href="#intro">NOSOTROS</a>
                            </li>
                            <li>
                                <a class="white" href="#services">CURSOS</a>
                            </li>
                        </ul>
                    </div> 
                </div> 
                <div class="col-md-2">
                    <div class="text-container">
                        <ul class="list-unstyled li-space-lg">
                            <li>
                                <a class="white" href="#callMe">SOCIAL</a>
                            </li>
                            <li>
                               <a class="white" href="#projects">FOTOS</a>
                            </li>
                            <li class="media">
                                <a class="white" href="#contact">CONTACTO</a>
                            </li>
                        </ul>
                    </div> 
                </div> 
            </div> 
        </div> 
    </div>

    

    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p class="p-small">Copyright © 2021 <a href="https://aquariumschool.co">Aquarium School, Inc.</a></p>
                </div> 
            </div> 
        </div> 
    </div>     
    	
    <script src="{% static 'main/jquery.min.js' %}"></script>
    <script src="{% static 'main/popper.min.js' %}"></script> 
    <script src="{% static 'main/bootstrap.min.js' %}"></script> 
    <script src="{% static 'main/jquery.easing.min.js' %}"></script>
    <script src="{% static 'main/swiper.min.js' %}"></script>
    <script src="{% static 'main/jquery.magnific-popup.js' %}"></script>
    <script src="{% static 'main/morphext.min.js' %}"></script>
    <script src="{% static 'main/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'main/validator.min.js' %}"></script>
    <script src="{% static 'main/scripts.js' %}"></script>
</body>
</html>
