{% load static %}
{% load modal_tags %}
<!-- START ATTENDANCES -->

{% modal_search_attendance current_user user %}
{% modal_edit_attendance %}

{% if not modal and current_user.is_admin %}
  <!-- MODAL TO EDIT COURSES -->
  <div class="modal fade" id="modalEditCourses" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen-md-down modal-xl modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">
            Editar Clases de
            {{ user }}
          </h5>
          <button type="button" class="btn btn-outline-primary btn-close" data-bs-dismiss="modal" aria-label="Close">&times;</button>
        </div>
        <div style="margin-left: auto; margin-right: auto">
          <!-- ------------ -->
          <form action="{% url 'courses:edit_courses' user.id %}" method="POST" class="form-control">
            {% csrf_token %}
            {{ coursesForm.media }}
            {{ coursesForm.as_table }}
            <script type=" text/javascript" src="{% url 'courses:jsi18n' %}"></script>
            <button type="submit" class="btn btn-outline-primary" onclick="this.style.display= 'none';">Guardar</button>
          </form>
          <!-- ------------ -->
        </div>
      </div>
    </div>
  </div>
{% endif %}

<!-- Right Column -->
<div class="w3-half">

  <div class="w3-container w3-card  w3-margin-bottom">
    <h2 class="w3-text-grey w3-padding-16">
      <i class="fas fa-backward fa-fw w3-margin-right w3-xxlarge w3-text-realBlue"></i>
      Anteriores
      <button class="btn btn-outline-primary" onclick="closePastCourses(this, {% if modal %}true{% endif %});">Cerrar</button>
      <button onclick="document.querySelector('#searchAttendancesTableBody').innerHTML = '';" class="btn btn-info mt-2" style="float: right;" data-bs-toggle="modal" data-bs-target="#modalSearchAttendance">Buscar Clases</button>
    </h2>
    <div id="pastCourses{% if modal %}Modal{% endif %}" class="w3-container" style="display: block;">
      <table id="pastResultsStudentsTable{% if modal %}Modal{% endif %}">
        <thead>
          <tr>
            {% if current_user.is_admin %}
              <th scope="col">Clase</th>
              <th scope="col">Asistencia</th>
              <th scope="col">Cupo</th>
              <th scope="col">Nota</th>
              <th scope="col">Editar</th>
            {% else %}
              <th scope="col">Asistencia</th>
              <th scope="col">Clase</th>
            {% endif %}
          </tr>
        </thead>
        <tbody id="pastAttendancesTableBody{% if modal %}Modal{% endif %}"></tbody>
      </table>
      <div id="loadPastAttendances{% if modal %}Modal{% endif %}"></div>
      <br>
      <button id="loadMorePastAttendances" onclick="load_past_attendances({% if modal %}true{% else %}false{% endif %}, {% if current_user.is_admin %}true{% else %}false{% endif %});" type="button" class="btn btn-outline-primary">Cargar Más</button>
      <br><br>
    </div>
  </div>

</div>
<!-- End Right Column -->

<!-- Right Column -->
<div class="w3-half">

  <div class="w3-container w3-card  w3-margin-bottom">
    <h2 class="w3-text-grey w3-padding-16">
      <i class="fas fa-forward fa-fw w3-margin-right w3-xxlarge w3-text-realBlue"></i>
      Próximas
      <button class="btn btn-outline-primary" onclick="closeFutureCourses(this,{% if modal %}true{% endif %});">Cerrar</button>
      {% if not modal and current_user.is_admin %}
        <button class="btn btn-info mt-2" style="float: right;" data-bs-toggle="modal" data-bs-target="#modalEditCourses">Editar Clases</button>
      {% endif %}
    </h2>
    <div id="futureCourses{% if modal %}Modal{% endif %}" class="w3-container" style="display: block;">
      <table id="futureResultsStudentsTable{% if modal %}Modal{% endif %}">
        <thead>
          <tr>
            {% if current_user.is_admin %}
              <th scope="col">Clase</th>
              <th scope="col">Asistencia</th>
              <th scope="col">Cupo</th>
              <th scope="col">Nota</th>
              <th scope="col">Editar</th>
            {% else %}
              <th scope="col">Asistencia</th>
              <th scope="col">Clase</th>
            {% endif %}
          </tr>
        </thead>
        <tbody id="futureAttendancesTableBody{% if modal %}Modal{% endif %}"></tbody>
      </table>
      <div id="loadFutureAttendances{% if modal %}Modal{% endif %}"></div>
      <br>
      <button id="loadMoreFutureAttendances" onclick="load_future_attendances({% if modal %}true{% else %}false{% endif %}, {% if current_user.is_admin %}true{% else %}false{% endif %});" type="button" class="btn btn-outline-primary">Cargar Más</button>
      <br><br>
    </div>
  </div>

</div>
<!-- End Right Column -->
<!-- END ATTENDANCES -->
<script src="{% static 'js/openCloseCourses.js' %}"></script>
<script>
  function load_past_attendances(modal = false, admin = false) {
    const start = studentPastAttendanceCounter;
    const end = studentPastAttendanceCounter + studentPastAttendancesQuantity;
    studentPastAttendanceCounter = end + 1;

    let userID = document
      .querySelector(
        `#userID${modal
        ? "Modal"
        : ""}`)
      .getAttribute("value");

    // Fetch new past attendances and add them
    $.ajax({
      type: "GET",
      url: `${mysite}/courses/load_past_attendances/`,
      data: {
        start: start,
        end: end,
        userID: userID
      },
      beforeSend: () => document
        .querySelector(
          `#loadPastAttendances${modal
          ? "Modal"
          : ""}`)
        .classList
        .add("loader"),
      error: (error) => console.log("Error!", error),
      success: function (response) {
        // console.log(response);

        document
          .querySelector(
            `#loadPastAttendances${modal
            ? "Modal"
            : ""}`)
          .classList
          .remove("loader");

        if (response.all_loaded === true) 
          allPastAttendancesLoaded = true;
        
        // let count = response.attendances.length;

        for (let studentID = 0; studentID < response.attendances.length; studentID++) {
          let attendanceBtnColor;
          let attendanceStr;
          let quotaBtnColor;
          let cycle = "";
          let day = "";
          let note = "";
          let note_emoji = "-";

          if (response.attendances[studentID].attendance === true) {
            attendanceBtnColor = "btn-success";
            attendanceStr = "ASISTIÓ";
          } else {
            attendanceBtnColor = "btn-danger";
            attendanceStr = "NO ASISTIÓ";
          }

          if (response.attendances[studentID].onlyday === true) 
            day = "SOLO HOY";
          else if (response.attendances[studentID].recover === true) 
            day = "RECUPERA";
          
          if (admin) {
            if (response.attendances[studentID].quota === "PAGO") 
              quotaBtnColor = "btn-success";
            else 
              quotaBtnColor = "btn-secondary";
            
            if (response.attendances[studentID].cycle === true) 
              cycle = "INICIA";
            else if (response.attendances[studentID].end_cycle === true) 
              cycle = "TERMINA";
            
            if (response.attendances[studentID].note !== null && response.attendances[studentID].note !== "") {
              note = response
                .attendances[studentID]
                .note;
              note_emoji = "📃";
            }
          }

          const toAppend = admin
            ? `<tr> \
                                                <td scope="row" data-label="Clase"> \
                                                    <a id="courseName${response
              .attendances[studentID]
              .course__id}" href="${mysite}/courses/course/${response
              .attendances[studentID]
              .course__id}"></a> <br>\
													<span id="count${response
              .attendances[studentID]
              .course__id}" class="badge bg-info" style="font-size: small; color: white;"></span>\
													<span id="cycle${response
              .attendances[studentID]
              .id}" class="badge bg-warning" style="font-size: small;">${cycle}</span>\
													<span id="day${response
              .attendances[studentID]
              .id}" class="badge bg-primary" style="font-size: small; color: white;">${day}</span>\
												</td>\
                                                <td scope="row" data-label="Asistencia">\
                                                    <button id="attendanceButton${response
              .attendances[studentID]
              .id}" onclick="changeAttendance(${response
              .attendances[studentID]
              .id});" class="btn btn-sm ${attendanceBtnColor}">${attendanceStr}</button>\
                                                </td>\
                                                <td scope="row" data-label="Cupo">\
                                                    <button id="quotaButton${response
              .attendances[studentID]
              .id}" onclick="changeQuota(${response
              .attendances[studentID]
              .id});" class="btn btn-sm ${quotaBtnColor}">${response
              .attendances[studentID]
              .quota}</button>\
                                                </td>\
                                                <td scope="row" data-label="Nota">\
													<span id="note${response
              .attendances[studentID]
              .id}"> \
														<span style="font-size: large;" data-toggle="tooltip" title="${note}">${note_emoji}</span> \
													</span> \
                                                </td>\
                                                <td style="border-bottom: 2px solid steelblue;" scope="row" data-label="Editar">\
                                                    <button onclick="getAttendanceInfo(${response
              .attendances[studentID]
              .id}, ${response
              .attendances[studentID]
              .course__id});" class="btn btn-outline-warning" data-bs-toggle="modal" data-bs-target="#modalAttendance">✏️</button>\
                                                </td>\
                                            </tr>`
            : `<tr> \
                                                <td scope="row" data-label="Asistencia">\
                                                    <button id="attendanceButton${response
              .attendances[studentID]
              .id}" class="btn btn-sm ${attendanceBtnColor}">${attendanceStr}</button>\
                                                </td>\
                                                <td style="border-bottom: 2px solid steelblue;" scope="row" data-label="Clase"> \
                                                    <a id="courseName${response
              .attendances[studentID]
              .course__id}" href="#"></a> <br>\
													<span id="today${response
              .attendances[studentID]
              .course__id}" class="badge bg-success" style="font-size: small; color: white;"></span>\
													<span id="day${response
              .attendances[studentID]
              .id}" class="badge bg-primary" style="font-size: small; color: white;">${day}</span>\
												</td>\
                                            </tr>`;

          $(
            `#pastAttendancesTableBody${modal
            ? "Modal"
            : ""}`).append(toAppend);

          fetch(`${mysite}/courses/course_info/${response.attendances[studentID].course__id}`)
            .then((data) => data.json())
            .then((data) => {
              document
                .querySelector(`#courseName${data.course_id}`)
                .innerHTML = data.courseStr;

              if (admin) 
                document
                  .querySelector(`#count${data.course_id}`)
                  .innerHTML = data.courseCount;
              
              if (data.today == true) 
                document
                  .querySelector(`#today${data.course_id}`)
                  .innerHTML = "HOY";
              }
            );

          activateToolTip();
        }

        $('[data-toggle="tooltip"]').tooltip();
      }
    });
  }

  function load_future_attendances(modal = false, admin = false) {
    const start = studentFutureAttendanceCounter;
    const end = studentFutureAttendanceCounter + studentFutureAttendancesQuantity;
    studentFutureAttendanceCounter = end + 1;

    let userID = document
      .querySelector(
        `#userID${modal
        ? "Modal"
        : ""}`)
      .getAttribute("value");

    // Fetch new future attendances and add them
    $.ajax({
      type: "GET",
      url: `${mysite}/courses/load_future_attendances/`,
      data: {
        start: start,
        end: end,
        userID: userID
      },
      beforeSend: () => document
        .querySelector(
          `#loadFutureAttendances${modal
          ? "Modal"
          : ""}`)
        .classList
        .add("loader"),
      error: (error) => console.log("Error!", error),
      success: function (response) {
        document
          .querySelector(
            `#loadFutureAttendances${modal
            ? "Modal"
            : ""}`)
          .classList
          .remove("loader");

        if (response.all_loaded === true) 
          allFutureAttendancesLoaded = true;
        
        for (let studentID = 0; studentID < response.attendances.length; studentID++) {
          let attendanceBtnColor;
          let attendanceStr;
          let quotaBtnColor;
          let cycle = "";
          let day = "";
          let note = "";
          let note_emoji = "-";

          if (response.attendances[studentID].attendance === true) {
            attendanceBtnColor = "btn-success";
            attendanceStr = "ASISTIÓ";
          } else {
            attendanceBtnColor = "btn-secondary";
            attendanceStr = "PENDIENTE";
          }

          if (response.attendances[studentID].onlyday === true) {
            day = "SOLO HOY";
          } else if (response.attendances[studentID].recover === true) {
            day = "RECUPERA";
          }

          if (admin) {
            if (response.attendances[studentID].quota === "PAGO") {
              quotaBtnColor = "btn-success";
            } else {
              quotaBtnColor = "btn-secondary";
            }

            if (response.attendances[studentID].cycle === true) {
              cycle = "INICIA";
            } else if (response.attendances[studentID].end_cycle === true) {
              cycle = "TERMINA";
            }

            if (response.attendances[studentID].note !== null && response.attendances[studentID].note !== "") {
              note = response
                .attendances[studentID]
                .note;
              note_emoji = "📃";
            }
          }

          const toAppend = admin
            ? `<tr> \
                                                <td scope="row" data-label="Clase"> \
                                                    <a id="courseName${response
              .attendances[studentID]
              .course__id}" href="${mysite}/courses/course/${response
              .attendances[studentID]
              .course__id}"></a> <br>\
													<span id="count${response
              .attendances[studentID]
              .course__id}" class="badge bg-info" style="font-size: small; color: white;"></span>\
													<span id="today${response
              .attendances[studentID]
              .course__id}" class="badge bg-success" style="font-size: small; color: white;"></span>\
													<span id="cycle${response
              .attendances[studentID]
              .id}" class="badge bg-warning" style="font-size: small;">${cycle}</span>\
													<span id="day${response
              .attendances[studentID]
              .id}" class="badge bg-primary" style="font-size: small; color: white;">${day}</span>\
												</td>\
                                                <td scope="row" data-label="Asistencia">\
                                                    <button id="attendanceButton${response
              .attendances[studentID]
              .id}" onclick="changeAttendance(${response
              .attendances[studentID]
              .id});" class="btn btn-sm ${attendanceBtnColor}">${attendanceStr}</button>\
                                                </td>\
                                                <td scope="row" data-label="Cupo">\
                                                    <button id="quotaButton${response
              .attendances[studentID]
              .id}" onclick="changeQuota(${response
              .attendances[studentID]
              .id});" class="btn btn-sm ${quotaBtnColor}">${response
              .attendances[studentID]
              .quota}</button>\
                                                </td>\
                                                <td scope="row" data-label="Nota">\
													<span id="note${response
              .attendances[studentID]
              .id}"> \
														<span style="font-size: large;" data-toggle="tooltip" title="${note}">${note_emoji}</span> \
													</span> \
                                                </td>\
                                                <td style="border-bottom: 2px solid steelblue;" scope="row" data-label="Editar">\
                                                    <button onclick="getAttendanceInfo(${response
              .attendances[studentID]
              .id}, ${response
              .attendances[studentID]
              .course__id});" class="btn btn-outline-warning" data-bs-toggle="modal" data-bs-target="#modalAttendance">✏️</button>\
                                                </td>\
                                            </tr>`
            : `<tr> \
                                                <td scope="row" data-label="Asistencia">\
                                                    <button id="attendanceButton${response
              .attendances[studentID]
              .id}" class="btn btn-sm ${attendanceBtnColor}">${attendanceStr}</button>\
                                                </td>\
                                                <td style="border-bottom: 2px solid steelblue;" scope="row" data-label="Clase"> \
                                                    <a id="courseName${response
              .attendances[studentID]
              .course__id}" href="#"></a> <br>\
													<span id="today${response
              .attendances[studentID]
              .course__id}" class="badge bg-success" style="font-size: small; color: white;"></span>\
													<span id="day${response
              .attendances[studentID]
              .id}" class="badge bg-primary" style="font-size: small; color: white;">${day}</span>\

												</td>\
                                            </tr>`;

          $(
            `#futureAttendancesTableBody${modal
            ? "Modal"
            : ""}`).append(toAppend);

          fetch(`${mysite}/courses/course_info/${response.attendances[studentID].course__id}`)
            .then((data) => data.json())
            .then((data) => {
              document
                .querySelector(`#courseName${data.course_id}`)
                .innerHTML = data.courseStr;

              if (admin) 
                document
                  .querySelector(`#count${data.course_id}`)
                  .innerHTML = data.courseCount;
              
              if (data.today == true) 
                document
                  .querySelector(`#today${data.course_id}`)
                  .innerHTML = "HOY";
              }
            );

          activateToolTip();
        }

        $('[data-toggle="tooltip"]').tooltip();
      }
    });
  }

  function changeAttendance(attendanceID) {
    fetch(`${mysite}/courses/change_attendance/${attendanceID}`)
      .then((response) => response.json())
      .then((response) => {
        document
          .querySelectorAll(`#attendanceButton${attendanceID}`)
          .forEach((element) => {
            if (response.attendance === true) {
              element
                .classList
                .remove("btn-danger");
              element
                .classList
                .add("btn-success");
              element.innerHTML = "ASISTIÓ";
            } else {
              element
                .classList
                .remove("btn-success");

              if (response.past === true) {
                element
                  .classList
                  .add("btn-danger");
                element.innerHTML = "NO ASISTIÓ";
              } else {
                element
                  .classList
                  .add("btn-secondary");
                element.innerHTML = "PENDIENTE";
              }
            }
          });

        document
          .querySelectorAll(`#attendanceButtonSearch${attendanceID}`)
          .forEach((element) => {
            if (response.attendance === true) {
              element
                .classList
                .remove("btn-danger");
              element
                .classList
                .add("btn-success");
              element.innerHTML = "ASISTIÓ";
            } else {
              element
                .classList
                .remove("btn-success");

              if (response.past === true) {
                element
                  .classList
                  .add("btn-danger");
                element.innerHTML = "NO ASISTIÓ";
              } else {
                element
                  .classList
                  .add("btn-secondary");
                element.innerHTML = "PENDIENTE";
              }
            }
          });
      });
  }

  function changeQuota(attendanceID) {
    fetch(`${mysite}/courses/change_quota/${attendanceID}`)
      .then((response) => response.json())
      .then((response) => {
        // console.log(response);

        document
          .querySelectorAll(`#quotaButton${attendanceID}`)
          .forEach((element) => {
            if (response.quota === "PAGO") {
              element
                .classList
                .remove("btn-secondary");
              element
                .classList
                .add("btn-success");
              element.innerHTML = response.quota;
            } else {
              element
                .classList
                .remove("btn-success");
              element
                .classList
                .add("btn-secondary");
              element.innerHTML = response.quota;
            }
          });

        document
          .querySelectorAll(`#quotaButtonSearch${attendanceID}`)
          .forEach((element) => {
            if (response.quota === "PAGO") {
              element
                .classList
                .remove("btn-secondary");
              element
                .classList
                .add("btn-success");
              element.innerHTML = response.quota;
            } else {
              element
                .classList
                .remove("btn-success");
              element
                .classList
                .add("btn-secondary");
              element.innerHTML = response.quota;
            }
          });
      });
  }

  /////////////////////////////////////////////////////////////////////////
  function clickPastAttendances() {
    $("#loadMorePastAttendances").click();
  }

  function clickFutureAttendances() {
    $("#loadMoreFutureAttendances").click();
  }
</script>

{% if user and not user.is_admin and not user.is_teacher %}

  <script>
    //document.addEventListener("DOMContentLoaded", clickFutureAttendances);
    $(window).scroll(function () {
      if ($(window).scrollTop() + $(window).height() >= $(document).height() - 200 && allFutureAttendancesLoaded === false) {
        clickFutureAttendances();
      }
    });

    //document.addEventListener("DOMContentLoaded", clickPastAttendances);
    $(window).scroll(function () {
      if ($(window).scrollTop() + $(window).height() >= $(document).height() - 200 && allPastAttendancesLoaded === false) {
        clickPastAttendances();
      }
    });
  </script>

{% endif %}