<!-- Start Checker -->

<!-- MODAL TO CHECK -->
<div class="modal fade" id="modalChecker" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen-md-down modal-xl modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalCheckerTitle">
          Revision
        </h5>
        <button type="button" class="btn btn-outline-primary btn-close" data-bs-dismiss="modal" aria-label="Close">&times;</button>
      </div>
      <div class="modal-body col-10" style="margin-left: auto; margin-right: auto">
        <table>
          <thead>
            <tr>
              <th scope="col">Documento</th>
              <th scope="col">Nombres</th>
              <th scope="col">Apellidos</th>
              <th scope="col">Tel/Cel (1)</th>
              <th scope="col">Tel/Cel (2)</th>
            </tr>
          </thead>
          <tbody id="checkerTableBody"></tbody>
        </table>
        <div id="loadChecker"></div>
      </div>
    </div>
  </div>
</div>
{% comment %} END MODAL {% endcomment %}

<div class="w3-twothird">
  <div class="w3-container w3-card w3-margin-bottom">
    <h2 class="w3-text-grey w3-padding-16">
      <i class="fa fa-chart-bar fa-fw w3-margin-right w3-xxlarge w3-text-realBlue"></i>
      Revisión
      <button id="showStudentCheckerButton" class="btn btn-outline-primary" onclick="showStudentChecker();">Abrir</button>
    </h2>
    <div id="studentChecker" class="w3-container" style="display: none">
      <div id="loadStudentChecker"></div>
      <button style="margin: 5px" id="hundred_no_certificate" class="btn btn-outline-primary" onclick="checker(this);" data-bs-toggle="modal" data-bs-target="#modalChecker">
        100% sin certificado
      </button>
      <button style="margin: 5px" id="active_without_level" class="btn btn-outline-primary" onclick="checker(this);" data-bs-toggle="modal" data-bs-target="#modalChecker">
        Estudiante sin nivel activo
      </button>
      <button style="margin: 5px" id="no_hundred_certificate" class="btn btn-outline-primary" onclick="checker(this);" data-bs-toggle="modal" data-bs-target="#modalChecker">
        Sin 100% con certificado
      </button>
      {% if current_user.is_admin %}
        <button style="margin: 5px" id="hundred_no_delivered" class="btn btn-outline-primary" onclick="checker(this);" data-bs-toggle="modal" data-bs-target="#modalChecker">
          100% sin entregar
        </button>
      {% endif %}
      <br><br>
    </div>
  </div>
</div>
<!-- End Checker -->

<script>

  function checker(button) {
    document.querySelector("#modalCheckerTitle").innerHTML = button.innerHTML;
    beforeFunc(null, "loadChecker", null, "checkerTableBody");

    fetch(`${mysite}/users/${button.id}`)
    .then((response) => response.json())
    .then((response) => {
      for (let studentID = 0; studentID < response.students.length; studentID++) {
            $("#checkerTableBody").append(`<tr> \
                                                <td scope="row" data-label="Documento"> \
                                                    <a href="#" onclick="load_profile_data(${response.students[studentID].id});" data-bs-toggle="modal" data-bs-target="#profileModal">${response.students[studentID].identity_document}</a>\
                                                </td>\
                                                <td scope="row" data-label="Nombres">\
                                                    <a href="#" onclick="load_profile_data(${response.students[studentID].id});" data-bs-toggle="modal" data-bs-target="#profileModal">${response.students[studentID].first_name}</a>\
                                                </td>\
                                                <td scope="row" data-label="Apellidos">\
                                                    <a href="#" onclick="load_profile_data(${response.students[studentID].id});" data-bs-toggle="modal" data-bs-target="#profileModal">${response.students[studentID].last_name}</a>\
                                                </td>\
                                                <td scope="row" data-label="Tel/Cel (1)">\
                                                    <a href="#" onclick="load_profile_data(${response.students[studentID].id});" data-bs-toggle="modal" data-bs-target="#profileModal">${response.students[studentID].phone_1}</a>\
                                                </td>\
                                                <td style="border-bottom: 2px solid steelblue;" scope="row" data-label="Tel/Cel (2)">\
                                                    <a href="#" onclick="load_profile_data(${response.students[studentID].id});" data-bs-toggle="modal" data-bs-target="#profileModal">${response.students[studentID].phone_2}</a>\
                                                </td>\
                                            </tr>`);
          }

      afterFunc(null, "loadChecker");
    })
  }


  function showStudentChecker() {
    if (document.querySelector("#studentChecker").style.display === "none") {
      document
        .querySelector("#studentChecker")
        .style
        .display = "block";
      document
        .querySelector("#showStudentCheckerButton")
        .innerHTML = "Cerrar";
    } else {
      document
        .querySelector("#studentChecker")
        .style
        .display = "none";
      document
        .querySelector("#showStudentCheckerButton")
        .innerHTML = "Abrir";
    }
  }
</script>