{% load static %}
{% load modal_tags %}
{% load crispy_forms_tags %}

{% if not modal %}
  {% modal_edit_profile current_user user userForm %}
  {% modal_crop_image %}
{% endif %}
<!-- New Right Column -->
<div class="w3-third" style="float: right">
  <div class="w3-text-grey w3-card-4 rounded">
    <div class="w3-display-container" style="text-align: center">
      <div class="image-group">
        <img id="{% if modal %}modalImage{% else %}image{% endif %}" src="{{ user.image.url }}" style="width: 300px; border-radius: 50%; margin-top: 20px; margin-bottom: 20px; max-width: 100%; border: 10px solid #f2f7fd" alt="Avatar"/>
        <div class="middle">
          <i id="{% if not modal %}id_image_group{% endif %}" class="fas fa-camera" style="color: steelblue; font-size: xxx-large"></i>
        </div>
      </div>

      {% if not modal %}
        <form action="{% url 'users:profile_photo' user.id %}" method="POST" autocomplete="off" enctype="multipart/form-data" id="formUpload">
          {% csrf_token %}
          <input type="hidden" name="x" id="id_x" value=""/>
          <input type="hidden" name="y" id="id_y" value=""/>
          <input type="hidden" name="h" id="id_height" value=""/>
          <input type="hidden" name="w" id="id_width" value=""/>
          <input type="file" name="image" id="id_file" accept="image/*" style="display: none"/>
        </form>
      {% endif %}

      <span id="{% if modal %}userType{% endif %}" class="badge bg-success" style="color: white">
        {% if user.is_admin %}
          Admin
        {% elif user.is_teacher %}
          Profesor
        {% else %}
          Estudiante
        {% endif %}
      </span>

      <h2 id="{% if modal %}studentName{% else %}studentNameServer{% endif %}">
        {{ user.first_name }}
        {{ user.last_name }}
      </h2>
      <span id="{% if modal %}userUsername{% endif %}" class="badge bg-primary" style="color: white">@{{ user.username }}</span>
    </div>
    <hr/>
    <div class="w3-container">
      {% if not modal %}
        <button style="float: right" type="button" class="btn btn-outline-primary rounded-pill" data-bs-toggle="modal" data-bs-target="#modalProfile">Editar</button>
      {% endif %}
      <p id="{% if modal %}userDocument{% endif %}">
        <i class="fas fa-id-card fa-fw w3-margin-right w3-large w3-text-blue" style="color: steelblue !important"></i>{{ user.id_type }}:
        {{ user.identity_document }}</p>
      <p id="{% if modal %}userGender{% endif %}">
        <i class="fas fa-venus-mars fa-fw w3-margin-right w3-large w3-text-blue" style="color: steelblue !important"></i>{{ user.sex }}</p>
      <p id="{% if modal %}userAge{% endif %}">
        <i class="fas fa-birthday-cake fa-fw w3-margin-right w3-large w3-text-blue" style="color: steelblue !important"></i>{{ user.date_birth }}
        - Edad:
        {{ age }}</p>
      <p id="{% if modal %}userEmail{% endif %}">
        <i class="fas fa-envelope fa-fw w3-margin-right w3-large w3-text-blue" style="color: steelblue !important"></i>{{ user.email }}</p>

      <p id="{% if modal %}userParent{% endif %}">
        <i class="fas fa-user fa-fw w3-margin-right w3-large w3-text-blue" style="color: steelblue !important"></i>Acudiente:
        {{ user.parent }}</p>

      <p id="{% if modal %}userTeacher{% endif %}">
        <i class="fas fa-swimmer fa-fw w3-margin-right w3-large w3-text-blue" style="color: steelblue !important"></i>Profesor:
        {{ user.teacher }}</p>

      <p id="{% if modal %}userPhone1{% endif %}">
        <i class="fas fa-phone fa-fw w3-margin-right w3-large w3-text-blue" style="color: steelblue !important">1</i>
        <a target="_blank" href="https://api.whatsapp.com/send?phone=57{{ user.phone_1 }}">{{ user.phone_1 }}</a>
      </p>
      <p id="{% if modal %}userPhone2{% endif %}">
        <i class="fas fa-phone fa-fw w3-margin-right w3-large w3-text-blue" style="color: steelblue !important">2</i>
        <a target="_blank" href="https://api.whatsapp.com/send?phone=57{{ user.phone_2 }}">{{ user.phone_2 }}</a>
      </p>
      {% if current_user.is_admin %}
        <br/>
        <p id="{% if modal %}userNote{% endif %}">
          <i class="fas fa-sticky-note fa-fw w3-margin-right w3-large w3-text-blue" style="color: steelblue !important"></i>{{ user.note }}</p>
      {% endif %}
      <br/>

      {% if not modal %}
        {% if user.signature %}
          <p>
            <i class="fas fa-signature fa-fw w3-margin-right w3-large w3-text-blue" style="color: steelblue !important;"></i>Firma:
            <img id="signature" src="{{ user.signature.url }}" style="max-width: 120px;"></p>
        {% endif %}
        {% if current_user.is_admin %}

          <form method='POST' action="{% url 'users:signature' user.id %}" enctype='multipart/form-data' style="max-width: 100%;">
            {% csrf_token %}
            <i class="fas fa-signature fa-fw w3-margin-right w3-large w3-text-blue" style="color: steelblue !important;"></i>
            {{ signatureForm|crispy }}
            <button type="submit" class="btn btn-outline-dark">Actualizar</button>
          </form>
        </p>
      {% endif %}

      {% if user.newrequest %}

        <h3>Por aprobar:</h3>

        {% if current_user.is_admin %}
          <a type="button" class="btn btn-outline-primary rounded-pill" href="{% url 'users:approve_request' user.id %}">Aprobar</a>
        {% endif %}

        <a style="float: right" type="button" class="btn btn-outline-danger rounded-pill" href="{% url 'users:cancel_request' user.id %}">
          {% if current_user.is_admin %}
            Rechazar
          {% else %}
            Cancelar
          {% endif %}
        </a>
        <br/><br/>
        <p>
          <i class="fas fa-signature fa-fw w3-margin-right w3-large w3-text-blue" style="color: steelblue !important"></i>{{ user.first_name_1 }}
          {{ user.last_name_1 }}</p>

        <p>
          <i class="fas fa-id-card fa-fw w3-margin-right w3-large w3-text-blue" style="color: steelblue !important"></i>{{ user.id_type }}:
          {{ user.identity_document_1 }}</p>

        <p>
          <i class="fas fa-phone fa-fw w3-margin-right w3-large w3-text-blue" style="color: steelblue !important">1</i>
          <a target="_blank" href="https://api.whatsapp.com/send?phone=57{{ user.phone_1_1 }}">{{ user.phone_1_1 }}</a>
        </p>
        <p>
          <i class="fas fa-phone fa-fw w3-margin-right w3-large w3-text-blue" style="color: steelblue !important">2</i>
          <a target="_blank" href="https://api.whatsapp.com/send?phone=57{{ user.phone_2_1 }}">{{ user.phone_2_1 }}</a>
        </p>

      {% endif %}
    {% endif %}
  </div>
</div>
<br/>
</div>
<!-- End of New Right Column -->

{% if not modal %}
<script type="text/javascript">
  document
    .querySelector("#id_image_group")
    .onclick = function (event) {
      document
        .querySelector("#id_file")
        .click();
    };
</script>
{% endif %}

{% if current_user == user or current_user.is_admin %}
<!-- CROPPER -->
<script src="{% static 'js/cropper.js' %}"></script>
<!-- Cropper.js -->
<script src="{% static 'js/jquery-cropper.js' %}"></script>
<!-- Jquery-Cropper.js -->
<script src="{% static 'js/cropper-script.js' %}"></script>
{% endif %}