{% load modal_tags %}

{% if modal %}

  {% if current_user.is_admin or user.is_teacher %}
    {% modal_edit_level %}
  {% endif %}

{% elif not modal and not user.is_admin %}

  {% if current_user.is_admin %}
    {% modal_edit_level %}
  {% endif %}

{% endif %}

{% if not modal %}
  {% if user.is_teacher or user.is_admin %}
    {% modal_level %}
  {% endif %}
{% endif %}

<!-- Start Levels -->
<div class="w3-twothird">
  <div class="w3-container w3-card w3-margin-bottom">
    <h2 class="w3-text-grey w3-padding-16">
      <i class="fas fa-sort-amount-up fa-fw w3-margin-right w3-xxlarge w3-text-realBlue"></i>
      Niveles
      <button id="levelsBtn{% if modal %}Modal{% endif %}" class="btn btn-outline-primary" onclick="levels({{ user.id }}, {% if current_user.is_admin or current_user.is_teacher %}true{% else %}false{% endif %}, {% if modal %}true{% else %}false{% endif %});">Abrir</button>
      <button id="showLevelsBtn{% if modal %}Modal{% endif %}" class="btn btn-outline-primary" onclick="showlevels({% if modal %}true{% else %}false{% endif %});" style="visibility: hidden">Cerrar</button>
    </h2>
    <div id="loadStudentLevels{% if modal %}Modal{% endif %}"></div>
    <div id="levelsDiv{% if modal %}Modal{% endif %}" class="w3-container" style="display: none">
      <div class="w3-row-padding">
        <div class="w3-half">
          <h2 class="w3-text-grey w3-padding-16">
            <i class="fas fa-layer-group fa-fw w3-margin-right w3-xxlarge w3-text-realBlue"></i>Adaptación Básica</h2>
          <div id="level11{% if modal %}Modal{% endif %}" class="w3-container">
            <button onclick="setLevel(11,0);" type="button" class="btn btn-outline-primary rounded-pill" data-bs-toggle="modal" data-bs-target="#levelModal">Ver Estudiantes</button>
          </div>
          <br/>
        </div>

        <div class="w3-half">
          <h2 class="w3-text-grey w3-padding-16">
            <i class="fas fa-layer-group fa-fw w3-margin-right w3-xxlarge w3-text-realBlue"></i>Adaptación</h2>
          <div id="level1{% if modal %}Modal{% endif %}" class="w3-container">
            <button onclick="setLevel(1,0);" type="button" class="btn btn-outline-primary rounded-pill" data-bs-toggle="modal" data-bs-target="#levelModal">Ver Estudiantes</button>
          </div>
          <br/>
        </div>
      </div>
      <div class="w3-row-padding">
        <div class="w3-half">
          <h2 class="w3-text-grey w3-padding-16">
            <i class="fas fa-layer-group fa-fw w3-margin-right w3-xxlarge w3-text-realBlue"></i>Iniciación Estilo Espalda</h2>
          <div id="level2{% if modal %}Modal{% endif %}" class="w3-container">
            <button onclick="setLevel(2,0);" type="button" class="btn btn-outline-primary rounded-pill" data-bs-toggle="modal" data-bs-target="#levelModal">Ver Estudiantes</button>
          </div>
          <br/>
        </div>
        <div class="w3-half">
          <h2 class="w3-text-grey w3-padding-16">
            <i class="fas fa-layer-group fa-fw w3-margin-right w3-xxlarge w3-text-realBlue"></i>Iniciación Estilo Libre</h2>
          <div id="level3{% if modal %}Modal{% endif %}" class="w3-container">
            <button onclick="setLevel(3,0);" type="button" class="btn btn-outline-primary rounded-pill" data-bs-toggle="modal" data-bs-target="#levelModal">Ver Estudiantes</button>
          </div>
          <br/>
        </div>
      </div>
      <div class="w3-row-padding">
        <div class="w3-half">
          <h2 class="w3-text-grey w3-padding-16">
            <i class="fas fa-layer-group fa-fw w3-margin-right w3-xxlarge w3-text-realBlue"></i>Iniciación Estilo Pecho</h2>
          <div id="level4{% if modal %}Modal{% endif %}" class="w3-container">
            <button onclick="setLevel(4,0);" type="button" class="btn btn-outline-primary rounded-pill" data-bs-toggle="modal" data-bs-target="#levelModal">Ver Estudiantes</button>
          </div>
          <br/>
        </div>
        <div class="w3-half">
          <h2 class="w3-text-grey w3-padding-16">
            <i class="fas fa-layer-group fa-fw w3-margin-right w3-xxlarge w3-text-realBlue"></i>Iniciación Estilo Mariposa</h2>
          <div id="level5{% if modal %}Modal{% endif %}" class="w3-container">
            <button onclick="setLevel(5,0);" type="button" class="btn btn-outline-primary rounded-pill" data-bs-toggle="modal" data-bs-target="#levelModal">Ver Estudiantes</button>
          </div>
          <br/>
        </div>
      </div>
      <div class="w3-row-padding">
        <div class="w3-half">
          <h2 class="w3-text-grey w3-padding-16">
            <i class="fas fa-layer-group fa-fw w3-margin-right w3-xxlarge w3-text-realBlue"></i>Perfección Estilo Espalda</h2>
          <div id="level6{% if modal %}Modal{% endif %}" class="w3-container">
            <button onclick="setLevel(6,0);" type="button" class="btn btn-outline-primary rounded-pill" data-bs-toggle="modal" data-bs-target="#levelModal">Ver Estudiantes</button>
          </div>
          <br/>
        </div>
        <div class="w3-half">
          <h2 class="w3-text-grey w3-padding-16">
            <i class="fas fa-layer-group fa-fw w3-margin-right w3-xxlarge w3-text-realBlue"></i>Perfección Estilo Libre</h2>
          <div id="level7{% if modal %}Modal{% endif %}" class="w3-container">
            <button onclick="setLevel(7,0);" type="button" class="btn btn-outline-primary rounded-pill" data-bs-toggle="modal" data-bs-target="#levelModal">Ver Estudiantes</button>
          </div>
          <br/>
        </div>
      </div>
      <div class="w3-row-padding">
        <div class="w3-half">
          <h2 class="w3-text-grey w3-padding-16">
            <i class="fas fa-layer-group fa-fw w3-margin-right w3-xxlarge w3-text-realBlue"></i>Perfección Estilo Pecho</h2>
          <div id="level8{% if modal %}Modal{% endif %}" class="w3-container">
            <button onclick="setLevel(8,0);" type="button" class="btn btn-outline-primary rounded-pill" data-bs-toggle="modal" data-bs-target="#levelModal">Ver Estudiantes</button>
          </div>
          <br/>
        </div>
        <div class="w3-half">
          <h2 class="w3-text-grey w3-padding-16">
            <i class="fas fa-layer-group fa-fw w3-margin-right w3-xxlarge w3-text-realBlue"></i>Perfección Estilo Mariposa</h2>
          <div id="level9{% if modal %}Modal{% endif %}" class="w3-container">
            <button onclick="setLevel(9,0);" type="button" class="btn btn-outline-primary rounded-pill" data-bs-toggle="modal" data-bs-target="#levelModal">Ver Estudiantes</button>
          </div>
          <br/>
        </div>
      </div>
      <div class="w3-row-padding">
        <div class="w3-content">
          <h2 class="w3-text-grey w3-padding-16">
            <i class="fas fa-layer-group fa-fw w3-margin-right w3-xxlarge w3-text-realBlue"></i>Mantenimiento</h2>
          <div id="level10{% if modal %}Modal{% endif %}" class="w3-container">
            <button onclick="setLevel(10,0);" type="button" class="btn btn-outline-primary rounded-pill" data-bs-toggle="modal" data-bs-target="#levelModal">Ver Estudiantes</button>
          </div>
          <br/>
        </div>
      </div>
    </div>
    <!-- <br> -->
  </div>
</div>

<!-- End Levels -->

<script>
  function levels(userID, staff = false, modal = false) {

    beforeFunc(
      `levelsBtn${modal
      ? "Modal"
      : ""}`,
    `loadStudentLevels${modal
      ? "Modal"
      : ""}`);

    fetch(`${mysite}/courses/levels/${userID}`)
      .then((response) => response.json())
      .then((response) => {

        if (!response.is_staff) {
          for (let level in response) {
            if (response[level].is_active === false) {
              document
                .querySelector(
                  `#level${response[level].levelID}${modal
                  ? "Modal"
                  : ""}`)
                .innerHTML = staff
                  ? `<button onclick="editLevel(${response[level].studentLevelID}, ${modal});" type="button" class="btn btn-outline-primary rounded-pill" data-bs-toggle="modal" data-bs-target="#modalLevel">Activar</button>`
                  : `<div class="w3-white w3-round-xlarge"><div class="w3-round-xlarge w3-center w3-orange" style="height:24px;width:0%">0%</div></div>`;
            } else {
              $.ajax({
                type: "GET",
                url: `${mysite}/courses/date_attendances/`,
                data: {
                  date: response[level].date,
                  userID: userID,
                  studentLevelID: response[level].studentLevelID,
                  levelID: response[level].levelID,
                  levelAttendances: response[level].attendances
                },
                beforeSend: () => {},
                error: (error) => console.log("Error!", error),
                success: function (ajaxResponse) {
                  let deliveredBtn;
                  let delivered;

                  if (staff) {
                    if (ajaxResponse.delivered) {
                      deliveredBtn = "btn btn-sm btn-danger";
                      delivered = "NO ENTREGADO";
                    } else if (ajaxResponse.delivered === false) {
                      deliveredBtn = "btn btn-sm btn-success";
                      delivered = "ENTREGADO";
                    } else {
                      deliveredBtn = "btn btn-sm btn-secondary";
                      delivered = "PENDIENTE";
                    }
                  }

                  const levelElement = document.querySelector(
                    `#level${ajaxResponse.levelID}${modal
                    ? "Modal"
                    : ""}`);
                  if (ajaxResponse.certificate_img !== null && ajaxResponse.certificate_pdf !== null) {
                    levelElement.innerHTML = staff
                      ? `<div> \
                                    <button onclick="editLevel(${ajaxResponse.studentLevelID}, ${modal});" class="btn btn-sm btn-outline-primary mb-2" style="float: right;" data-bs-toggle="modal" data-bs-target="#modalLevel">EDITAR</button>\
                                    <strong>Desde:</strong> ${ajaxResponse.date}\
                                    <br>\
                                    <strong>Asistencias:</strong> ${ajaxResponse.percentage < 100 ? ajaxResponse.attendances_count : ajaxResponse.levelAttendances}/${ajaxResponse.levelAttendances}\
                                </div>\
								<button id="btnDelivered${ajaxResponse.levelID}${userID}" onclick="changeDelivered(${ajaxResponse.levelID}, ${userID});" class="${deliveredBtn}">${delivered}</button><br><br>\
								<a class="btn btn-sm btn-primary mb-2" href="${ajaxResponse.certificate_img}">CERTIFICADO PNG</a>\
								<a class="btn btn-sm btn-primary mb-2" href="${ajaxResponse.certificate_pdf}">CERTIFICADO PDF</a>\
                                <br>\
								<button onclick="this.style.display='none'; deleteCertificate(${ajaxResponse.studentLevelID}, ${modal});" class="btn btn-sm btn-danger mb-2" href="#">BORRAR CERTIFICADO</button>\
                                <br>\
                                <div class="w3-white w3-round-xlarge">\
                                    <div class="w3-round-xlarge w3-center w3-orange" style="height:24px;width:${ajaxResponse.percentage}%">${ajaxResponse.percentage}%</div>\
                                </div>`
                      : `<a class="btn btn-sm btn-primary mb-2" href="${ajaxResponse.certificate_img}">CERTIFICADO PNG</a>\
								<a class="btn btn-sm btn-primary mb-2" href="${ajaxResponse.certificate_pdf}">CERTIFICADO PDF</a>\
								<div class="w3-white w3-round-xlarge">\
                                    <div class="w3-round-xlarge w3-center w3-orange" style="height:24px;width:${ajaxResponse.percentage}%">${ajaxResponse.percentage}%</div>\
                                </div>`;
                  } else {
                    levelElement.innerHTML = staff
                      ? `<div> \
                                    <button onclick="editLevel(${ajaxResponse.studentLevelID}, ${modal});" class="btn btn-sm btn-outline-primary mb-2" style="float: right;" data-bs-toggle="modal" data-bs-target="#modalLevel">EDITAR</button>\
                                    <strong>Desde:</strong> ${ajaxResponse.date}\
                                    <br>\
                                    <strong>Asistencias:</strong> ${ajaxResponse.percentage < 100 ? ajaxResponse.attendances_count : ajaxResponse.levelAttendances}/${ajaxResponse.levelAttendances}\
                                </div>\
								<button id="btnDelivered${ajaxResponse.levelID}${userID}" onclick="changeDelivered(${ajaxResponse.levelID}, ${userID});" class="${deliveredBtn}">${delivered}</button><br><br>\
								<button onclick="this.style.display='none'; generateCertificate(${ajaxResponse.studentLevelID}, ${modal});" class="btn btn-sm btn-warning mb-2" href="#">GENERAR CERTIFICADO</button>\
                                <br>\
                                <div class="w3-white w3-round-xlarge">\
                                    <div class="w3-round-xlarge w3-center w3-orange" style="height:24px;width:${ajaxResponse.percentage}%">${ajaxResponse.percentage}%</div>\
                                </div>`
                      : `<div class="w3-white w3-round-xlarge">\
                                    <div class="w3-round-xlarge w3-center w3-orange" style="height:24px;width:${ajaxResponse.percentage}%">${ajaxResponse.percentage}%</div>\
                                </div>`;
                  }
                }
              });
            }
          }
        }

        afterFunc(
          null, `loadStudentLevels${modal
          ? "Modal"
          : ""}`);

        document
          .querySelector(
            `#showLevelsBtn${modal
            ? "Modal"
            : ""}`)
          .style
          .visibility = "visible";

        document
          .querySelector(
            `#levelsDiv${modal
            ? "Modal"
            : ""}`)
          .style
          .display === `none` && showlevels(modal);
      });
  }

  function showlevels(modal = false) {
    if (document.querySelector(
      `#levelsDiv${modal
      ? "Modal"
      : ""}`).style.display === `none`) {
      document
        .querySelector(
          `#levelsDiv${modal
          ? "Modal"
          : ""}`)
        .style
        .display = `block`;
      document
        .querySelector(
          `#showLevelsBtn${modal
          ? "Modal"
          : ""}`)
        .innerHTML = `Cerrar`;
    } else {
      document
        .querySelector(
          `#levelsDiv${modal
          ? "Modal"
          : ""}`)
        .style
        .display = `none`;
      document
        .querySelector(
          `#showLevelsBtn${modal
          ? "Modal"
          : ""}`)
        .innerHTML = `Abrir`;
    }
  }

  function changeDelivered(levelID, studentID) {
    fetch(`${mysite}/users/change_delivered/${levelID}/${studentID}`)
      .then((response) => response.json())
      .then((response) => {
        document
          .querySelectorAll(`#btnDelivered${levelID}${studentID}`)
          .forEach((element) => {
            let deliveredBtn;
            let delivered;

            if (response.delivered) {
              deliveredBtn = "btn-danger";
              delivered = "NO ENTREGADO";

              element
                .classList
                .remove("btn-success");
              element
                .classList
                .remove("btn-secondary");
            } else if (response.delivered === false) {
              deliveredBtn = "btn-success";
              delivered = "ENTREGADO";

              element
                .classList
                .remove("btn-danger");
              element
                .classList
                .remove("btn-secondary");
            } else {
              // null
              deliveredBtn = "btn-secondary";
              delivered = "PENDIENTE";

              element
                .classList
                .remove("btn-danger");
              element
                .classList
                .remove("btn-success");
            }

            element.innerHTML = delivered;
            element
              .classList
              .add(deliveredBtn);
          });
      });
  }

  function generateCertificate(studentLevelID, modal = false) {
    fetch(`${mysite}/courses/generate_certificate/${studentLevelID}`)
      .then((response) => response.json())
      .then((response) => levels(response.userID, true, modal));
  }

  function deleteCertificate(studentLevelID, modal = false) {
    fetch(`${mysite}/courses/delete_certificate/${studentLevelID}`)
      .then((response) => response.json())
      .then((response) => levels(response.userID, true, modal));
  }

  /////////////////////////////////////////////////////////////
  function setLevel(levelID, filter) {
    // Start first level student
    levelStudentsCounter = 0;

    // Load 20 levels students at a time
    levelStudentsQuantity = 20;

    // All level students loaded
    allLevelStudentsLoaded = false;

    // Set current levelID
    currentLevelID = Number(levelID);

    if (filter === 0) {
      document
        .querySelector("#fitlerSelection")
        .value = 0;
    }

    document
      .querySelector("#levelSearchValue")
      .value = levelID;
    document
      .querySelector("#loadMoreLevelBtn")
      .setAttribute("onClick", `javascript: load_students_levels(${levelID}, ${filter});`);

    document
      .querySelector("#searchLevelTable")
      .style
      .visibility = "hidden";
    document
      .querySelector("#searchLevelTableBody")
      .innerHTML = "";

    document
      .querySelector("#levelTableBody")
      .innerHTML = "";
    document
      .querySelector("#loadMoreLevelBtn")
      .style
      .display = "block";
    document
      .querySelector("#loadMoreLevelBtn")
      .click();
  }

  function getThisPercentage(levelID, studentID) {
    // console.log(levelID);
    $.ajax({
      type: "GET",
      url: `${mysite}/users/get_this_percentage/`,
      data: {
        levelID: levelID,
        studentID: studentID
      },
      beforeSend: () => {},
      error: (error) => console.log("Error!", error),
      success: function (response) {
        if (response.is_active) {
          document
            .querySelectorAll(`.thisPercentage${levelID}${studentID}`)
            .forEach((element) => {
              element.innerHTML = `${response.percentage}`;
            });
          if (response.certificate_img) 
            document
              .querySelectorAll(`.thisCertificate${levelID}${studentID}`)
              .forEach((element) => {
                element.innerHTML = `<button target="_blank" class="btn-sm" onclick="window.open('${mysite + response.certificate_img}')">PNG</button><button target="_blank" class="btn-sm" onclick="window.open('${mysite + response.certificate_pdf}')">PDF</button>`;
              });
          else 
            document
              .querySelectorAll(`.thisCertificate${levelID}${studentID}`)
              .forEach((element) => {
                element.innerHTML = ``;
              });
          
          let deliveredBtn;
          let delivered;

          // console.log(response.delivered);

          if (response.delivered) {
            deliveredBtn = "btn-danger";
            delivered = "NO ENTREGADO";
          } else if (response.delivered === false) {
            deliveredBtn = "btn-success";
            delivered = "ENTREGADO";
          } else {
            // null
            deliveredBtn = "btn-secondary";
            delivered = "PENDIENTE";
          }

          document
            .querySelectorAll(`#btnDelivered${levelID}${studentID}`)
            .forEach((element) => {
              element
                .classList
                .remove("btn-danger");
              element
                .classList
                .remove("btn-success");
              element
                .classList
                .remove("btn-secondary");
              element
                .classList
                .add(deliveredBtn);

              element.innerHTML = delivered;
              element.style.display = "inline-block";
            });
        } else {
          document
            .querySelectorAll(`.thisPercentage${levelID}${studentID}`)
            .forEach((element) => {
              element.innerHTML = `Inactivo`;
            });
          document
            .querySelectorAll(`.thisCertificate${levelID}${studentID}`)
            .forEach((element) => {
              element.innerHTML = ``;
            });
          document
            .querySelectorAll(`#btnDelivered${levelID}${studentID}`)
            .forEach((element) => {
              element.style.display = "none";
            });
        }
      }
    });
  }

  function changeThisFilter(filter) {
    setLevel(currentLevelID, filter);
  }
</script>
