{% load crispy_forms_tags %}
<!-- Start Note -->

<div id="noteCurrentUserID" value="{{ current_user.id }}"></div>

{% comment %} MODAL TO CREATE NOTE {% endcomment %}
<div class="modal fade" id="modalCreateNote" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen-md-down modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Añadir Nota</h5>
        <button type="button" class="btn btn-outline-primary btn-close" onclick="$('#modalCreateNote').modal('hide');" aria-label="Close">&times;</button>
      </div>
      <div class="modal-body" style="margin-left: auto; margin-right: auto">
        <ul id="noteFormMessages"></ul>
        <!---->
        <form id="noteForm" action="{% url 'users:create_note' user.id %}">
          {% csrf_token %}
          {{ noteForm | crispy }}
          <br/>
          <div class="modal-footer">
            <button id="btnNoteSubmit" type="submit" class="btn btn-outline-primary">Guardar</button>
            <div id="btnNoteLoader"></div>
          </div>

        </form>
        <!---->
      </div>
    </div>
  </div>
</div>

{% comment %} MODAL TO EDIT NOTE {% endcomment %}
<div class="modal fade" id="modalNote" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen-md-down modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editar Nota</h5>
        <button id="deleteThisNote" class="btn btn-outline-danger" href="">Borrar esta nota</button>
        <button type="button" class="btn btn-outline-primary btn-close" onclick="$('#modalNote').modal('hide');" aria-label="Close">&times;</button>
      </div>
      <div class="modal-body" style="margin-left: auto; margin-right: auto">
        <ul id="noteEditFormMessages"></ul>
        <!---->
        <form id="noteEditForm">
          {% csrf_token %}
          <div id="noteFormDiv"></div>
        </form>
        <!---->
      </div>
    </div>
  </div>
</div>

<div class="w3-twothird">
  <div class="w3-container w3-card w3-margin-bottom">
    <h2 class="w3-text-grey w3-padding-16">
      <i class="fa fa-comments fa-fw w3-margin-right w3-xxlarge w3-text-realBlue"></i>
      Notas
      <button id="studentNoteButton" class="btn btn-outline-primary" onclick="studentNote({{ user.id }}, {{ current_user.id }});">Abrir</button>
      <button id="showStudentNoteButton" class="btn btn-outline-primary" onclick="showStudentNote(this);" style="visibility: hidden">Cerrar</button>
      <button id="addNote" style="display: none; margin-left: auto;" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#modalCreateNote" onclick="">Añadir Nota</button>
    </h2>
    <div id="studentNote" class="w3-container" style="display: none; overflow: auto; max-height: 500px;">
      <div id="loadStudentNote"></div>
      <table>
        <thead>
          <tr>
            <th scope="col">Notas</th>
            <th scope="col">Fecha</th>
          </tr>
        </thead>
        <tbody id="studentNoteBody"></tbody>
      </table>
      <div id="loadNote"></div>
      <br>
      <button id="loadMoreNote" onclick="loadNote({{ user.id }}, {{ current_user.id }});" type="button" class="btn btn-outline-primary">Cargar Más</button>
      <br><br>
    </div>
  </div>
</div>
<!-- End Note -->

<script>

$("#noteForm").submit(function (e) {
	e.preventDefault();

	let form = $(this);
	const action = form.attr("action");

	$.ajax({
		type: "POST",
		url: `${mysite}${action}`,
		data: form.serialize(),
		beforeSend: beforeFunc("btnNoteSubmit", "btnNoteLoader", "noteFormMessages"),
		error: (error) => console.log("Error!", error),
		success: function (response) {
			const messages = response.messages.length > 0 ? response.messages : ["Nueva Nota Agregada!"];

			if (response.edited === true) {
				const noteBody = document.querySelector("#studentNoteBody");
				const htmlNote = `<tr id="trNote${response.id}">
            <td>
              <h6>
                <strong id="noteUsername${response.id}">@${response.username}:</strong>
              </h6>
              <p id="note${response.id}">
                ${response.note}
              </p>
            </td>
            <td>
              <span id="noteDate${response.id}">${prettyDate(response.date)}</span>
              <button onclick="editNote(${response.id});" class="btn btn-outline-warning" data-bs-toggle="modal" data-bs-target="#modalNote">✏️</button>

            </td>
          </tr>`;
				noteBody.insertAdjacentHTML("afterbegin", htmlNote);
				$("#modalCreateNote").modal("hide");
			}
			afterFunc("btnNoteSubmit", "btnNoteLoader", "noteFormMessages", messages, response.edited);
		},
	});
});

$("#noteEditForm").submit(function (e) {
	e.preventDefault();

	let form = $(this);
	const action = form.attr("action");

	$.ajax({
		type: "POST",
		url: `${mysite}${action}`,
		data: form.serialize(),

		beforeSend: beforeFunc("btnNoteEditSubmit", "btnNoteEditLoader", "noteEditFormMessages"),

		error: function (error) {
			console.log("Error!", error);
		},

		success: function (response) {
			const messages = response.messages.length > 0 ? response.messages : ["Nota Editada!"];

			if (response.edited === true) {
				document.querySelector(`#trNote${response.id}`).remove();

				const noteBody = document.querySelector("#studentNoteBody");

				const htmlNote = `<tr id="trNote${response.id}">
            <td>
              <h6>
                <strong id="noteUsername${response.id}">@${response.username}:</strong>
              </h6>
              <p id="note${response.id}">
                ${response.note}
              </p>
            </td>
            <td>
              <span id="noteDate${response.id}">${prettyDate(response.date)}</span>
              <button onclick="editNote(${response.id});" class="btn btn-outline-warning" data-bs-toggle="modal" data-bs-target="#modalNote">✏️</button>

            </td>
          </tr>`;

				noteBody.insertAdjacentHTML("afterbegin", htmlNote);
				$("#modalNote").modal("hide");
			}

			afterFunc("btnNoteEditSubmit", "btnNoteEditLoader", "noteEditFormMessages", messages, response.edited);
		},
	});
});

$("#addNote").click(function (e) {
	document.querySelector("#noteFormMessages").classList.remove("alert");

	document.querySelector("#noteFormMessages").classList.remove("alert-danger");

	document.querySelector("#noteFormMessages").classList.remove("alert-success");

	document.querySelector("#noteFormMessages").innerHTML = "";

	$("#id_note").val("");
});

$("#deleteThisNote").click(function (e) {
	let button = $(this);
	const action = button.attr("href");

	fetch(`${mysite}${action}`)
		.then((response) => response.json())
		.then((response) => {
			if (response.deleted) {
				document.querySelector(`#trNote${response.noteID}`).remove();
				$("#modalNote").modal("hide");
			}
		});
});

function loadNote(userID, currentUserID) {
	const start = noteCounter;
	const end = noteCounter + noteQuantity;
	noteCounter = end + 1;

	$.ajax({
		type: "GET",
		url: `${mysite}/users/load_notes/`,
		data: {
			start: start,
			end: end,
			userID: userID,
		},
		beforeSend: beforeFunc("loadMoreNote", "loadNote"),
		error: (error) => console.log("Error!", error),
		success: function (response) {
			//console.log(response);

			if (response.all_loaded === true) {
				allNoteLoaded = true;
			}

			for (let noteID = 0; noteID < response.notes.length; noteID++) {
				$("#studentNoteBody").append(`<tr id="trNote${response.notes[noteID].id}">
            <td>
              <h6>
                <strong id="noteUsername${response.notes[noteID].id}">@${response.notes[noteID].teacher__username}:</strong>
              </h6>
              <p id="note${response.notes[noteID].id}">
                ${response.notes[noteID].note}
              </p>
            </td>
            <td>
              <span id="noteDate${response.notes[noteID].id}">${prettyDate(response.notes[noteID].updated_at)}</span>
              
              ${response.notes[noteID].teacher__id == currentUserID ? `<button onclick="editNote(${response.notes[noteID].id});" class="btn btn-outline-warning" data-bs-toggle="modal" data-bs-target="#modalNote">✏️</button>` : ""}

            </td>
          </tr>`);
			}
			afterFunc("loadMoreNote", "loadNote");
		},
	});
}

function editNote(noteID) {
	fetch(`${mysite}/users/note_info/${noteID}`)
		.then((response) => response.json())
		.then((response) => {
			document.querySelector("#noteEditFormMessages").classList.remove("alert");

			document.querySelector("#noteEditFormMessages").classList.remove("alert-danger");

			document.querySelector("#noteEditFormMessages").classList.remove("alert-success");

			document.querySelector("#noteEditFormMessages").innerHTML = "";

			$("#noteFormDiv").html(response.form);
			$("#noteEditForm").attr("action", `/users/edit_note/${noteID}`);
			$("#deleteThisNote").attr("href", `/users/delete_note/${noteID}`);
			$("#noteFormDiv").append(`<button id="btnNoteEditSubmit" class="btn btn-secondary" type="submit">Guardar</button> \
				<div id="btnNoteEditLoader"></div>`);
		});
}

function studentNote(userID, currentUserID) {
	document.querySelector("#studentNoteButton").style.display = "none";
	document.querySelector("#showStudentNoteButton").style.visibility = "visible";
	document.querySelector("#studentNote").style.display = "block";
	document.querySelector("#addNote").style.display = "block";

	loadNote(userID, currentUserID);
}

function showStudentNote(button) {
	if (document.querySelector(`#studentNote`).style.display === "block") {
		document.querySelector(`#studentNote`).style.display = "none";
		document.querySelector("#addNote").style.display = "none";
		button.innerHTML = "Abrir";
	} else {
		document.querySelector(`#studentNote`).style.display = "block";
		document.querySelector("#addNote").style.display = "block";
		button.innerHTML = "Cerrar";
	}
}

</script>
