<!-- Start Search User -->
<div class="w3-twothird">
  <div class="w3-container w3-card w3-margin-bottom">
    <h2 class="w3-text-grey w3-padding-16">
      <i class="fa fa-search fa-fw w3-margin-right w3-xxlarge w3-text-realBlue"></i>
      Buscar Estudiante
      <button id="showStudentSearchButton" class="btn btn-outline-primary" onclick="showStudentSearch();">Abrir</button>
    </h2>
    <div id="studentSearch" class="w3-container" style="display: none">
      <input id="searchStudents" type="text" class="form-control" placeholder="Buscar Estudiantes"/>
      <br/>
      <div id="searchStudentsLoader"></div>
      <table id="resultsSearchStudentsTable" style="visibility: hidden; background-color: lightyellow">
        <thead>
          <tr>
            <th scope="col">Documento</th>
            <th scope="col">Nombres</th>
            <th scope="col">Apellidos</th>
            <th scope="col">Tel/Cel (1)</th>
            <th scope="col">Tel/Cel (2)</th>
            <th scope="col">Últ. vez</th>
          </tr>
        </thead>
        <tbody id="resultsSearchStudentsTableBody"></tbody>
      </table>
      <br/>
    </div>
  </div>
</div>
<!-- End Search User -->

<script>
  function showStudentSearch() {
    if (document.querySelector("#studentSearch").style.display === "none") {
      document
        .querySelector("#studentSearch")
        .style
        .display = "block";
      document
        .querySelector("#showStudentSearchButton")
        .innerHTML = "Cerrar";
    } else {
      document
        .querySelector("#studentSearch")
        .style
        .display = "none";
      document
        .querySelector("#showStudentSearchButton")
        .innerHTML = "Abrir";
    }
  }

  // This AJAX function searches for students
  $("#searchStudents").keyup(delay(function () {
    $.ajax({
      type: "GET",
      url: `${mysite}/courses/search_students/`,
      data: {
        student: $(this).val()
      },
      beforeSend: function () {
        document
          .querySelector("#resultsSearchStudentsTable")
          .style
          .visibility = "hidden";
        document
          .querySelector("#resultsSearchStudentsTableBody")
          .innerHTML = "";

        document
          .querySelector("#searchStudentsLoader")
          .classList
          .add("loader");
      },
      error: function (error) {
        console.log("Error!", error);
      },
      success: function (response) {
        document
          .querySelector("#resultsSearchStudentsTable")
          .style
          .visibility = "visible";

        document
          .querySelector("#searchStudentsLoader")
          .classList
          .remove("loader");

        for (let studentID in response.students) {

          let login = prettyDate(response.students[studentID].real_last_login);

          login = login && login !== "1969-12-31"
            ? login
            : "Hace más de un mes";

          $("#resultsSearchStudentsTableBody").append(`<tr> \
                                                  <td scope="row" data-label="Documento"> \
                                                      <a href="#" onclick="load_profile_data(${response.students[studentID].id});" data-bs-toggle="modal" data-bs-target="#profileModal">${response.students[studentID].identity_document}</a>\
                                                  </td>\
                                                  <td scope="row" data-label="Nombres">\
                                                      <a href="#" onclick="load_profile_data(${response.students[studentID].id});" data-bs-toggle="modal" data-bs-target="#profileModal">${response.students[studentID].first_name}</a>\
                                                  </td>\
                                                  <td scope="row" data-label="Apellidos">\
                                                      <a href="#" onclick="load_profile_data(${response.students[studentID].id});" data-bs-toggle="modal" data-bs-target="#profileModal">${response.students[studentID].last_name}</a>\
                                                  </td>\
                                                  <td scope="row" data-label="Tel/Cel (1)">\
                                                      <a href="#" onclick="load_profile_data(${response.students[studentID].id});" data-bs-toggle="modal" data-bs-target="#profileModal">${response.students[studentID].phone_1}</a>\
                                                  </td>\
                                                  <td scope="row" data-label="Tel/Cel (2)">\
                                                      <a href="#" onclick="load_profile_data(${response.students[studentID].id});" data-bs-toggle="modal" data-bs-target="#profileModal">${response.students[studentID].phone_2}</a>\
                                                  </td>\
                                                  <td style="border-bottom: 2px solid steelblue;" scope="row" data-label="Últ. vez">\
                                                      <a href="#" onclick="load_profile_data(${response.students[studentID].id});" data-bs-toggle="modal" data-bs-target="#profileModal">${login}</a>\
                                                  </td>\
                                              </tr>`);
        }

        if (response.students.length === 0) {
          $("#resultsSearchStudentsTableBody").append(`<tr> \
                                                  <td scope="row" data-label="Documento"> \
                                                      <a href="#">Sin Resultados</a>\
                                                  </td>\
                                                  <td scope="row" data-label="Nombres">\
                                                      <a href="#">-</a>\
                                                  </td>\
                                                  <td scope="row" data-label="Apellidos">\
                                                      <a href="#">-</a>\
                                                  </td>\
                                                  <td scope="row" data-label="Tel/Cel (1)">\
                                                      <a href="#">-</a>\
                                                  </td>\
                                                  <td scope="row" data-label="Tel/Cel (2)">\
                                                      <a href="#">-</a>\
                                                  </td>\
                                                  <td style="border-bottom: 2px solid steelblue;" scope="row" data-label="Últ. vez">\
                                                      <a href="#">-</a>\
                                                  </td>\
                                              </tr>`);
        }
      }
    });
  }, 1000));
</script>
