<!-- Start Statistics -->
<div class="w3-twothird">
  <div class="w3-container w3-card w3-margin-bottom">
    <h2 class="w3-text-grey w3-padding-16">
      <i class="fa fa-chart-bar fa-fw w3-margin-right w3-xxlarge w3-text-realBlue"></i>
      Estadísticas
      <button id="studentStatisticsButton{% if modal %}Modal{% endif %}" class="btn btn-outline-primary" onclick="studentStatistics({{ user.id }}, {% if modal %}true{% else %}false{% endif %}, {% if current_user.is_admin %}true{% else %}false{% endif %});">Abrir</button>
      <button id="showStudentStatisticsButton{% if modal %}Modal{% endif %}" class="btn btn-outline-primary" onclick="showStudentStatistics({% if modal %}true{% else %}false{% endif %});" style="visibility: hidden">Cerrar</button>
    </h2>
    <div id="studentStatistics{% if modal %}Modal{% endif %}" class="w3-container" style="display: none">
      <div id="loadStudentStatistics{% if modal %}Modal{% endif %}"></div>
      <table>
        <thead>
          <tr>
            <th scope="col">Asistió</th>
            <th scope="col">Faltó</th>
            <th scope="col">Recuperó</th>
            <th scope="col">Puede Recuperar</th>
          </tr>
        </thead>
        <tbody id="studentAttendanceStatsBody{% if modal %}Modal{% endif %}"></tbody>
      </table>
      <br/>

      {% if current_user.is_admin %}
        <table>
          <thead>
            <tr>
              <th scope="col">Pago</th>
              <th scope="col">Pago dia</th>
              <th scope="col">No pago</th>
              <th scope="col">Separado</th>
              <th scope="col">Total</th>
            </tr>
          </thead>
          <tbody id="studentPaymentStatsBody{% if modal %}Modal{% endif %}"></tbody>
        </table>
        <br/>
      {% endif %}
    </div>
  </div>
</div>
<!-- End Statistics -->

<script>
  // MODAL STATISTICS JS
  function studentStatistics(user_id, modal = false, admin = false) {
    $.ajax({
      type: "GET",
      url: `${mysite}/courses/student_statistics/`,
      data: {
        userID: user_id
      },
      beforeSend: function () {
        document
          .querySelector(
            `#studentStatistics${modal
            ? "Modal"
            : ""}`)
          .style
          .display = "block";
        document
          .querySelector(
            `#studentStatisticsButton${modal
            ? "Modal"
            : ""}`)
          .style
          .display = "none";
        document
          .querySelector(
            `#loadStudentStatistics${modal
            ? "Modal"
            : ""}`)
          .classList
          .add("loader");
      },
      error: function (error) {
        console.log("Error!", error);
      },
      success: function (response) {

        document
          .querySelector(
            `#loadStudentStatistics${modal
            ? "Modal"
            : ""}`)
          .classList
          .remove("loader");

        document
          .querySelector(
            `#showStudentStatisticsButton${modal
            ? "Modal"
            : ""}`)
          .style
          .visibility = "visible";

        $(
          `#studentAttendanceStatsBody${modal
          ? "Modal"
          : ""}`).append(`<tr> \
                                                <td scope="row" data-label="Asistió"> \
                                                    ${response.attended}\
                                                </td>\
                                                <td scope="row" data-label="Faltó">\
                                                    ${response.failed}\
                                                </td>\
                                                <td scope="row" data-label="Recuperó">\
                                                    ${response.recovered}\
                                                </td>\
                                                <td style="border-bottom: 2px solid steelblue;" scope="row" data-label="Puede Recuperar">\
                                                    ${response.can_recover}\
                                                </td>\
                                            </tr>`);

        if (admin) {
          $(
            `#studentPaymentStatsBody${modal
            ? "Modal"
            : ""}`).append(`<tr> \
                                                <td scope="row" data-label="Pago"> \
                                                    ${response.paid}\
                                                </td>\
                                                <td scope="row" data-label="Pago Día">\
                                                    ${response.onlyday}\
                                                </td>\
                                                <td scope="row" data-label="No pago">\
                                                    ${response.n_paid}\
                                                </td>\
                                                <td scope="row" data-label="Separado">\
                                                    ${response.sep}\
                                                </td>\
                                                <td style="border-bottom: 2px solid steelblue;" scope="row" data-label="Total">\
                                                    ${response.total}\
                                                </td>\
                                            </tr>`);
        }
      }
    });
  }

  function showStudentStatistics(modal = false) {
    if (document.querySelector(
      `#studentStatistics${modal
      ? "Modal"
      : ""}`).style.display === "none") {
      document
        .querySelector(
          `#studentStatistics${modal
          ? "Modal"
          : ""}`)
        .style
        .display = "block";
      document
        .querySelector(
          `#showStudentStatisticsButton${modal
          ? "Modal"
          : ""}`)
        .innerHTML = "Cerrar";
    } else {
      document
        .querySelector(
          `#studentStatistics${modal
          ? "Modal"
          : ""}`)
        .style
        .display = "none";
      document
        .querySelector(
          `#showStudentStatisticsButton${modal
          ? "Modal"
          : ""}`)
        .innerHTML = "Abrir";
    }
  }
</script>